flows/AccountContract_Lookup_Test.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Care_Checkbox</name>
        <label>Change Care</label>
        <locationX>721</locationX>
        <locationY>96</locationY>
        <assignmentItems>
            <assignToReference>CareStatus_ToSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CareWord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckLevel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Care_Status</name>
        <label>Change Care+ Status</label>
        <locationX>531</locationX>
        <locationY>282</locationY>
        <assignmentItems>
            <assignToReference>CareStatus_ToSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CarePlusWord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Care_Checkbox</name>
        <label>Remove Care</label>
        <locationX>312</locationX>
        <locationY>59</locationY>
        <assignmentItems>
            <assignToReference>AccountRecord.Care_Customer_Weighting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckLevel</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Active</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </constants>
    <constants>
        <name>CarePlusWord</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Care+</stringValue>
        </value>
    </constants>
    <constants>
        <name>CareWord</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Care</stringValue>
        </value>
    </constants>
    <decisions>
        <name>ContractAvail</name>
        <label>ContractAvail?</label>
        <locationX>531</locationX>
        <locationY>173</locationY>
        <defaultConnector>
            <targetReference>Doe_CareStatus_ToSet_Have_a_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Care</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>LoopContracts.Service_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopContracts.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Care_Checkbox</targetReference>
            </connector>
            <label>Care</label>
        </rules>
        <rules>
            <name>Care_Plus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopContracts.Service_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopContracts.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Care_Status</targetReference>
            </connector>
            <label>Care+</label>
        </rules>
    </decisions>
    <decisions>
        <name>Doe_CareStatus_ToSet_Have_a_Value</name>
        <label>Does CareStatus_ToSet Have a Value?</label>
        <locationX>524</locationX>
        <locationY>70</locationY>
        <defaultConnector>
            <targetReference>Remove_Care_Checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CareStatus_ToSet</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckLevel</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>AccountContract Lookup Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountContract Lookup</label>
    <loops>
        <name>CheckLevel</name>
        <label>CheckLevel</label>
        <locationX>311</locationX>
        <locationY>165</locationY>
        <assignNextValueToReference>LoopContracts</assignNextValueToReference>
        <collectionReference>ContractsOnAccount</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>ContractAvail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>11</locationX>
        <locationY>167</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contracts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>CareCustomerField</assignToReference>
            <field>Care_Customer_Weighting__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts</name>
        <label>Get Contracts</label>
        <locationX>144</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckLevel</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Level__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>ServiceContract</object>
        <outputReference>ContractsOnAccount</outputReference>
        <queriedFields>Status</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>Service_Level__c</queriedFields>
        <queriedFields>Line_Type__c</queriedFields>
        <sortField>Status</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccount</name>
        <label>UpdateAccount</label>
        <locationX>316</locationX>
        <locationY>278</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Care_Customer_Weighting__c</field>
            <value>
                <elementReference>CareStatus_ToSet</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Get_Account</startElementReference>
    <status>Draft</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CareCustomerField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CareStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CareStatus_ToSet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CareStatusCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContractsOnAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceContract</objectType>
    </variables>
    <variables>
        <name>LoopContracts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceContract</objectType>
    </variables>
</Flow>
