flows/Add_Team_Member_For_Owner.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>OTM_Check</name>
        <label>OTM Check</label>
        <locationX>112</locationX>
        <locationY>381</locationY>
        <defaultConnector>
            <targetReference>Make_OTM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OTM_Already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OTM_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>OTM Already</label>
        </rules>
    </decisions>
    <description>Some Opps Don&apos;t have an Opp Team Member for the Owner. This will create them. Triggered from Process Builder.</description>
    <interviewLabel>Add Team Member For Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Team Member For Owner</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Make_OTM</name>
        <label>Make OTM</label>
        <locationX>116</locationX>
        <locationY>508</locationY>
        <assignRecordIdToReference>NewOTM</assignRecordIdToReference>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>All</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Opp_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Sales Rep</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
    </recordCreates>
    <recordLookups>
        <name>Owner_Team_Member_Find</name>
        <label>Owner Team Member Find</label>
        <locationX>111</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OTM_Check</targetReference>
        </connector>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opp_Id</elementReference>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
        <outputAssignments>
            <assignToReference>OTM_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Owner_Team_Member_Find</startElementReference>
    <status>Active</status>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewOTM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opp_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OTM_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
