flows/Asset_Contract_Value_Lookup.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Value</name>
        <label>Set Value</label>
        <locationX>374</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>ContractValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaValueMAX</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Revenue</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ActiveWord</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Find_Contract_Line_Items</name>
        <label>Find Contract Line Items?</label>
        <locationX>63</locationX>
        <locationY>298</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Revenue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <name>FormulaValueMAX</name>
        <dataType>Number</dataType>
        <expression>MAX({!ContractValue}, {!LoopContractLineItem.Contract_Value__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Asset Contract Value Lookup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset Contract Value Lookup</label>
    <loops>
        <name>Check_Revenue</name>
        <label>Check Revenue</label>
        <locationX>253</locationX>
        <locationY>297</locationY>
        <assignNextValueToReference>LoopContractLineItem</assignNextValueToReference>
        <collectionReference>ContractLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Value</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Asset</name>
        <label>Lookup Asset</label>
        <locationX>64</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Contract_Lines</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetID</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>AssetRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contract_Lines</name>
        <label>Lookup Contract Lines</label>
        <locationX>64</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Contract_Line_Items</targetReference>
        </connector>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActiveWord</elementReference>
            </value>
        </filters>
        <object>ContractLineItem</object>
        <outputReference>ContractLineItems</outputReference>
        <queriedFields>Contract_Value__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>Service_Level__c</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <startElementReference>Lookup_Asset</startElementReference>
    <status>Active</status>
    <variables>
        <name>AssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>ContractLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>ContractLineRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>ContractValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LoopContractLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
</Flow>
