flows/Asset_Clone_Create_UAT_Asset.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_to_New_Asset</name>
        <label>Assign to New Asset</label>
        <locationX>164</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>NewAssetRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Specific_Differences</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Flow is dumb so need to commit old changes before updating the original record</description>
        <name>Update_Original_Record</name>
        <label>Update Original Record</label>
        <locationX>294</locationX>
        <locationY>444</locationY>
        <assignmentItems>
            <assignToReference>Asset_Record.SerialNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>returnNewSerialNumberProduction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Record.Has_Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Specific_Differences</name>
        <label>Update Specific Differences</label>
        <locationX>166</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>NewAssetRecord.SerialNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>returnNewSerialNumberUAT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>returnNewAssetName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetRecord.Environment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_UAT_Asset</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>returnNewAssetName</name>
        <dataType>String</dataType>
        <expression>{!NewAssetRecord.Name}&amp;&quot;-UAT&quot;</expression>
    </formulas>
    <formulas>
        <name>returnNewSerialNumberProduction</name>
        <dataType>String</dataType>
        <expression>IF (ISBLANK({!Asset_Record.SerialNumber}),&quot;PRODUCTION&quot;, IF (CONTAINS( {!Asset_Record.SerialNumber}, &quot;-PRODUCTION&quot;), {!Asset_Record.SerialNumber}, {!Asset_Record.SerialNumber}&amp;&quot;-PRODUCTION&quot;))</expression>
    </formulas>
    <formulas>
        <name>returnNewSerialNumberUAT</name>
        <dataType>String</dataType>
        <expression>IF ( ISBLANK({!Asset_Record.SerialNumber}),&quot;UAT&quot;, 
IF (CONTAINS({!Asset_Record.SerialNumber}, &quot;PRODUCTION&quot;), SUBSTITUTE({!Asset_Record.SerialNumber},&quot;PRODUCTION&quot;,&quot;UAT&quot;),{!NewAssetRecord.SerialNumber}&amp;&quot;-UAT&quot; ))</expression>
    </formulas>
    <interviewLabel>Asset - Clone &amp; Create UAT Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset - Clone &amp; Create UAT Asset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_UAT_Asset</name>
        <label>Create New UAT Asset</label>
        <locationX>169</locationX>
        <locationY>594</locationY>
        <connector>
            <targetReference>Update_Original_Record</targetReference>
        </connector>
        <inputReference>NewAssetRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Asset_Record</name>
        <label>Asset Record</label>
        <locationX>166</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_New_Asset</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Asset</name>
        <label>Update Existing Asset</label>
        <locationX>297</locationX>
        <locationY>592</locationY>
        <inputReference>Asset_Record</inputReference>
    </recordUpdates>
    <startElementReference>Asset_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>NewAssetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
