flows/Bug_Convert_MR_Tracker_to_Jira_Type.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Jira</name>
        <label>Assign Jira</label>
        <locationX>679</locationX>
        <locationY>169</locationY>
        <assignmentItems>
            <assignToReference>Bug_Record.Bug_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_know_the_Jira_If_so_enter_it_here</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>298</locationX>
        <locationY>322</locationY>
        <assignmentItems>
            <assignToReference>Bug_Record.Jira_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bug_Record.Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bug_Record.Jira_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bug_Record.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bug_Record.Old_Bug_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bug_Record.Bug_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bug_Record.Jira_Component_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bug_Record.EPIC_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>XGPT-7153</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>I_have_a_question</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Bug_Number</name>
        <label>Clear Bug Number</label>
        <locationX>568</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>Bug_Record.Bug_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_they_answer</name>
        <label>Did they answer?</label>
        <locationX>451</locationX>
        <locationY>182</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_know_the_Jira_If_so_enter_it_here</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Jira</targetReference>
            </connector>
            <label>Yes Answer</label>
        </rules>
        <rules>
            <name>No_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_know_the_Jira_If_so_enter_it_here</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Bug_Number</targetReference>
            </connector>
            <label>No Answer</label>
        </rules>
    </decisions>
    <interviewLabel>Bug - Convert MR Tracker to Jira Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bug - Convert MR Tracker to Jira Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Bug_Record</name>
        <label>Bug Record</label>
        <locationX>167</locationX>
        <locationY>184</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BugId</elementReference>
            </value>
        </filters>
        <object>Bug__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>700</locationX>
        <locationY>361</locationY>
        <inputReference>Bug_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>I_have_a_question</name>
        <label>I have a question</label>
        <locationX>303</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_they_answer</targetReference>
        </connector>
        <fields>
            <name>Do_you_know_the_Jira_If_so_enter_it_here</name>
            <dataType>String</dataType>
            <fieldText>Do you know the Jira #?  If so enter it here.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Text</name>
            <fieldText>&lt;p&gt;After this step the Bug Record will be converted to a Jira Cloud type.  YOU MUST ASSOCIATE THIS WITH AN EXISTING JIRA ISSUE TO GET UPDATES.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Bug_Record</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>170</locationX>
        <locationY>316</locationY>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <flowName>RecordTypeID_Lookup_Subflow</flowName>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Bug__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <stringValue>Integrated_Jira_Cloud</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Bug_Record.RecordTypeId</assignToReference>
            <name>RecordTypeID15</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>BugId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
