flows/Bug_Create_Cloud_Jira_MS.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <description>this is because of the previous debug logic.  don&apos;t want to have to go through and update all the assignments</description>
        <name>Assign_Case_to_Case_Record</name>
        <label>Assign Case to Case Record</label>
        <locationX>332</locationX>
        <locationY>304</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Request_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Environment_Field</name>
        <label>Assign Environment Field</label>
        <locationX>226</locationX>
        <locationY>1020</locationY>
        <assignmentItems>
            <assignToReference>BugRecord.Environment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Environment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Bug_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Environment_Other_Field</name>
        <label>Assign Environment Other Field</label>
        <locationX>745</locationX>
        <locationY>975</locationY>
        <assignmentItems>
            <assignToReference>BugRecord.Environment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Environment_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Bug_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>630</locationX>
        <locationY>843</locationY>
        <assignmentItems>
            <assignToReference>BugRecord.Jira_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Jira_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Issue_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Issue_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Entitlement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Entitlement.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Affects_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Affects_Version</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Hosting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hosting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Jira_Component__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce Issue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Case_Last_Case_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCommentsCombined</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Jira_Sync__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Product_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Product_Class__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Environment_Set_to_Other</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_Debug_Route</name>
        <label>Assign Values Debug Route</label>
        <locationX>115</locationX>
        <locationY>667</locationY>
        <assignmentItems>
            <assignToReference>BugRecord.Jira_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Jira_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Issue_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Issue_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Environment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Environment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Entitlement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCase.Entitlement.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Affects_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Affects_Version</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Hosting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hosting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Jira_Component__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce Issue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Case_Last_Case_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCommentsCombined</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Unique_Flow_Identifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UniqueId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Product_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Product_Class__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Bug_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_without_Entitlement</name>
        <label>Assign Values without Entitlement</label>
        <locationX>339</locationX>
        <locationY>800</locationY>
        <assignmentItems>
            <assignToReference>BugRecord.Jira_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Jira_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Issue_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Issue_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Affects_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Affects_Version</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Hosting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hosting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Case_Last_Case_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCommentsCombined</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Jira_Sync__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Unique_Flow_Identifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UniqueId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BugRecord.Product_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Product_Class__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Environment_Set_to_Other</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChangeChoice</name>
        <choiceText>Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>DEVChoice</name>
        <choiceText>DEV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DEV</stringValue>
        </value>
    </choices>
    <choices>
        <name>DRChoice</name>
        <choiceText>DR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DR</stringValue>
        </value>
    </choices>
    <choices>
        <name>IncidentChoice</name>
        <choiceText>Incident</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Incident</stringValue>
        </value>
    </choices>
    <choices>
        <name>OtherChoice</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>What is the other Environment</promptText>
        </userInput>
    </choices>
    <choices>
        <name>Pre_ProdChoice</name>
        <choiceText>Pre-Prod</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pre-Prod</stringValue>
        </value>
    </choices>
    <choices>
        <name>PRODChoice</name>
        <choiceText>PROD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PROD</stringValue>
        </value>
    </choices>
    <choices>
        <name>QATChoice</name>
        <choiceText>QAT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QAT</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServiceRequestChoice</name>
        <choiceText>Service Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>StagingChoice</name>
        <choiceText>Staging</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Staging</stringValue>
        </value>
    </choices>
    <choices>
        <name>UATChoice</name>
        <choiceText>UAT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UAT</stringValue>
        </value>
    </choices>
    <constants>
        <name>conEmptyString</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Does_the_case_have_an_entitlement</name>
        <label>Does the case have an entitlement?</label>
        <locationX>475</locationX>
        <locationY>802</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_without_Entitlement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Entitlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Entitlement</targetReference>
            </connector>
            <label>Yes Entitlement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Environment_Set_to_Other</name>
        <label>Is Environment Set to Other?</label>
        <locationX>470</locationX>
        <locationY>960</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Environment_is_from_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Environment</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OtherChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Environment_Field</targetReference>
            </connector>
            <label>No Environment is from List</label>
        </rules>
        <rules>
            <name>Yes_Environment_is_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Environment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OtherChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Environment_Other_Field</targetReference>
            </connector>
            <label>Yes Environment is Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Make_sure_we_didn_t_fail</name>
        <label>Make sure we didn&apos;t fail</label>
        <locationX>475</locationX>
        <locationY>664</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_Debug_Route</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BugRecord.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_Debug_Route</targetReference>
            </connector>
            <label>Need Debug Route</label>
        </rules>
        <rules>
            <name>All_Good</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BugRecord.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_the_case_have_an_entitlement</targetReference>
            </connector>
            <label>All Good</label>
        </rules>
    </decisions>
    <decisions>
        <description>probably don&apos;t need this bug keeping JUST IN CASE</description>
        <name>Record_Or_ID</name>
        <label>Record Or ID?</label>
        <locationX>478</locationX>
        <locationY>192</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Information</targetReference>
            </connector>
            <label>Case Record</label>
        </rules>
        <rules>
            <name>CaseId_incoming</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCase</targetReference>
            </connector>
            <label>CaseId</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BugTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Issue_Type__c</picklistField>
        <picklistObject>Bug__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ComponentPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Jira_Component__c</picklistField>
        <picklistObject>Bug__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EnvironmentPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Environment__c</picklistField>
        <picklistObject>Bug__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HostingPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Hosting__c</picklistField>
        <picklistObject>Bug__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Bug - Create Cloud Jira MS Bug {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bug - Create Cloud Jira MS Issue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Bug_Record</name>
        <label>Create Bug Record</label>
        <locationX>426</locationX>
        <locationY>1284</locationY>
        <connector>
            <targetReference>Bug_Created</targetReference>
        </connector>
        <inputReference>BugRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Entitlement</name>
        <label>Get Entitlement</label>
        <locationX>636</locationX>
        <locationY>736</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.EntitlementId</elementReference>
            </value>
        </filters>
        <object>Entitlement</object>
    </recordLookups>
    <recordLookups>
        <name>GetCase</name>
        <label>GetCase</label>
        <locationX>333</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_to_Case_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordLookups>
    <screens>
        <name>Bug_Created</name>
        <label>Bug Created</label>
        <locationX>550</locationX>
        <locationY>1283</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CompleteScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;We&apos;re now going to create the Salesforce Record for you.  You will still need to click&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; CREATE JIRA ISSUE&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; once this is created.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;(If you are using the sandbox test system, click here instead - &lt;/span&gt;&lt;a href=&quot;https://imaginecommunications--test.my.salesforce.com/{!BugRecord.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 10px;&quot;&gt;https://imaginecommunications--test.my.salesforce.com/{!BugRecord.Id}&lt;/a&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;  )&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_Information</name>
        <label>Request Information</label>
        <locationX>483</locationX>
        <locationY>302</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Call_Comment_Collector</targetReference>
        </connector>
        <fields>
            <name>Issue_Type</name>
            <choiceReferences>IncidentChoice</choiceReferences>
            <choiceReferences>ServiceRequestChoice</choiceReferences>
            <choiceReferences>ChangeChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Issue Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Environment</name>
            <choiceReferences>PRODChoice</choiceReferences>
            <choiceReferences>Pre_ProdChoice</choiceReferences>
            <choiceReferences>DRChoice</choiceReferences>
            <choiceReferences>QATChoice</choiceReferences>
            <choiceReferences>UATChoice</choiceReferences>
            <choiceReferences>DEVChoice</choiceReferences>
            <choiceReferences>StagingChoice</choiceReferences>
            <choiceReferences>OtherChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Environment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Affects_Version</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseRecord.Reported_Version__c</elementReference>
            </defaultValue>
            <fieldText>Affects Version</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Hosting</name>
            <choiceReferences>HostingPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Hosting</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Title_Subject</name>
            <dataType>String</dataType>
            <fieldText>Title/Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Record_Or_ID</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Call_Comment_Collector</name>
        <label>Call Comment Collector</label>
        <locationX>482</locationX>
        <locationY>421</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <flowName>Case_Comment_Collector</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>CaseRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCommentsCombined</assignToReference>
            <name>varCommentsCombined</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>481</locationX>
        <locationY>543</locationY>
        <connector>
            <targetReference>Make_sure_we_didn_t_fail</targetReference>
        </connector>
        <flowName>RecordTypeID_Lookup_Subflow</flowName>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Bug__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <stringValue>Integrated_Jira_Cloud_MS</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BugRecord.RecordTypeId</assignToReference>
            <name>RecordTypeID15</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>CommentTemplate</name>
        <text>{!CommentsInLoop.CreatedDate} - {!CommentsInLoop.CommentBody}{!conEmptyString}
{!conEmptyString}</text>
    </textTemplates>
    <variables>
        <name>BugRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Bug__c</objectType>
    </variables>
    <variables>
        <description>For Debug</description>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CommentsInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>UniqueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAffectsVersion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCommentsCombined</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
