flows/Bug_Create_Jira_Comments.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Bug_Values</name>
        <label>Assign Bug Values</label>
        <locationX>124</locationX>
        <locationY>675</locationY>
        <assignmentItems>
            <assignToReference>JiraComments.Bug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bug_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JiraComments.Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JiraComments.Comment_Direction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SF -&gt; Jira</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JiraComments.Jira_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Jira_Comments_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Commit_Values</name>
        <label>Assign Commit Values</label>
        <locationX>356</locationX>
        <locationY>680</locationY>
        <assignmentItems>
            <assignToReference>JiraComments.Customer_Commitment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Commitment_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JiraComments.Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JiraComments.Comment_Direction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SF -&gt; Jira</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JiraComments.Jira_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Jira_Comments_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Bug_TRUE</name>
        <label>Bug TRUE</label>
        <locationX>101</locationX>
        <locationY>387</locationY>
        <assignmentItems>
            <assignToReference>varBug</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Comments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Commit_TRUE</name>
        <label>Commit TRUE</label>
        <locationX>353</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>varCommit</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Comments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Get_Record</name>
        <label>Get Record?</label>
        <locationX>218</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Commitment_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Record_Bug</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bug_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bug_TRUE</targetReference>
            </connector>
            <label>Yes Record - Bug</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Way</name>
        <label>Which Way?</label>
        <locationX>230</locationX>
        <locationY>591</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bug</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBug</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bug_Values</targetReference>
            </connector>
            <label>Bug</label>
        </rules>
        <rules>
            <name>Commit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCommit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Commit_Values</targetReference>
            </connector>
            <label>Commit</label>
        </rules>
    </decisions>
    <interviewLabel>Bug - Create Jira Comments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bug - Create Jira Comments</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Jira_Comments_Record</name>
        <label>Jira Comments Record</label>
        <locationX>234</locationX>
        <locationY>791</locationY>
        <inputReference>JiraComments</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Bug_Record</name>
        <label>Bug Record</label>
        <locationX>176</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Commitment_Record</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Bug__c</object>
    </recordLookups>
    <recordLookups>
        <name>Commitment_Record</name>
        <label>Commitment Record</label>
        <locationX>355</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Commit_TRUE</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Customer_Commitments__c</object>
    </recordLookups>
    <screens>
        <name>Enter_Comments</name>
        <label>Enter Comments</label>
        <locationX>239</locationX>
        <locationY>457</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Way</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;New Comment&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comments_Text</name>
            <fieldText>Comments Text</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Bug_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>JiraComments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Jira_Comments__c</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBug</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varCommit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
