flows/Bug_System_Integration_Management_Start_Here.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <description>this goes to jira proper</description>
        <name>CustomerQuestion</name>
        <choiceText>Customer Question</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>question</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServiceDeskIncident</name>
        <choiceText>Service Desk Incident</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>incident</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Did_we_get_a_bug_record</name>
        <label>Did we get a bug record?</label>
        <locationX>976</locationX>
        <locationY>184</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_Bug_is_here_show_the_screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BugRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FinishScreen</targetReference>
            </connector>
            <label>Yup Bug is here show the screen!</label>
        </rules>
        <rules>
            <name>No_Bug</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BugRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Bug :(</label>
        </rules>
    </decisions>
    <decisions>
        <name>Incident_or_Question</name>
        <label>Incident or Question?</label>
        <locationX>364</locationX>
        <locationY>694</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Incident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_a_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ServiceDeskIncident</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Create_Cloud_Jira_MS_Issue_Flow</targetReference>
            </connector>
            <label>Incident</label>
        </rules>
        <rules>
            <name>Question</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_a_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerQuestion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Create_Cloud_Jira_Bug_Flow</targetReference>
            </connector>
            <label>Question</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product</name>
        <label>Product</label>
        <locationX>41</locationX>
        <locationY>419</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Managed_Services_Landmark_OSI_Sales</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Product_Class.Oracle_Class_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>221</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Class.Oracle_Class_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>202</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Class.Oracle_Class_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>222</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Class.Oracle_Class_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>302</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Class.Oracle_Class_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>124</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Class.Oracle_Class_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>321</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Landmark_OSI_Sales_Type_Choice</targetReference>
            </connector>
            <label>Managed Services/Landmark OSI Sales</label>
        </rules>
        <rules>
            <name>Network</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Class.Service_Pillar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Networking</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Create_JIRA_Bug_P_N</targetReference>
            </connector>
            <label>Network</label>
        </rules>
        <rules>
            <name>Playout</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Class.Service_Pillar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Playout</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Create_Cloud_Jira_Bug_Flow</targetReference>
            </connector>
            <label>Playout</label>
        </rules>
        <rules>
            <name>AdTech_General</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Class.Service_Pillar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AdTech</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Create_Cloud_Jira_Bug_Flow</targetReference>
            </connector>
            <label>AdTech General</label>
        </rules>
    </decisions>
    <description>The chooser for the record type and bug system integration based on Product Family</description>
    <interviewLabel>Bug System Integration Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bug System Integration Management - Start Here</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Case_Record</name>
        <label>Case Record</label>
        <locationX>171</locationX>
        <locationY>264</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Class</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordLookups>
    <recordLookups>
        <name>Product_Class</name>
        <label>Product Class</label>
        <locationX>48</locationX>
        <locationY>264</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Record.Product_Class__c</elementReference>
            </value>
        </filters>
        <object>Product_Class__c</object>
    </recordLookups>
    <screens>
        <name>FinishScreen</name>
        <label>FinishScreen</label>
        <locationX>1174</locationX>
        <locationY>177</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirectFlow</name>
            <extensionName>c:redirectFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>BugRecord.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Landmark_OSI_Sales_Type_Choice</name>
        <label>Landmark OSI Sales Type Choice</label>
        <locationX>176</locationX>
        <locationY>652</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Incident_or_Question</targetReference>
        </connector>
        <fields>
            <name>OSI_Type</name>
            <fieldText>&lt;p&gt;Hi there!  Do you want to create an issue for Dev or a Service Desk issue?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Extra_Warning</name>
            <fieldText>&lt;p&gt;NOTE:  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To raise an issue with R&amp;amp;D choose &quot;Customer Question&quot;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To raise a Service Desk issue choose &quot;Service Desk Incident&quot;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_a_Type</name>
            <choiceReferences>CustomerQuestion</choiceReferences>
            <choiceReferences>ServiceDeskIncident</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose a Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Case_Record</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Call_Create_Cloud_Jira_Bug_Flow</name>
        <label>Call Create Cloud Jira Bug Flow</label>
        <locationX>603</locationX>
        <locationY>424</locationY>
        <connector>
            <targetReference>Did_we_get_a_bug_record</targetReference>
        </connector>
        <flowName>Create_Cloud_JIRA_Bug</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>Case_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UniqueId</name>
            <value>
                <elementReference>UniqueId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BugRecord</assignToReference>
            <name>BugRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Call_Create_Cloud_Jira_MS_Issue_Flow</name>
        <label>Call Create Cloud Jira MS Issue Flow</label>
        <locationX>822</locationX>
        <locationY>716</locationY>
        <connector>
            <targetReference>Did_we_get_a_bug_record</targetReference>
        </connector>
        <flowName>Bug_Create_Cloud_Jira_MS</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>Case_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UniqueId</name>
            <value>
                <elementReference>UniqueId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BugRecord</assignToReference>
            <name>BugRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Call_Create_JIRA_Bug_P_N</name>
        <label>Call Create JIRA Bug (P&amp;N)</label>
        <locationX>448</locationX>
        <locationY>564</locationY>
        <connector>
            <targetReference>Did_we_get_a_bug_record</targetReference>
        </connector>
        <flowName>Create_JIRA_Bug</flowName>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BugRecord</assignToReference>
            <name>BugRecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>BugId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BugRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Bug__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UniqueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
