flows/Bug_Create_NonIntegrated_Button.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Values</name>
        <label>Set Values</label>
        <locationX>167</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>Bug.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bug.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012i0000000xw9m</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bug.Planned_Completion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Resolution_Milestone_Target_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bug.Case_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Bug</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Bug - Create NonIntegrated Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bug - Create NonIntegrated Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Bug</name>
        <label>Create Bug</label>
        <locationX>158</locationX>
        <locationY>429</locationY>
        <inputReference>Bug</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Case</name>
        <label>Case</label>
        <locationX>173</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Values</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordLookups>
    <startElementReference>Case</startElementReference>
    <status>Active</status>
    <variables>
        <name>Bug</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bug__c</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
