flows/Bug_Process_Automation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Post_on_Case</name>
        <label>Chatter Post on Case</label>
        <locationX>806</locationX>
        <locationY>351</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>P_N_or_AdTech</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>CasesinLoop.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>internalUsers</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Post_on_Case_0</name>
        <label>Chatter Post on Case</label>
        <locationX>420</locationX>
        <locationY>619</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Loop_Through_Cases_0</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterCommentTest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>CasesinLoop.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>internalUsers</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Alert_Email</name>
        <label>Send Alert Email</label>
        <locationX>1193</locationX>
        <locationY>194</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>OwnerEmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Jira has updated your case</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assign_jira_status_variable</name>
        <label>assign jira status variable</label>
        <locationX>491</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>JIRAstatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BugRecord.Jira_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>P_N_or_AdTech_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status</name>
        <label>Assign Status</label>
        <locationX>974</locationX>
        <locationY>466</locationY>
        <assignmentItems>
            <assignToReference>CasesinLoop.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasesinLoop.Status_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_to_assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_to_assign</name>
        <label>Update to assign</label>
        <locationX>973</locationX>
        <locationY>340</locationY>
        <assignmentItems>
            <assignToReference>CaseToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CasesinLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CasesinLoop.Owners_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Change_type</name>
        <label>Change type</label>
        <locationX>365</locationX>
        <locationY>394</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varChangeType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Status</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_jira_status_variable</targetReference>
            </connector>
            <label>Status</label>
        </rules>
        <rules>
            <name>Comment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varChangeType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cases_0</targetReference>
            </connector>
            <label>Comment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_Cases</name>
        <label>Do we have Cases?</label>
        <locationX>752</locationX>
        <locationY>191</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Cases</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>We&apos;re only updating the status to open on P&amp;N</description>
        <name>P_N_or_AdTech</name>
        <label>P&amp;N or AdTech</label>
        <locationX>808</locationX>
        <locationY>472</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>P_N</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CasesinLoop.Product_Line__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Media Software</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status</targetReference>
            </connector>
            <label>P&amp;N</label>
        </rules>
        <rules>
            <name>AdTech</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CasesinLoop.Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Media Software</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Cases</targetReference>
            </connector>
            <label>AdTech</label>
        </rules>
    </decisions>
    <decisions>
        <description>We&apos;re only updating the status to open on P&amp;N</description>
        <name>P_N_or_AdTech_0</name>
        <label>P&amp;N or AdTech</label>
        <locationX>565</locationX>
        <locationY>84</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>P_N_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CasesinLoop.Product_Line__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Media Software</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_the_JIRA_status</targetReference>
            </connector>
            <label>P&amp;N</label>
        </rules>
        <rules>
            <name>AdTech_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CasesinLoop.Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Media Software</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_the_JIRA_status_0</targetReference>
            </connector>
            <label>AdTech</label>
        </rules>
    </decisions>
    <decisions>
        <description>New doesn&apos;t go anywhere</description>
        <name>What_is_the_JIRA_status</name>
        <label>What is the JIRA status?</label>
        <locationX>522</locationX>
        <locationY>448</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Awaiting_Field_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JIRAstatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Field Validation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cases</targetReference>
            </connector>
            <label>Awaiting Field Validation</label>
        </rules>
        <rules>
            <name>Awaiting_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JIRAstatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Response</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cases</targetReference>
            </connector>
            <label>Awaiting Response</label>
        </rules>
        <rules>
            <name>CLOSED</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>JIRAstatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CLOSED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>JIRAstatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Done</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cases</targetReference>
            </connector>
            <label>CLOSED/Done</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JIRAstatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cases</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JIRAstatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <description>New doesn&apos;t go anywhere</description>
        <name>What_is_the_JIRA_status_0</name>
        <label>What is the JIRA status?</label>
        <locationX>706</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Get_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Everything Else</defaultConnectorLabel>
        <rules>
            <name>New_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JIRAstatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <label>New</label>
        </rules>
    </decisions>
    <description>Updates user on chatter about bug status change and for P&amp;N flips case to Open.</description>
    <interviewLabel>Bug Process Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bug - Status Notificaiton and Automation</label>
    <loops>
        <name>Loop_Through_Cases</name>
        <label>Loop Through Cases</label>
        <locationX>903</locationX>
        <locationY>186</locationY>
        <assignNextValueToReference>CasesinLoop</assignNextValueToReference>
        <collectionReference>CaseCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Chatter_Post_on_Case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Cases_0</name>
        <label>Loop Through Cases</label>
        <locationX>277</locationX>
        <locationY>618</locationY>
        <assignNextValueToReference>CasesinLoop</assignNextValueToReference>
        <collectionReference>CaseCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Chatter_Post_on_Case_0</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Bug</name>
        <label>Get Bug</label>
        <locationX>373</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BugID</elementReference>
            </value>
        </filters>
        <object>Bug__c</object>
        <outputReference>BugRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Case__c</queriedFields>
        <queriedFields>Jira_Status__c</queriedFields>
        <queriedFields>Bug_Number__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Cases</name>
        <label>Get Cases</label>
        <locationX>645</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_we_have_Cases</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BugRecord.Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Owners_Email__c</queriedFields>
        <queriedFields>Product_Line__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Status_Detail__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Cases_0</name>
        <label>Get Cases</label>
        <locationX>236</locationX>
        <locationY>474</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Cases_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BugRecord.Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Owners_Email__c</queriedFields>
        <queriedFields>Product_Line__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Status_Detail__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cases</name>
        <label>Update Cases</label>
        <locationX>1049</locationX>
        <locationY>194</locationY>
        <inputReference>CaseToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Get_Bug</startElementReference>
    <status>Obsolete</status>
    <textTemplates>
        <name>ChatterCommentTest</name>
        <text>@[{!CasesinLoop.OwnerId}] A comment has been added for {!BugRecord.Bug_Number__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>ChatterText</name>
        <text>@[{!CasesinLoop.OwnerId}]  The status of {!BugRecord.Bug_Number__c} has been updated to {!BugRecord.Status__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>EmailTemplate</name>
        <text>A Case has been updated automatically to Open because Bug #{!BugRecord.Bug_Number__c} changed status to {!BugRecord.Jira_Status__c}.  
CASE:  https://imaginecommunications.my.salesforce.com/{!BugRecord.Case__c}
BUG:   https://imaginecommunications.my.salesforce.com/{!BugRecord.Id}</text>
    </textTemplates>
    <variables>
        <name>BugID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BugRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Bug__c</objectType>
    </variables>
    <variables>
        <name>CaseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CasesinLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>JIRAstatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerEmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varChangeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Status</stringValue>
        </value>
    </variables>
</Flow>
