flows/Calculate_Order_PS_Section.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_PS_Rollups</name>
        <label>Calculate PS Rollups</label>
        <locationX>929</locationX>
        <locationY>422</locationY>
        <actionName>CalculateOrderRollups</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>orderIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Calculate_PS_Rollups_in_Loop_TEST</name>
        <label>Calculate PS Rollups in Loop TEST</label>
        <locationX>1401</locationX>
        <locationY>354</locationY>
        <actionName>CalculateOrderRollups</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Orders_TEST</targetReference>
        </connector>
        <inputParameters>
            <name>orderIds</name>
            <value>
                <elementReference>Loop_Orders_TEST.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Recalculate_Send_List</name>
        <label>Recalculate - Send List</label>
        <locationX>1602</locationX>
        <locationY>598</locationY>
        <actionName>CalculateOrderRollups</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>orderIds</name>
            <value>
                <elementReference>varOrderList</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>add_comma</name>
        <label>add comma</label>
        <locationX>1829</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>varOrderList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Iteration</name>
        <label>Iteration</label>
        <locationX>1824</locationX>
        <locationY>292</locationY>
        <assignmentItems>
            <assignToReference>varIteration</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stuff_ID_into_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Total</name>
        <label>Set Total</label>
        <locationX>1618</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>varTotal</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Order_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stuff_ID_into_Variable</name>
        <label>Stuff ID into Variable</label>
        <locationX>1973</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>varOrderList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Orders.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>comma_or_no_comma</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>comma_or_no_comma</name>
        <label>comma or no comma</label>
        <locationX>1964</locationX>
        <locationY>419</locationY>
        <defaultConnector>
            <targetReference>Loop_Orders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_comma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIteration</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varTotal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_comma</targetReference>
            </connector>
            <label>Yes comma</label>
        </rules>
        <rules>
            <name>No_Comma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIteration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varTotal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Orders</targetReference>
            </connector>
            <label>No Comma</label>
        </rules>
    </decisions>
    <decisions>
        <name>get_orders</name>
        <label>get orders?</label>
        <locationX>1218</locationX>
        <locationY>214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_orders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Orders_TEST</targetReference>
            </connector>
            <label>Yes orders</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_or_Project</name>
        <label>Order or Project?</label>
        <locationX>935</locationX>
        <locationY>228</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>801</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_PS_Rollups</targetReference>
            </connector>
            <label>Order</label>
        </rules>
        <rules>
            <name>Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a2o</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Records</targetReference>
            </connector>
            <label>Project</label>
        </rules>
    </decisions>
    <interviewLabel>Calculate Order PS Section {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Order PS Section</label>
    <loops>
        <name>Loop_Orders</name>
        <label>Loop Orders</label>
        <locationX>1612</locationX>
        <locationY>363</locationY>
        <collectionReference>Order_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Iteration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Recalculate_Send_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Orders_TEST</name>
        <label>Loop Orders TEST</label>
        <locationX>1224</locationX>
        <locationY>351</locationY>
        <collectionReference>Order_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculate_PS_Rollups_in_Loop_TEST</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Order_Records</name>
        <label>Order Records</label>
        <locationX>1110</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_orders</targetReference>
        </connector>
        <filters>
            <field>MPM4_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Order</object>
    </recordLookups>
    <startElementReference>Order_or_Project</startElementReference>
    <status>Active</status>
    <variables>
        <name>listOrderRecords</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIteration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varOrderList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
