flows/Case_Survey_Responses.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>257</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>SurveyResponseRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseRecord.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseRecord.Survey_response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseURL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseRecord.Survey_Completion_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseRecord.Case_Owner_Manager_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Case_Owner_Manager_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseRecord.Issue_Closed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_agree_your_issue_is_closed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseRecord.Not_closed_explanation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>If_you_would_like_to_explain_why_you_don_t_feel_the_issue_is_resolved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseRecord.Additional_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_provide_any_additional_comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseRecord.Overall_Service_Quality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Overall_Quality_of_Service</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseRecord.Initial_Callback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_of_Time_for_Initial_Callback_or_Response</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseRecord.Timely_Updates_Provided__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Timely_Updates_Provided_throughout_the_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseRecord.Professionalism_and_Courtesy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Professionalism_and_Courtesy_of_Service_Representative</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseRecord.Knowledge_of_Imagine_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Knowledge_and_Expertise_of_Service_Representative</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseRecord.Time_Resolution_Satisfaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Speed_in_Resolving_Issue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseRecord.Recommendation_Likelihood__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Likelihood_to_Recommend_Imagine_Communications_to_Others</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponseRecord.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Survey_Response</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X10</name>
        <choiceText>10</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X10_Very_Likely</name>
        <choiceText>10 - Very Likely</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X1_Not_Likely</name>
        <choiceText>1 - Not Likely</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X2</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X4</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X5</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X6</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X7</name>
        <choiceText>7</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X8</name>
        <choiceText>8</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X9</name>
        <choiceText>9</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <description>&lt;br&gt;&lt;/br&gt;</description>
        <name>ConstantBlankLine</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;br&gt;&lt;/br&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Issue_Closed</name>
        <label>Is Issue Closed?</label>
        <locationX>387</locationX>
        <locationY>140</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_agree_your_issue_is_closed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Question_Satisfaction_Questions</targetReference>
            </connector>
            <label>Yes Closed</label>
        </rules>
        <rules>
            <name>Still_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_agree_your_issue_is_closed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Question_Sorry_issue_isn_t_resolved</targetReference>
            </connector>
            <label>Still Open</label>
        </rules>
    </decisions>
    <interviewLabel>Case Survey Responses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Survey Responses</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey_Response</name>
        <label>Create Survey Response</label>
        <locationX>408</locationX>
        <locationY>425</locationY>
        <connector>
            <targetReference>Question_Thank_you_End</targetReference>
        </connector>
        <inputReference>SurveyResponseRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_ID</name>
        <label>Find Case ID</label>
        <locationX>183</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quesiton_Agree_Issue_is_Closed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Case_Owner_Manager_Email__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Quesiton_Agree_Issue_is_Closed</name>
        <label>Quesiton - Agree Issue is Closed</label>
        <locationX>180</locationX>
        <locationY>156</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Issue_Closed</targetReference>
        </connector>
        <fields>
            <name>ThankYouStart</name>
            <fieldText>Thank you for taking the time to complete this survey about your recent case ({!CaseRecord.CaseNumber}), &quot;{!CaseRecord.Subject}&quot;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_agree_your_issue_is_closed</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you agree your issue is closed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question_Satisfaction_Questions</name>
        <label>Question - Satisfaction Questions</label>
        <locationX>346</locationX>
        <locationY>285</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <fields>
            <name>TextPleasetellUsYourSatisfaction</name>
            <fieldText>Please tell us your satisfaction regarding your service experience with Imagine Customer Care.

1 - Not Satisfied     10 - Very Satisfied</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QualityOfServiceSlider</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SurveyResponseRecord.Overall_Service_Quality__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Overall_Quality_of_Service</name>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X8</choiceReferences>
            <choiceReferences>X9</choiceReferences>
            <choiceReferences>X10</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Overall Quality of Service</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Amount_of_Time_for_Initial_Callback_or_Response</name>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X8</choiceReferences>
            <choiceReferences>X9</choiceReferences>
            <choiceReferences>X10</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Amount of Time for Initial Callback or Response</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Timely_Updates_Provided_throughout_the_Case</name>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X8</choiceReferences>
            <choiceReferences>X9</choiceReferences>
            <choiceReferences>X10</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Timely Updates Provided throughout the Case</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Professionalism_and_Courtesy_of_Service_Representative</name>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X8</choiceReferences>
            <choiceReferences>X9</choiceReferences>
            <choiceReferences>X10</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Professionalism and Courtesy of Service Representative</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Knowledge_and_Expertise_of_Service_Representative</name>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X8</choiceReferences>
            <choiceReferences>X9</choiceReferences>
            <choiceReferences>X10</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Knowledge and Expertise of Service Representative</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Speed_in_Resolving_Issue</name>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X8</choiceReferences>
            <choiceReferences>X9</choiceReferences>
            <choiceReferences>X10</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Speed in Resolving Issue</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>BlankLine2</name>
            <fieldText>{!ConstantBlankLine}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BlankLine3</name>
            <fieldText>{!ConstantBlankLine}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ThinkAbout</name>
            <fieldText>Think about your experience with Imagine Customer Care.  How likely would you be to recommend Imagine Communications?

1 - Not Likely     10 - Very Likely</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Likelihood_to_Recommend_Imagine_Communications_to_Others</name>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X8</choiceReferences>
            <choiceReferences>X9</choiceReferences>
            <choiceReferences>X10</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Likelihood to Recommend Imagine Communications to Others</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>BlankLine</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_provide_any_additional_comments</name>
            <fieldText>Please provide any additional comments on the positive or negative aspects of your service experience with Imagine Communications</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question_Sorry_issue_isn_t_resolved</name>
        <label>Question - Sorry issue isn&apos;t resolved</label>
        <locationX>187</locationX>
        <locationY>285</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <fields>
            <name>TextSorryNotResolved</name>
            <fieldText>We&apos;re sorry to hear your issue isn&apos;t resolved.  When you submit this survey, the Imagine Customer Care team will be reopening your ticket and contacting you as soon as possible.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>If_you_would_like_to_explain_why_you_don_t_feel_the_issue_is_resolved</name>
            <fieldText>If you would like to explain why you don&apos;t feel the issue is resolved, please do that here.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question_Thank_you_End</name>
        <label>Question - Thank you End</label>
        <locationX>555</locationX>
        <locationY>427</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankyouEnd</name>
            <fieldText>&lt;p&gt;Thank you very much for your feedback.  Don&apos;t forget your Service history with is is available by visiting https://community.imaginecommunications.com at any time.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Find_Case_ID</startElementReference>
    <status>Obsolete</status>
    <textTemplates>
        <name>ResponseURL</name>
        <text>http://imaginecommunications.my.salesforce.com/casefeedback?CaseID={!CaseID}</text>
    </textTemplates>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SurveyResponseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Survey_Response__c</objectType>
    </variables>
</Flow>
