flows/Case_Status_Change_Entitlement_Actions.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Update_Collecction</name>
        <label>Add to Update Collecction</label>
        <locationX>1080</locationX>
        <locationY>1047</locationY>
        <assignmentItems>
            <assignToReference>varMilestonesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Uncompleted_Milestones</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Uncompleted_Milestones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Update_Collection</name>
        <label>Add to Update Collection</label>
        <locationX>1237</locationX>
        <locationY>525</locationY>
        <assignmentItems>
            <assignToReference>varMilestonesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Uncompleted_Response_Milestones</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Uncompleted_Response_Milestones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Completed</name>
        <label>Set to Completed</label>
        <locationX>1080</locationX>
        <locationY>908</locationY>
        <assignmentItems>
            <assignToReference>Loop_Uncompleted_Milestones.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update_Collecction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Open_Date</name>
        <label>Set to Open Date</label>
        <locationX>1106</locationX>
        <locationY>521</locationY>
        <assignmentItems>
            <assignToReference>Loop_Uncompleted_Response_Milestones.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Date_Time_Status_Open__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>closed/cancelled and resolved because UGH</description>
        <name>Closed_Status</name>
        <label>Closed Status?</label>
        <locationX>603</locationX>
        <locationY>764</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Cancelled_Resolved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncompleted_Only</targetReference>
            </connector>
            <label>Closed/Cancelled/Resolved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collection_have_Contents</name>
        <label>Collection have Contents?</label>
        <locationX>772</locationX>
        <locationY>895</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_contents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Uncompleted_Only</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Uncompleted_Milestones</targetReference>
            </connector>
            <label>Yes contents</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collection_have_Contents_0</name>
        <label>Collection have Contents?</label>
        <locationX>950</locationX>
        <locationY>658</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_contents_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Uncompleted_Response_Milestone_Only</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Uncompleted_Response_Milestones</targetReference>
            </connector>
            <label>Yes contents</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Status</name>
        <label>Open Status?</label>
        <locationX>604</locationX>
        <locationY>554</locationY>
        <defaultConnector>
            <targetReference>Closed_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Status_New</targetReference>
            </connector>
            <label>Yes Open</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only the first move of New &gt; Open should count to complete the milestones.  Or if it pops straight to open bypassing new.</description>
        <name>Previous_Status_New</name>
        <label>Previous Status New?</label>
        <locationX>797</locationX>
        <locationY>557</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncompleted_Response_Milestone_Only</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>managed the automatic setting of entitlement status with the changing of case status.  NOTE milestone type is using a hardcoded ID value.  fix if salesforce ever lets me access it by name.</description>
    <interviewLabel>Case - Status Change Entitlement Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Status Change Entitlement Actions</label>
    <loops>
        <name>Loop_Uncompleted_Milestones</name>
        <label>Loop Uncompleted Milestones</label>
        <locationX>937</locationX>
        <locationY>895</locationY>
        <collectionReference>Uncompleted_Only</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_to_Completed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Milestones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Uncompleted_Response_Milestones</name>
        <label>Loop Uncompleted Response Milestones</label>
        <locationX>1100</locationX>
        <locationY>656</locationY>
        <collectionReference>Uncompleted_Response_Milestone_Only</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_to_Open_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Milestones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Case_Milestones</name>
        <label>Case Milestones</label>
        <locationX>613</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Status</targetReference>
        </connector>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>CaseMilestone</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Milestones</name>
        <label>Update Milestones</label>
        <locationX>1430</locationX>
        <locationY>759</locationY>
        <inputReference>varMilestonesToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Case_Milestones</startElementReference>
    <status>Active</status>
    <variables>
        <name>currentItem_Uncompleted_Only</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
    <variables>
        <name>currentItem_Uncompleted_Response_Milestone_Only_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
    <variables>
        <name>varMilestonesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
</Flow>
