flows/Case_MA_Seduler_Fix_Case_Statuses.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Address_to_Case</name>
        <label>Set Address to Case</label>
        <locationX>396</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>Case_Record.Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Billing_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Got_it</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Just to be sure.  Not sure why its not set on these anyway</description>
        <name>Set_Closed_Email_Sent_Flag</name>
        <label>Set Closed Email Sent Flag</label>
        <locationX>306</locationX>
        <locationY>477</locationY>
        <assignmentItems>
            <assignToReference>Case_Record.Closed_Email_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Then_set_Done</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Error</name>
        <label>Set to Error</label>
        <locationX>258</locationX>
        <locationY>662</locationY>
        <assignmentItems>
            <assignToReference>Case_Record.Status_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Then_set_Done</name>
        <label>Then set Done</label>
        <locationX>428</locationX>
        <locationY>487</locationY>
        <assignmentItems>
            <assignToReference>Case_Record.Status_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Got_it</name>
        <label>Got it?</label>
        <locationX>168</locationX>
        <locationY>340</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Good</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Status</targetReference>
            </connector>
            <label>Good!</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Status</name>
        <label>What Status?</label>
        <locationX>173</locationX>
        <locationY>481</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Closed_Email_Sent_Flag</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Error</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <interviewLabel>Case - MA Seduler - Fix Case Statuses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEMP - Case - MA Seduler - Fix Case Statuses</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Case_Record</name>
        <label>Case Record</label>
        <locationX>176</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>316</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Address_to_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>490</locationX>
        <locationY>659</locationY>
        <inputReference>Case_Record</inputReference>
    </recordUpdates>
    <startElementReference>Case_Record</startElementReference>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
