flows/Case_New_Created_Updates.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reassign_Cases_Action</name>
        <label>Reassign Cases Action</label>
        <locationX>936</locationX>
        <locationY>479</locationY>
        <actionName>CaseAssignmentRulesAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Account_Present_and_Address_Null</targetReference>
        </connector>
        <inputParameters>
            <name>caseIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Account_Present_and_Address_Null</name>
        <label>Account Present and Address Null</label>
        <locationX>621</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>Account_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_needs_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Address needs update!</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continue_if_Record_Type_is_Service</name>
        <label>Continue if Record Type is Service</label>
        <locationX>358</locationX>
        <locationY>633</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Type_Servivce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Present_and_Address_Null</targetReference>
            </connector>
            <label>Record Type Servivce</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Record</name>
        <label>Get Record?</label>
        <locationX>772</locationX>
        <locationY>818</locationY>
        <defaultConnector>
            <targetReference>Issue_Weights_NoScreens</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Specialized_Case_Notes_Field_have_Content</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>adtech cases get processed through assignment rules</description>
        <name>New_Community_Case_for_AdTech</name>
        <label>New Community Case for AdTech</label>
        <locationX>624</locationX>
        <locationY>470</locationY>
        <defaultConnector>
            <targetReference>Account_Present_and_Address_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AdTech</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pillar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adtech</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reassign_Cases_Action</targetReference>
            </connector>
            <label>AdTech</label>
        </rules>
        <rules>
            <name>The_Rest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tier_1</targetReference>
            </connector>
            <label>The Rest</label>
        </rules>
        <rules>
            <name>Specifically_Community_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Community User Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tier_1</targetReference>
            </connector>
            <label>Specifically Community Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Specialized_Case_Notes_Field_have_Content</name>
        <label>Specialized Case Notes Field have Content?</label>
        <locationX>1007</locationX>
        <locationY>818</locationY>
        <defaultConnector>
            <targetReference>Issue_Weights_NoScreens</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yuppers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Record.Specialized_Case_Notes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Comment</targetReference>
            </connector>
            <label>Yuppers</label>
        </rules>
    </decisions>
    <description>various update, assignment rules, address fill, initial case weight.  replaces process builder.</description>
    <interviewLabel>Case - New Created Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - New Created Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Comment</name>
        <label>Create Case Comment</label>
        <locationX>1209</locationX>
        <locationY>824</locationY>
        <connector>
            <targetReference>Issue_Weights_NoScreens</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>Account_Record.Specialized_Case_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <elementReference>$Setup.System_Inteface_User_ID__c.User_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPublished</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Record</name>
        <label>Account Record</label>
        <locationX>633</locationX>
        <locationY>822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Issue_Weights_NoScreens</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordLookups>
    <recordLookups>
        <name>Tier_1</name>
        <label>Tier 1</label>
        <locationX>487</locationX>
        <locationY>471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tier_1</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>950</locationX>
        <locationY>655</locationY>
        <connector>
            <targetReference>Account_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>$Record.Account.Billing_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner</name>
        <label>Update Owner</label>
        <locationX>366</locationX>
        <locationY>471</locationY>
        <connector>
            <targetReference>Continue_if_Record_Type_is_Service</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Tier_1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>New_Community_Case_for_AdTech</startElementReference>
    <status>Active</status>
    <subflows>
        <description>run to update issue weights</description>
        <name>Issue_Weights_NoScreens</name>
        <label>Issue Weights_NoScreens</label>
        <locationX>651</locationX>
        <locationY>1086</locationY>
        <flowName>IssueWeights_NoScreens</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
