flows/Case_Comment_Collector.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Error_to_Bottom</name>
        <label>Add Error to Bottom</label>
        <locationX>430</locationX>
        <locationY>944</locationY>
        <assignmentItems>
            <assignToReference>varCommentsCombined</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>#CommentsToLongToAggregate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Comments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Comments_Field</name>
        <label>Add to Comments Field</label>
        <locationX>597</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>varCommentsCombined</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CommentTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_we_too_long</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_UPdated_Collection</name>
        <label>Add to UPdated Collection</label>
        <locationX>1288</locationX>
        <locationY>608</locationY>
        <assignmentItems>
            <assignToReference>UpdatedBugCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BugRecordInLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Bugs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Empty_Comment_Field</name>
        <label>Assign Empty Comment Field</label>
        <locationX>890</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>varCommentsCombined</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Bug_Directly</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_Last_Comment_Text</name>
        <label>Assign new Last Comment Text</label>
        <locationX>1286</locationX>
        <locationY>482</locationY>
        <assignmentItems>
            <assignToReference>BugRecordInLoop.Case_Last_Case_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCommentsCombined</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UPdated_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Just_assign_no_add</name>
        <label>Just assign, no add</label>
        <locationX>582</locationX>
        <locationY>952</locationY>
        <assignmentItems>
            <assignToReference>varCommentsCombined</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommentTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Error_to_Bottom</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Comment_Parent_to_Case_ID</name>
        <label>Set Comment Parent to Case ID</label>
        <locationX>201</locationX>
        <locationY>340</locationY>
        <assignmentItems>
            <assignToReference>varCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Comment_that_was_Passed.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Update_to_True</name>
        <label>Set Update to True</label>
        <locationX>195</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>varUpdatePath</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Comments</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conEmptyString</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Are_there_any_comments</name>
        <label>Are there any comments?</label>
        <locationX>591</locationX>
        <locationY>501</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Comments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Comments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Comments</targetReference>
            </connector>
            <label>Yes Comments</label>
        </rules>
        <rules>
            <name>No_Comments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Comments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Empty_Comment_Field</targetReference>
            </connector>
            <label>No Comments</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_we_too_long</name>
        <label>Are we too long?</label>
        <locationX>773</locationX>
        <locationY>870</locationY>
        <defaultConnector>
            <targetReference>Loop_Comments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Length</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calcStringLength</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>32000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Just_assign_no_add</targetReference>
            </connector>
            <label>Length &gt; 32768</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Bugs</name>
        <label>Have Bugs?</label>
        <locationX>1085</locationX>
        <locationY>330</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Bugs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bug_Record_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Bugs</targetReference>
            </connector>
            <label>Yes Bugs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_Associated_Bug</name>
        <label>Is there an Associated Bug?</label>
        <locationX>50</locationX>
        <locationY>487</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_we_have_bugs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.of_Bugs__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Update_to_True</targetReference>
            </connector>
            <label>Yes we have bugs</label>
        </rules>
    </decisions>
    <decisions>
        <description>This is for when it is called by the update process not by the create process.  Create process sets the value when the record is created, at this point the bug doesn&apos;t exist yet.</description>
        <name>Update_Bug_Directly</name>
        <label>Update Bug Directly</label>
        <locationX>1039</locationX>
        <locationY>573</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lets_update_the_bug</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUpdatePath</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bug_Record_Collection</targetReference>
            </connector>
            <label>Lets update the bug!</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_value_is_incoming</name>
        <label>What value is incoming?</label>
        <locationX>392</locationX>
        <locationY>199</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Record</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Comments</targetReference>
            </connector>
            <label>Case Record</label>
        </rules>
        <rules>
            <name>Case_ID_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Case</targetReference>
            </connector>
            <label>Case ID Only</label>
        </rules>
        <rules>
            <name>Comment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCommentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Comment_that_was_Passed</targetReference>
            </connector>
            <label>Comment</label>
        </rules>
    </decisions>
    <description>input Case Record, output all Comments in text variable</description>
    <formulas>
        <name>calcStringLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!varCommentsCombined})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Case - Comment Collector {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Comment Collector</label>
    <loops>
        <name>Loop_Bugs</name>
        <label>Loop Bugs</label>
        <locationX>1140</locationX>
        <locationY>462</locationY>
        <assignNextValueToReference>BugRecordInLoop</assignNextValueToReference>
        <collectionReference>Bug_Record_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_new_Last_Comment_Text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_Bugs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Comments</name>
        <label>Loop Comments</label>
        <locationX>429</locationX>
        <locationY>775</locationY>
        <assignNextValueToReference>CommentsInLoop</assignNextValueToReference>
        <collectionReference>Comments</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Comments_Field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Bug_Directly</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Bug_Record_Collection</name>
        <label>Bug Record Collection</label>
        <locationX>1049</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_Bugs</targetReference>
        </connector>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CLOSED</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CANCELLED</stringValue>
            </value>
        </filters>
        <object>Bug__c</object>
    </recordLookups>
    <recordLookups>
        <name>Comments</name>
        <label>Comments</label>
        <locationX>488</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_any_comments</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </filters>
        <object>CaseComment</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>we want to look up the case and assign it to the existing Case Record variable passed in.</description>
        <name>Lookup_Case</name>
        <label>Lookup Case</label>
        <locationX>66</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_Associated_Bug</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Last_Case_Comment__c</queriedFields>
        <queriedFields>Last_Public_Case_Comment_Date__c</queriedFields>
        <queriedFields>Last_Case_Comment_Date__c</queriedFields>
        <queriedFields>Last_Public_Case_Comment__c</queriedFields>
        <queriedFields>of_Bugs__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Comment_that_was_Passed</name>
        <label>Lookup Comment that was Passed</label>
        <locationX>322</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Comment_Parent_to_Case_ID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCommentId</elementReference>
            </value>
        </filters>
        <object>CaseComment</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Bugs</name>
        <label>Update the Bugs</label>
        <locationX>1145</locationX>
        <locationY>857</locationY>
        <inputReference>UpdatedBugCollection</inputReference>
    </recordUpdates>
    <startElementReference>What_value_is_incoming</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>CommentTemplate</name>
        <text>{!CommentsInLoop.CreatedDate} - {!CommentsInLoop.CreatedBy.Full_Name__c} - {!CommentsInLoop.CommentBody}{!conEmptyString}{!conEmptyString}
{!conEmptyString}</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorTemplate</name>
        <text>&lt;p&gt;varNEW STRING  - {!varCommentsCombined}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;varIN LOOP  - {!BugRecordInLoop.Case_Last_Case_Comment__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;updated bug record - {!UpdatedBugCollection}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>BugRecordInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bug__c</objectType>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CommentsInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>NEWBugRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bug__c</objectType>
    </variables>
    <variables>
        <name>UpdatedBugCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bug__c</objectType>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCommentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCommentLength</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCommentsCombined</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>decides if we&apos;re updating the record itself or not.  Difference between the case flow and the version of this called from the Create Cloud Jira Bug flow</description>
        <name>varUpdateDirectly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varUpdatePath</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
