flows/Contract_Line_After_Save_Automation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Contract_Line_from_Entitlement</name>
        <label>Assign Contract Line from Entitlement</label>
        <locationX>842</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>Asset_Record.Contract_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement_Record.ContractLineItemId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Line_Count</name>
        <label>Assign Line Count</label>
        <locationX>26</locationX>
        <locationY>716</locationY>
        <assignmentItems>
            <assignToReference>varCountContractLines</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Contract_Lines_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contract_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>only found one, better assign it</description>
        <name>Assign_Single_Contract_Line</name>
        <label>Assign Single Contract Line</label>
        <locationX>488</locationX>
        <locationY>643</locationY>
        <assignmentItems>
            <assignToReference>Asset_Record.Contract_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Record.Contract_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Record.Service_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Service_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Record.Contract_Line_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceContract.Oracle_Contract_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_found_Line</name>
        <label>Assign the found Line</label>
        <locationX>583</locationX>
        <locationY>807</locationY>
        <assignmentItems>
            <assignToReference>Asset_Record.Contract_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTheChosenContractLine.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Record.Contract_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTheChosenContractLine.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Record.Service_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTheChosenContractLine.Service_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Record.Contract_Line_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTheChosenContractLine.ServiceContract.Oracle_Contract_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Care_Level</name>
        <label>Capture Care Level</label>
        <locationX>305</locationX>
        <locationY>962</locationY>
        <assignmentItems>
            <assignToReference>varCareLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Active_Service_Contract_Lines.Service_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTheChosenContractLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Active_Service_Contract_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Active_Service_Contract_Lines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Better_Than_it_Was</name>
        <label>Better Than it Was?</label>
        <locationX>21</locationX>
        <locationY>1047</locationY>
        <defaultConnector>
            <targetReference>Capture_Care_Level</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_previous_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCareLevel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Care_Level</targetReference>
            </connector>
            <label>No previous value</label>
        </rules>
        <rules>
            <name>Previous_is_already_Care_Move_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCareLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care+</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Active_Service_Contract_Lines</targetReference>
            </connector>
            <label>Previous is already Care+ Move On</label>
        </rules>
        <rules>
            <name>Care_is_always_best</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Active_Service_Contract_Lines.Service_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care+</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Care_Level</targetReference>
            </connector>
            <label>Care+ is always best</label>
        </rules>
        <rules>
            <name>Care_is_better_than_standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Active_Service_Contract_Lines.Service_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCareLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCareLevel</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Care+</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Care_Level</targetReference>
            </connector>
            <label>Care is better than standard</label>
        </rules>
        <rules>
            <name>Standard_we_can_do_better</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Active_Service_Contract_Lines.Service_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Active_Service_Contract_Lines</targetReference>
            </connector>
            <label>Standard we can do better</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error_Check_Get_Lines</name>
        <label>Error Check - Get Lines?</label>
        <locationX>16</locationX>
        <locationY>521</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_but_its_really_just_an_error_check_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contract_Lines_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Line_Count</targetReference>
            </connector>
            <label>Yes - but its really just an error check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Asset</name>
        <label>Get Asset?</label>
        <locationX>17</locationX>
        <locationY>345</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entitlement_Record</targetReference>
            </connector>
            <label>Yes Asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Contract_Lines</name>
        <label>Get Contract Lines?</label>
        <locationX>158</locationX>
        <locationY>687</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Only_one_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountContractLines</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Single_Contract_Line</targetReference>
            </connector>
            <label>Only one Active</label>
        </rules>
        <rules>
            <name>Multiple_Lines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountContractLines</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Active_Service_Contract_Lines</targetReference>
            </connector>
            <label>Multiple Lines</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Entitlement</name>
        <label>Get Entitlement?</label>
        <locationX>362</locationX>
        <locationY>412</locationY>
        <defaultConnector>
            <targetReference>Contract_Lines_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Entitlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_a_Contract_Line</targetReference>
            </connector>
            <label>Yes Entitlement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Contract_Line</name>
        <label>Is there a Contract Line?</label>
        <locationX>584</locationX>
        <locationY>354</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Contract_Line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement_Record.ContractLineItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contract_Line_from_Entitlement</targetReference>
            </connector>
            <label>Yes Contract Line</label>
        </rules>
    </decisions>
    <description>current purpose is when contract lines change go out and update the asset with the current &quot;best and greatest&quot; coverage.  revisit this later to look at something that updates when the contract expires.  Maybe a MAS that checks daily/weekly for contracts that have expired?  ALSO remember, we&apos;re treating &quot;line&quot; as the record of truth</description>
    <interviewLabel>Contract Line - After Save Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Line - After Save Automation</label>
    <loops>
        <name>Loop_Active_Service_Contract_Lines</name>
        <label>Loop Active Service Contract Lines</label>
        <locationX>163</locationX>
        <locationY>815</locationY>
        <collectionReference>Contract_Lines_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Better_Than_it_Was</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_the_found_Line</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Asset_Record</name>
        <label>Asset Record</label>
        <locationX>172</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
    </recordLookups>
    <recordLookups>
        <name>Contract_Lines_Collection</name>
        <label>Contract Lines Collection</label>
        <locationX>172</locationX>
        <locationY>519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Error_Check_Get_Lines</targetReference>
        </connector>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>ContractLineItem</object>
    </recordLookups>
    <recordLookups>
        <name>Entitlement_Record</name>
        <label>Entitlement Record</label>
        <locationX>172</locationX>
        <locationY>403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Entitlement</targetReference>
        </connector>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset_Record.Id</elementReference>
            </value>
        </filters>
        <object>Entitlement</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>717</locationX>
        <locationY>607</locationY>
        <inputReference>Asset_Record</inputReference>
    </recordUpdates>
    <startElementReference>Asset_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>varCareLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountContractLines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varTheChosenContractLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
</Flow>
