flows/Contact_Inactivate_Contact.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This is mostly to get around the mixed DML message.</description>
        <name>ShowToast</name>
        <label>ShowToast</label>
        <locationX>406</locationX>
        <locationY>608</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Customer Inactivated!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Fields</name>
        <label>Assign Fields</label>
        <locationX>236</locationX>
        <locationY>462</locationY>
        <assignmentItems>
            <assignToReference>Contact_Record.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_Record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>returnInactiveEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_Record.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formatComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0013100001dJ3eGAAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_Record.Active_Community_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inactivate_Portal_User</targetReference>
        </connector>
    </assignments>
    <description>updates email/comments/account to remove contact from account and search results.  also deactivates portal account if it exists.</description>
    <formulas>
        <name>returnInactiveEmail</name>
        <dataType>String</dataType>
        <expression>LEFT({!Contact_Record.Email},FIND(&quot;@&quot;, {!Contact_Record.Email})) + &quot;inactive.com&quot;</expression>
    </formulas>
    <interviewLabel>Contact - Inactivate Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Inactivate Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Contact_Record</name>
        <label>Contact Record</label>
        <locationX>238</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comments_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordUpdates>
        <name>Inactivate_Portal_User</name>
        <label>Inactivate Portal User</label>
        <locationX>401</locationX>
        <locationY>493</locationY>
        <connector>
            <targetReference>ShowToast</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>240</locationX>
        <locationY>634</locationY>
        <connector>
            <targetReference>Comments_Screen_0</targetReference>
        </connector>
        <inputReference>Contact_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Comments_Screen</name>
        <label>Comments Screen</label>
        <locationX>236</locationX>
        <locationY>330</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Fields</targetReference>
        </connector>
        <fields>
            <name>AlreadyInactive</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;This contact is inactive!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Contact_Record.Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Why_is_this_being_inactivated</name>
            <fieldText>Why is this being inactivated?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Contact_Record.Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Comments_Screen_0</name>
        <label>Comments Screen</label>
        <locationX>352</locationX>
        <locationY>736</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlreadyInactive_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;This contact is inactive!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Contact_Record.Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Why_is_this_being_inactivated_0</name>
            <fieldText>Why is this being inactivated?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Contact_Record.Active__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Contact_Record</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>formatComments</name>
        <text>Old Email - {!Contact_Record.Email}     
Old Account - {!Contact_Record.Account.Name}     
Reason - {!Why_is_this_being_inactivated}</text>
    </textTemplates>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
