flows/Convert_Case_Record_Type.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assign_Permission_Set</name>
        <label>Assign Permission Set</label>
        <locationX>155</locationX>
        <locationY>174</locationY>
        <actionName>activateSessionPermSet</actionName>
        <actionType>activateSessionPermSet</actionType>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <inputParameters>
            <name>PermSetName</name>
            <value>
                <stringValue>Assign_Project_Case_Record_Type</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Remove_Permission_Set</name>
        <label>Remove Permission Set</label>
        <locationX>525</locationX>
        <locationY>1166</locationY>
        <actionName>deactivateSessionPermSet</actionName>
        <actionType>deactivateSessionPermSet</actionType>
        <connector>
            <targetReference>Force_a_Weighting_Update</targetReference>
        </connector>
        <inputParameters>
            <name>PermSetName</name>
            <value>
                <stringValue>Assign_Project_Case_Record_Type</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Set_Default_Project_if_it_exists</name>
        <label>Set Default Project if it exists</label>
        <locationX>334</locationX>
        <locationY>304</locationY>
        <assignmentItems>
            <assignToReference>ProjectID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Project__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choice_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Fields</name>
        <label>Set Project Fields</label>
        <locationX>477</locationX>
        <locationY>833</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.CommunityVisibilityAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetCommunityVisibility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Fields_plus_Hypercare</name>
        <label>Set Project Fields plus Hypercare</label>
        <locationX>700</locationX>
        <locationY>899</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.CommunityVisibilityAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetCommunityVisibility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.HyperCare__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Service_Fields</name>
        <label>Set Service Fields</label>
        <locationX>367</locationX>
        <locationY>858</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.CommunityVisibilityAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.HyperCare__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Service_Fields_0</name>
        <label>Set Service Fields</label>
        <locationX>226</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.CommunityVisibilityAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.HyperCare__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ProjectCase</name>
        <choiceText>Project Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Project_Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServiceCase</name>
        <choiceText>Service Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Community_Selected</name>
        <label>Community Selected</label>
        <locationX>221</locationX>
        <locationY>980</locationY>
        <defaultConnector>
            <targetReference>Set_Service_Fields_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Should_this_be_visible_to_the_Customer_via_Community</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Service_Fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_project_in_Hypercare</name>
        <label>Is the project in Hypercare?</label>
        <locationX>573</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Set_Project_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hypercare_Active_or_Complete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Project_Record_Grab_Hypercare.HyperCare_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project_Record_Grab_Hypercare.HyperCare_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Project_Fields_plus_Hypercare</targetReference>
            </connector>
            <label>Hypercare Active or Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Decision</name>
        <label>Project Decision</label>
        <locationX>225</locationX>
        <locationY>856</locationY>
        <defaultConnector>
            <targetReference>Project_Closed_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Community_Selected</targetReference>
            </connector>
            <label>No Project</label>
        </rules>
        <rules>
            <name>Project_Open</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Project_Record.Project_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project_Record.Project_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project_Record.Project_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project_Record.Project_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Execution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project_Record.Project_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acceptance Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project_Record.Project_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project_Record.Project_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transitioning to Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Community_Selected</targetReference>
            </connector>
            <label>Project Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_are_we_Changing_to</name>
        <label>What are we Changing to?</label>
        <locationX>468</locationX>
        <locationY>661</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceCase</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project_Record</targetReference>
            </connector>
            <label>Service Case</label>
        </rules>
        <rules>
            <name>Project_Case_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectCase</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project_Record_Grab_Hypercare</targetReference>
            </connector>
            <label>Project Case</label>
        </rules>
    </decisions>
    <formulas>
        <name>SetCommunityVisibility</name>
        <dataType>String</dataType>
        <expression>IF ( {!Should_this_be_visible_to_the_Customer_via_Community}=TRUE, {!Get_Case.AccountId},  &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Convert Case Record Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Case Record Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>336</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Default_Project_if_it_exists</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Record_Type__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Project__c</queriedFields>
        <queriedFields>CommunityVisibilityAccount__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Project_Record</name>
        <label>Project Record</label>
        <locationX>229</locationX>
        <locationY>742</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Decision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Project__c</elementReference>
            </value>
        </filters>
        <object>MPM4_BASE__Milestone1_Project__c</object>
    </recordLookups>
    <recordLookups>
        <description>was trying to avoid another database op but need the hypercare status from the project</description>
        <name>Project_Record_Grab_Hypercare</name>
        <label>Project Record - Grab Hypercare</label>
        <locationX>690</locationX>
        <locationY>641</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_project_in_Hypercare</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectID</elementReference>
            </value>
        </filters>
        <object>MPM4_BASE__Milestone1_Project__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>400</locationX>
        <locationY>1168</locationY>
        <connector>
            <targetReference>Remove_Permission_Set</targetReference>
        </connector>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <screens>
        <name>Choice_Screen</name>
        <label>Choice Screen</label>
        <locationX>331</locationX>
        <locationY>452</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Record_Type_ID</targetReference>
        </connector>
        <fields>
            <name>Service_Notice</name>
            <fieldText>&lt;p&gt;This case is currently a {!Get_Case.Record_Type__c} type case.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_Case_Type_should_it_be</name>
            <choiceReferences>ProjectCase</choiceReferences>
            <choiceReferences>ServiceCase</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What Case Type should it be?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProjectCaseText</name>
            <fieldText>&lt;p&gt;A Project Case needs a project and Customer Visibility set.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ProjectCase</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Project</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Project__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Project</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ProjectID</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ProjectID</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ProjectCase</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ServiceCaseText</name>
            <fieldText>&lt;p&gt;A Service Case requires a customer contact.  You will need to add this after converting the Case.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This will also remove the Project reference from this case.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ServiceCase</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BlankLine</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Should_this_be_visible_to_the_Customer_via_Community</name>
            <dataType>Boolean</dataType>
            <fieldText>Should this be visible to the Customer via Community?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;In general, all Service cases are visible to the customer.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ProjectCase</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Project_Closed_Message</name>
        <label>Project Closed Message</label>
        <locationX>50</locationX>
        <locationY>874</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ProjectClosedMsg</name>
            <fieldText>&lt;p&gt;Hey!  So this project is already closed and if you convert this case it will mess up the case time counts on the project.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You need to go back, change the project stage to an open stage (like execution) and then convert this case.  Silly, I know, but this should all be changing with the Transition Project process coming in the next couple weeks. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;SORRY!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Assign_Permission_Set</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Force_a_Weighting_Update</name>
        <label>Force a Weighting Update</label>
        <locationX>644</locationX>
        <locationY>1164</locationY>
        <flowName>IssueWeights_NoScreens</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_Record_Type_ID</name>
        <label>Get Record Type ID</label>
        <locationX>330</locationX>
        <locationY>579</locationY>
        <connector>
            <targetReference>What_are_we_Changing_to</targetReference>
        </connector>
        <flowName>RecordTypeID_Lookup_Subflow</flowName>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <elementReference>What_Case_Type_should_it_be</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeID</assignToReference>
            <name>RecordTypeID15</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
