flows/CreateProjectButton.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_PrjObject_0</name>
        <label>Update PrjObject</label>
        <locationX>642</locationX>
        <locationY>145</locationY>
        <assignmentItems>
            <assignToReference>PrjObject2.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrjObject2.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrjObject2.End_User_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppObject.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Project</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>ProjectName</name>
        <dataType>String</dataType>
        <expression>{!OppObject.Name}+&quot; Project&quot;</expression>
    </formulas>
    <interviewLabel>CreateProjectButton {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Project Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Project</name>
        <label>Create Project</label>
        <locationX>759</locationX>
        <locationY>68</locationY>
        <connector>
            <targetReference>Display_Link</targetReference>
        </connector>
        <inputReference>PrjObject2</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>390</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_PrjObject_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OppObject</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Display_Link</name>
        <label>Display Link</label>
        <locationX>952</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>URLText</name>
            <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;{!ProjectName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Opportunity</startElementReference>
    <status>Active</status>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>PrjObject2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Milestone1_Project__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
