flows/Issue_Weights_EE_Remove_Escalation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Removed_Flag</name>
        <label>Add Removed Flag</label>
        <locationX>955</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>Loop_Escalation_Records.Removed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Escalations_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Escalations_Collection</name>
        <label>Add to Escalations Collection</label>
        <locationX>780</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>varEscalationsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Escalation_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Escalation_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_to_Collection_for_Update</name>
        <label>Add User to Collection for Update</label>
        <locationX>119</locationX>
        <locationY>1125</locationY>
        <assignmentItems>
            <assignToReference>varPointsToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_100_Back</name>
        <label>Assign 100 Back</label>
        <locationX>647</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>Loop_Users.Available_Points_100__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Users.Used_Points_100__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_to_Collection_for_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_10_Back</name>
        <label>Assign 10 Back</label>
        <locationX>364</locationX>
        <locationY>1357</locationY>
        <assignmentItems>
            <assignToReference>Loop_Users.Available_Points_10__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Users.Used_Points_10__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_to_Collection_for_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_25_Back</name>
        <label>Assign 25 Back</label>
        <locationX>453</locationX>
        <locationY>1344</locationY>
        <assignmentItems>
            <assignToReference>Loop_Users.Available_Points_25__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Users.Used_Points_25__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_to_Collection_for_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_50_Back</name>
        <label>Assign 50 Back</label>
        <locationX>545</locationX>
        <locationY>1291</locationY>
        <assignmentItems>
            <assignToReference>Loop_Users.Available_Points_50__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Users.Used_Points_50__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_to_Collection_for_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Escalation_from_Case</name>
        <label>Remove Escalation from Case</label>
        <locationX>433</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Executive_Escalation_EE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Weighting_Last_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Weighting_Last_Updated_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Case Closure</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Weighting_Last_Updated_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReturnRunningUserFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.EE_for_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Points_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Escalation_User</name>
        <label>Escalation = User?</label>
        <locationX>695</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Loop_Users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Escalation_Matches_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Escalation_Records.Escalation_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Users.User__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Escalation_Value_was_it</targetReference>
            </connector>
            <label>Escalation Matches User</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Escalation_Value_was_it</name>
        <label>What Escalation Value was it?</label>
        <locationX>512</locationX>
        <locationY>1071</locationY>
        <defaultConnector>
            <targetReference>Loop_Users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Escalated_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Escalation_Records.Escalated_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_10_Back</targetReference>
            </connector>
            <label>Escalated 10</label>
        </rules>
        <rules>
            <name>Escalated_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Escalation_Records.Escalated_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>25.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_25_Back</targetReference>
            </connector>
            <label>Escalated 25</label>
        </rules>
        <rules>
            <name>Escalated_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Escalation_Records.Escalated_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_50_Back</targetReference>
            </connector>
            <label>Escalated 50</label>
        </rules>
        <rules>
            <name>Escalated_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Escalation_Records.Escalated_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_100_Back</targetReference>
            </connector>
            <label>Escalated 100</label>
        </rules>
    </decisions>
    <description>autolaunched flow to remove escalation points from users when a case is closed</description>
    <formulas>
        <name>ReturnRunningUserFullName</name>
        <dataType>String</dataType>
        <expression>{!$User.Full_Name__c}</expression>
    </formulas>
    <interviewLabel>Issue Weights EE Remove Escalation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Issue Weights EE Remove Escalation</label>
    <loops>
        <name>Loop_Escalation_Records</name>
        <label>Loop Escalation Records</label>
        <locationX>433</locationX>
        <locationY>475</locationY>
        <collectionReference>Escalations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Users</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_Escalation_from_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Users</name>
        <label>Loop Users</label>
        <locationX>50</locationX>
        <locationY>895</locationY>
        <collectionReference>Points_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Escalation_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Removed_Flag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>get all escalations on case</description>
        <name>Escalations</name>
        <label>Escalations</label>
        <locationX>280</locationX>
        <locationY>569</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Escalation_Records</targetReference>
        </connector>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Removed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Executive_Escalation__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>282</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Points_Records</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordLookups>
    <recordLookups>
        <name>Points_Records</name>
        <label>Points Records</label>
        <locationX>283</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Escalations</targetReference>
        </connector>
        <object>Executive_Escalation_Points__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>806</locationX>
        <locationY>345</locationY>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Escalations</name>
        <label>Update Escalations</label>
        <locationX>691</locationX>
        <locationY>346</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <inputReference>varEscalationsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Points_Records</name>
        <label>Update Points Records</label>
        <locationX>567</locationX>
        <locationY>346</locationY>
        <connector>
            <targetReference>Update_Escalations</targetReference>
        </connector>
        <inputReference>varPointsToUpdateCollection</inputReference>
    </recordUpdates>
    <startElementReference>Get_Case</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EscalationsInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Executive_Escalation__c</objectType>
    </variables>
    <variables>
        <name>UpdatedEscalationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Executive_Escalation__c</objectType>
    </variables>
    <variables>
        <name>UpdatedUserCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varEscalationsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Executive_Escalation__c</objectType>
    </variables>
    <variables>
        <name>varPointsToUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Executive_Escalation_Points__c</objectType>
    </variables>
</Flow>
