flows/Issue_Weights_EE_Input_Screens.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Darcie_Error_Email</name>
        <label>Send Darcie Error Email</label>
        <locationX>326</locationX>
        <locationY>489</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateErrorReport</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>darcie.laur@imaginecommunications.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!CaseRecord.CaseNumber} - EE Failed</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_100_Point_Back_to_User_and_Set_to_Collection</name>
        <label>Add 100 Point Back to User and Set to Collection</label>
        <locationX>2730</locationX>
        <locationY>784</locationY>
        <assignmentItems>
            <assignToReference>Loop_Points_Records.Available_Points_100__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Points_Records.Used_Points_100__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_to_Updated_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_10_Point_Back_to_User_and_Set_to_Collection</name>
        <label>Add 10 Point Back to User and Set to Collection</label>
        <locationX>2720</locationX>
        <locationY>662</locationY>
        <assignmentItems>
            <assignToReference>Loop_Points_Records.Available_Points_10__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Points_Records.Used_Points_10__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_to_Updated_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_25_Point_Back_to_User_and_Set_to_Collection</name>
        <label>Add 25 Point Back to User and Set to Collection</label>
        <locationX>2735</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>Loop_Points_Records.Available_Points_25__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Points_Records.Used_Points_25__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_to_Updated_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_50_Point_Back_to_User_and_Set_to_Collection</name>
        <label>Add 50 Point Back to User and Set to Collection</label>
        <locationX>2729</locationX>
        <locationY>1097</locationY>
        <assignmentItems>
            <assignToReference>Loop_Points_Records.Available_Points_50__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Points_Records.Used_Points_50__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_to_Updated_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_in_10</name>
        <label>Add in 10</label>
        <locationX>1674</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>Escalation_Points.Available_Points_10__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Escalation_Points.Used_Points_10__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Previous_Escalation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_in_100</name>
        <label>Add in 100</label>
        <locationX>1846</locationX>
        <locationY>1179</locationY>
        <assignmentItems>
            <assignToReference>Escalation_Points.Available_Points_100__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Escalation_Points.Used_Points_100__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Previous_Escalation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_in_25</name>
        <label>Add in 25</label>
        <locationX>1751</locationX>
        <locationY>1252</locationY>
        <assignmentItems>
            <assignToReference>Escalation_Points.Available_Points_25__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Escalation_Points.Used_Points_25__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Previous_Escalation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_in_50</name>
        <label>Add in 50</label>
        <locationX>1932</locationX>
        <locationY>1120</locationY>
        <assignmentItems>
            <assignToReference>Escalation_Points.Available_Points_50__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Escalation_Points.Used_Points_50__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Previous_Escalation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Removed_Flag_and_Add_to_New_Collection</name>
        <label>Add Removed Flag and Add to New Collection</label>
        <locationX>2380</locationX>
        <locationY>505</locationY>
        <assignmentItems>
            <assignToReference>Loop_Escalations.Removed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Removed_Flag_and_Add_to_New_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Removed_Flag_and_Add_to_New_Collection_0</name>
        <label>Add Removed Flag and Add to New Collection</label>
        <locationX>2379</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>UpdatedExecutiveEscalation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Escalations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Escalations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_to_Updated_Loop</name>
        <label>Add User to Updated Loop</label>
        <locationX>2405</locationX>
        <locationY>646</locationY>
        <assignmentItems>
            <assignToReference>updatedPointsRecordsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Points_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Points_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_10</name>
        <label>Assign 10</label>
        <locationX>991</locationX>
        <locationY>1602</locationY>
        <assignmentItems>
            <assignToReference>varShow10</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Custom_Logic_Flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_100</name>
        <label>Assign 100</label>
        <locationX>1285</locationX>
        <locationY>1614</locationY>
        <assignmentItems>
            <assignToReference>varShow100</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Custom_Logic_Flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_100_Points</name>
        <label>Assign 100 Points</label>
        <locationX>935</locationX>
        <locationY>149</locationY>
        <assignmentItems>
            <assignToReference>Escalation_Points.Available_Points_100__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Escalation_Points.Used_Points_100__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Escalation_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_10_Points</name>
        <label>Assign 10 Points</label>
        <locationX>877</locationX>
        <locationY>437</locationY>
        <assignmentItems>
            <assignToReference>Escalation_Points.Available_Points_10__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Escalation_Points.Used_Points_10__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Escalation_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_25</name>
        <label>Assign 25</label>
        <locationX>1075</locationX>
        <locationY>1603</locationY>
        <assignmentItems>
            <assignToReference>varShow25</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Custom_Logic_Flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_25_Points</name>
        <label>Assign 25 Points</label>
        <locationX>873</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>Escalation_Points.Available_Points_25__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Escalation_Points.Used_Points_25__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Escalation_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_50</name>
        <label>Assign 50</label>
        <locationX>1188</locationX>
        <locationY>1608</locationY>
        <assignmentItems>
            <assignToReference>varShow50</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Custom_Logic_Flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_50_Points</name>
        <label>Assign 50 Points</label>
        <locationX>843</locationX>
        <locationY>221</locationY>
        <assignmentItems>
            <assignToReference>Escalation_Points.Available_Points_50__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Escalation_Points.Used_Points_50__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Escalation_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Logic_Flag</name>
        <label>Assign Custom Logic Flag</label>
        <locationX>1313</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>varCustomLogic</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Executive_Escalation_Weighting_Management_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Points_to_Set</name>
        <label>Assign Points to Set</label>
        <locationX>1329</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>varPointsValueToSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Level_Choice_10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPointsValueToSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Level_Choice_10_25</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPointsValueToSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Level_Choice_100</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPointsValueToSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Level_Choice_25</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPointsValueToSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Level_Choice_50</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPointsValueToSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Level_Choice_50_100</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_EE_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Escalation_from_Case</name>
        <label>Remove Escalation from Case</label>
        <locationX>1859</locationX>
        <locationY>739</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Executive_Escalation_EE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Weighting_Last_Updated_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Executive Escalation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Weighting_Last_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Weighting_Last_Updated_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReturnRunningUserFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.EE_for_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Point_Counts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Escalation_from_Case_0</name>
        <label>Remove Escalation from Case</label>
        <locationX>2069</locationX>
        <locationY>322</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Executive_Escalation_EE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Weighting_Last_Updated_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Executive Escalation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Weighting_Last_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Weighting_Last_Updated_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReturnRunningUserFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.EE_for_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Previous_Escalation</name>
        <label>Remove Previous Escalation</label>
        <locationX>1689</locationX>
        <locationY>937</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.EE_for_Flow__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>PreviousEscalationRecord.Escalated_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PreviousEscalationRecord.Removed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Escalation_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Values</name>
        <label>Set Case Values</label>
        <locationX>1147</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Weighting_Last_Updated_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Executive Escalation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Weighting_Last_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Weighting_Last_Updated_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReturnRunningUserFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Executive_Escalation_EE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Escalated_Escalated_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReturnRunningUserFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.EE_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_include_comments_about_this_escalation_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Weighting_Escalation_MultiSelect__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>ReturnRunningUserFullName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Points_to_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Values_No_MultiSelect</name>
        <label>Set Case Values_No MultiSelect</label>
        <locationX>1284</locationX>
        <locationY>632</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Weighting_Last_Updated_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Executive Escalation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Weighting_Last_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Weighting_Last_Updated_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReturnRunningUserFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Executive_Escalation_EE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Escalated_Escalated_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReturnRunningUserFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.EE_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_include_comments_about_this_escalation_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Points_to_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_User</name>
        <label>Set Current User and Grab Record</label>
        <locationX>692</locationX>
        <locationY>1557</locationY>
        <assignmentItems>
            <assignToReference>varEscalatedByCurrentUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PreviousEscalationRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EscalationInLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Existing_Escalations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_EE_Value</name>
        <label>Set EE Value</label>
        <locationX>1189</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.EE_for_Flow__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPointsValueToSet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Avail_Points_Again</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Other_User</name>
        <label>Set Other User</label>
        <locationX>565</locationX>
        <locationY>1564</locationY>
        <assignmentItems>
            <assignToReference>varEscalatedByOtherUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Existing_Escalations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Previous_Escalations_Flag</name>
        <label>Set Previous Escalations Flag</label>
        <locationX>651</locationX>
        <locationY>1231</locationY>
        <assignmentItems>
            <assignToReference>varPreviousEscalations</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Existing_Escalations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_Out_of_Points_Flag</name>
        <label>Set User Out of Points Flag</label>
        <locationX>956</locationX>
        <locationY>814</locationY>
        <assignmentItems>
            <assignToReference>varUserOutOfPoints</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_User_Escalations</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice10</name>
        <choiceText>10</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice100</name>
        <choiceText>100</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice25</name>
        <choiceText>25</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>25.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice50</name>
        <choiceText>50</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>50.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>Are_we_Changing_or_Removing</name>
        <label>Are we Changing or Removing?</label>
        <locationX>1412</locationX>
        <locationY>813</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Change_Escalation_Path</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Values_No_MultiSelect</targetReference>
            </connector>
            <label>Changing</label>
        </rules>
        <rules>
            <name>Removing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Remove_MY_Escalation_Path</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>My_Escalation_or_All_Escalation_Removal</targetReference>
            </connector>
            <label>Removing</label>
        </rules>
    </decisions>
    <decisions>
        <description>one last check before committing in case they game the system with multiple open windows

Actually this wont work...  hmmmm</description>
        <name>Check_Avail_Points_Again</name>
        <label>Check Avail Points Again</label>
        <locationX>1082</locationX>
        <locationY>513</locationY>
        <defaultConnector>
            <targetReference>No_Points</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Good</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>varPointsValueToSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_Points.Available_Points_10__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPointsValueToSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>25.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_Points.Available_Points_25__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPointsValueToSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_Points.Available_Points_100__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPointsValueToSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_Points.Available_Points_50__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_points_are_we_going_to_apply</targetReference>
            </connector>
            <label>All Good</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choose_Update_Path</name>
        <label>Choose Update Path</label>
        <locationX>1275</locationX>
        <locationY>981</locationY>
        <defaultConnector>
            <targetReference>Fail_Whale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>On_Behalf_of_Another</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_escalating_on_behalf_of_another</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manage_Other_s_Escalations_Screen</targetReference>
            </connector>
            <label>On Behalf of Another</label>
        </rules>
        <rules>
            <name>Remove_ALL_Escalation_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_remove_ALL_Escalations_from_this_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Users_that_can_Escalate_Collection</targetReference>
            </connector>
            <label>Remove ALL Escalation Path</label>
        </rules>
        <rules>
            <name>Remove_MY_Escalation_Path</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Please_Remove_MY_Escalation_from_this_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_Many_EE_Points_to_Add_in_Again</targetReference>
            </connector>
            <label>Remove MY Escalation Path</label>
        </rules>
        <rules>
            <name>Change_Escalation_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedByCurrentUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_Many_EE_Points_to_Add_in_Again</targetReference>
            </connector>
            <label>Change Escalation Path</label>
        </rules>
        <rules>
            <name>New_Escalation_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedByCurrentUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Values</targetReference>
            </connector>
            <label>New Escalation Path</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_a_match_of_owner_to_user</name>
        <label>Do we have a match of owner to user?</label>
        <locationX>2292</locationX>
        <locationY>932</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_matches_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Escalations.Escalation_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Points_Records.User__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Escalation_Value_was_it</targetReference>
            </connector>
            <label>Owner matches User</label>
        </rules>
        <rules>
            <name>No_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Escalations.Escalation_Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Points_Records.User__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Points_Records</targetReference>
            </connector>
            <label>No Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_previous_escalations</name>
        <label>Do we have previous escalations?</label>
        <locationX>821</locationX>
        <locationY>885</locationY>
        <defaultConnector>
            <targetReference>Fail_Whale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Previously_Escalated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Escalation_Record_on_Case_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Previous_Escalations_Flag</targetReference>
            </connector>
            <label>Yes Previously Escalated</label>
        </rules>
        <rules>
            <name>Brand_New_Escalation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Escalation_Record_on_Case_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Way_are_we_Going</targetReference>
            </connector>
            <label>Brand New Escalation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_this_clear_the_escalation_completely</name>
        <label>Does this clear the escalation completely?</label>
        <locationX>1852</locationX>
        <locationY>857</locationY>
        <defaultConnector>
            <targetReference>Fail_Whale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Escalation_all_Gone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.EE_for_Flow__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEscalatedByOtherUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Escalation_from_Case</targetReference>
            </connector>
            <label>Yes Escalation all Gone</label>
        </rules>
        <rules>
            <name>Points_Remain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.EE_for_Flow__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEscalatedByOtherUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Point_Counts</targetReference>
            </connector>
            <label>Points Remain</label>
        </rules>
    </decisions>
    <decisions>
        <name>EE_Access</name>
        <label>EE Access?</label>
        <locationX>237</locationX>
        <locationY>957</locationY>
        <defaultConnector>
            <targetReference>Fail_Whale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Can_set_EE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Record.Can_set_EE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escalation_Points</targetReference>
            </connector>
            <label>Can set EE</label>
        </rules>
        <rules>
            <name>No_EE_for_You</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Record.Can_set_EE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoEEAccess</targetReference>
            </connector>
            <label>No EE for You!</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Many_EE_Points_to_Add_in_Again</name>
        <label>How Many EE Points to Add in Again</label>
        <locationX>1398</locationX>
        <locationY>1110</locationY>
        <defaultConnector>
            <targetReference>Fail_Whale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Remove_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviousEscalationRecord.Escalated_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_in_10</targetReference>
            </connector>
            <label>Remove 10</label>
        </rules>
        <rules>
            <name>Remove_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviousEscalationRecord.Escalated_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>25.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_in_25</targetReference>
            </connector>
            <label>Remove 25</label>
        </rules>
        <rules>
            <name>Remove_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviousEscalationRecord.Escalated_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_in_100</targetReference>
            </connector>
            <label>Remove 100</label>
        </rules>
        <rules>
            <name>Remove_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviousEscalationRecord.Escalated_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_in_50</targetReference>
            </connector>
            <label>Remove 50</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Closed</name>
        <label>Is Case Closed?</label>
        <locationX>651</locationX>
        <locationY>660</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Closed_Screen</targetReference>
            </connector>
            <label>Case Closed?</label>
        </rules>
        <rules>
            <name>Still_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escalation_Record_on_Case_Collection</targetReference>
            </connector>
            <label>Still Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>My_Escalation_or_All_Escalation_Removal</name>
        <label>My Escalation or All Escalation Removal?</label>
        <locationX>1534</locationX>
        <locationY>661</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Escalations_with_Others_still_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedByOtherUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Please_remove_ALL_Escalations_from_this_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Users_that_can_Escalate_Collection</targetReference>
            </connector>
            <label>All Escalations with Others still Active</label>
        </rules>
        <rules>
            <name>All_Escalations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_remove_ALL_Escalations_from_this_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Escalation_from_Case</targetReference>
            </connector>
            <label>All Escalations Just Me</label>
        </rules>
        <rules>
            <name>My_Escalation</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Please_Remove_MY_Escalation_from_this_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Please_remove_ALL_Escalations_from_this_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Please_remove_ALL_Escalations_from_this_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_this_clear_the_escalation_completely</targetReference>
            </connector>
            <label>My Escalation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Some_Convoluted_Logic_to_Decide_what_to_Show</name>
        <label>Some Convoluted Logic to Decide what to Show</label>
        <locationX>1123</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Show_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviousEscalationRecord.Escalated_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>25.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_Points.Available_Points_10__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_10</targetReference>
            </connector>
            <label>Show 10</label>
        </rules>
        <rules>
            <name>Show_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviousEscalationRecord.Escalated_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_Points.Available_Points_25__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_25</targetReference>
            </connector>
            <label>Show 25</label>
        </rules>
        <rules>
            <name>Show_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviousEscalationRecord.Escalated_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_Points.Available_Points_100__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_50</targetReference>
            </connector>
            <label>Show 50</label>
        </rules>
        <rules>
            <name>Show_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviousEscalationRecord.Escalated_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_Points.Available_Points_100__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_100</targetReference>
            </connector>
            <label>Show 100</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Escalation_Value_was_it</name>
        <label>What Escalation Value was it?</label>
        <locationX>2397</locationX>
        <locationY>796</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Escalated_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Escalations.Escalated_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_10_Point_Back_to_User_and_Set_to_Collection</targetReference>
            </connector>
            <label>Escalated 10</label>
        </rules>
        <rules>
            <name>Escalated_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Escalations.Escalated_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>25.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_25_Point_Back_to_User_and_Set_to_Collection</targetReference>
            </connector>
            <label>Escalated 25</label>
        </rules>
        <rules>
            <name>Escalated_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Escalations.Escalated_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_100_Point_Back_to_User_and_Set_to_Collection</targetReference>
            </connector>
            <label>Escalated 100</label>
        </rules>
        <rules>
            <name>Escalated_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Escalations.Escalated_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_50_Point_Back_to_User_and_Set_to_Collection</targetReference>
            </connector>
            <label>Escalated 50</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_points_are_we_going_to_apply</name>
        <label>What points are we going to apply?</label>
        <locationX>1101</locationX>
        <locationY>296</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X10_Points</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPointsValueToSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_10_Points</targetReference>
            </connector>
            <label>10 Points</label>
        </rules>
        <rules>
            <name>X25_Points</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPointsValueToSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>25.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_25_Points</targetReference>
            </connector>
            <label>25 Points</label>
        </rules>
        <rules>
            <name>X100_Points</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPointsValueToSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_100_Points</targetReference>
            </connector>
            <label>100 Points</label>
        </rules>
        <rules>
            <name>X50_Points</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPointsValueToSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_50_Points</targetReference>
            </connector>
            <label>50 Points</label>
        </rules>
    </decisions>
    <decisions>
        <description>Will need to get the data for the table if so.</description>
        <name>Which_Way_are_we_Going</name>
        <label>Which Way are we Going?</label>
        <locationX>943</locationX>
        <locationY>1161</locationY>
        <defaultConnector>
            <targetReference>Fail_Whale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>User_Out_of_Points</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Escalation_Points.Available_Points_10__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_Points.Available_Points_25__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_Points.Available_Points_50__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_Points.Available_Points_100__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_User_Out_of_Points_Flag</targetReference>
            </connector>
            <label>User Out of Points</label>
        </rules>
        <rules>
            <name>Still_Out_of_Points</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) OR (5 AND 6 AND 7 AND 8) OR (9 AND 10 AND 11 AND 12) OR (13 AND 14 AND 15 AND 16)</conditionLogic>
            <conditions>
                <leftValueReference>PreviousEscalationRecord.Escalated_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_Points.Available_Points_25__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_Points.Available_Points_50__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_Points.Available_Points_100__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PreviousEscalationRecord.Escalated_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>25.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_Points.Available_Points_10__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_Points.Available_Points_50__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_Points.Available_Points_100__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PreviousEscalationRecord.Escalated_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_Points.Available_Points_10__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_Points.Available_Points_25__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_Points.Available_Points_100__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PreviousEscalationRecord.Escalated_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_Points.Available_Points_10__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_Points.Available_Points_25__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Escalation_Points.Available_Points_50__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_User_Out_of_Points_Flag</targetReference>
            </connector>
            <label>Previously Escalated - Still Out of Points</label>
        </rules>
        <rules>
            <name>Current_User_Already_Escalated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedByCurrentUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Some_Convoluted_Logic_to_Decide_what_to_Show</targetReference>
            </connector>
            <label>Current User Already Escalated</label>
        </rules>
        <rules>
            <name>New_Escalation</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>varPreviousEscalations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEscalatedByOtherUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPreviousEscalations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Executive_Escalation_Weighting_Management_0_0_0_0_0</targetReference>
            </connector>
            <label>New Escalation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_Escalated</name>
        <label>Who Escalated</label>
        <locationX>558</locationX>
        <locationY>1364</locationY>
        <defaultConnector>
            <targetReference>Set_Other_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EscalationInLoop.Escalation_Owner__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_User_Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEscalatedByCurrentUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_User</targetReference>
            </connector>
            <label>Current User</label>
        </rules>
        <rules>
            <name>If_our_flags_are_set_BAIL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEscalatedByCurrentUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEscalatedByOtherUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Existing_Escalations</targetReference>
            </connector>
            <label>If our flags are set BAIL</label>
        </rules>
    </decisions>
    <formulas>
        <name>ReturnRunningUserFullName</name>
        <dataType>String</dataType>
        <expression>{!$User.Full_Name__c}</expression>
    </formulas>
    <formulas>
        <name>ReturnRunningUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Issue Weights EE Input Screens {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Issue Weights EE Input Screens</label>
    <loops>
        <name>Check_Existing_Escalations</name>
        <label>Check Existing Escalations</label>
        <locationX>869</locationX>
        <locationY>1368</locationY>
        <assignNextValueToReference>EscalationInLoop</assignNextValueToReference>
        <collectionReference>Escalation_Record_on_Case_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Who_Escalated</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Which_Way_are_we_Going</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Escalations</name>
        <label>Loop Escalations</label>
        <locationX>2078</locationX>
        <locationY>562</locationY>
        <collectionReference>Escalation_Record_on_Case_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Points_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_Escalation_from_Case_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Points_Records</name>
        <label>Loop Points Records</label>
        <locationX>2128</locationX>
        <locationY>728</locationY>
        <collectionReference>Get_All_Users_that_can_Escalate_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Do_we_have_a_match_of_owner_to_user</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Removed_Flag_and_Add_to_New_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Escalation_Record</name>
        <label>Create Escalation Record</label>
        <locationX>1253</locationX>
        <locationY>319</locationY>
        <connector>
            <targetReference>Update_User_Point_Counts</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalated_Value__c</field>
            <value>
                <elementReference>varPointsValueToSet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalation_Comments__c</field>
            <value>
                <elementReference>Please_include_comments_about_this_escalation_0_0_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalation_Owner__c</field>
            <value>
                <elementReference>ReturnRunningUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Executive_Escalation__c</object>
    </recordCreates>
    <recordLookups>
        <name>CaseRecord</name>
        <label>CaseRecord</label>
        <locationX>491</locationX>
        <locationY>964</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Case_Closed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fail_Whale</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordLookups>
    <recordLookups>
        <name>Escalation_Points</name>
        <label>Escalation Points</label>
        <locationX>369</locationX>
        <locationY>961</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>NoEEAccess</targetReference>
        </faultConnector>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReturnRunningUserID</elementReference>
            </value>
        </filters>
        <object>Executive_Escalation_Points__c</object>
    </recordLookups>
    <recordLookups>
        <name>Escalation_Record_on_Case_Collection</name>
        <label>Escalation Record on Case Collection</label>
        <locationX>861</locationX>
        <locationY>659</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_we_have_previous_escalations</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fail_Whale</targetReference>
        </faultConnector>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Removed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Executive_Escalation__c</object>
    </recordLookups>
    <recordLookups>
        <description>all escalation point records...  all of them!  hahaha!</description>
        <name>Get_All_Users_that_can_Escalate_Collection</name>
        <label>Escalation Points Collection</label>
        <locationX>1944</locationX>
        <locationY>535</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Escalations</targetReference>
        </connector>
        <object>Executive_Escalation_Points__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_User_Escalations</name>
        <label>Get Existing User Escalations</label>
        <locationX>975</locationX>
        <locationY>679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Executive_Escalation_Weighting_Management_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Escalation_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Record.Id</elementReference>
            </value>
        </filters>
        <object>Executive_Escalation__c</object>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>139</locationX>
        <locationY>954</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EE_Access</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fail_Whale</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReturnRunningUserID</elementReference>
            </value>
        </filters>
        <object>User</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>1428</locationX>
        <locationY>85</locationY>
        <inputReference>CaseRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Escalation_Record</name>
        <label>Update Escalation Record</label>
        <locationX>1536</locationX>
        <locationY>811</locationY>
        <connector>
            <targetReference>Are_we_Changing_or_Removing</targetReference>
        </connector>
        <inputReference>PreviousEscalationRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Escalation_Records</name>
        <label>Update Escalation Records</label>
        <locationX>1576</locationX>
        <locationY>85</locationY>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
        <inputReference>UpdatedExecutiveEscalation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Point_Counts</name>
        <label>Update User Point Counts</label>
        <locationX>1426</locationX>
        <locationY>221</locationY>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
        <inputReference>Escalation_Points</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Records</name>
        <label>Update User Records</label>
        <locationX>1827</locationX>
        <locationY>159</locationY>
        <connector>
            <targetReference>Update_Escalation_Records</targetReference>
        </connector>
        <inputReference>updatedPointsRecordsCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>Case_Closed_Screen</name>
        <label>Case Closed Screen</label>
        <locationX>535</locationX>
        <locationY>428</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseClosedMsg</name>
            <fieldText>&lt;p&gt;Hey there!  This case is closed and can&apos;t be escalated.  If you see this in error, let Darcie know.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Executive_Escalation_Weighting_Management_0_0_0_0_0</name>
        <label>Executive Escalation Weighting Management</label>
        <locationX>1172</locationX>
        <locationY>980</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Choose_Update_Path</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Executive Escalation Management&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Are_you_escalating_on_behalf_of_another</name>
            <dataType>Boolean</dataType>
            <fieldText>Are you escalating on behalf of another?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_User_Record.Manage_Other_s_Escalations__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BlankLine3</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_User_Record.Manage_Other_s_Escalations__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Please_Remove_MY_Escalation_from_this_Case</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Please Remove MY Escalation from this Case</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varPreviousEscalations</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varEscalatedByCurrentUser</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Please_remove_ALL_Escalations_from_this_Case</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Please remove ALL Escalations from this Case</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;This will de-escalate the case completely.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varPreviousEscalations</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varEscalatedByOtherUser</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BlankLine2</name>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varPreviousEscalations</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Level_Choice_10</name>
            <choiceReferences>Choice10</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>What level of escalation would you like to apply?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;{!templateHelp}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>5 AND (1 AND 2) OR (3 AND 4)</conditionLogic>
                <conditions>
                    <leftValueReference>Escalation_Points.Available_Points_10__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Escalation_Points.Available_Points_25__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varCustomLogic</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varShow10</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varUserOutOfPoints</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Level_Choice_25</name>
            <choiceReferences>Choice25</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>What level of escalation would you like to apply?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!templateHelp}&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>5 AND ( 1 AND 2) OR (3 AND 4)</conditionLogic>
                <conditions>
                    <leftValueReference>Escalation_Points.Available_Points_25__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Escalation_Points.Available_Points_10__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varCustomLogic</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varShow25</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varUserOutOfPoints</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Level_Choice_50</name>
            <choiceReferences>Choice50</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>What level of escalation would you like to apply?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>5 AND (1 AND 2) OR (3 AND 4)</conditionLogic>
                <conditions>
                    <leftValueReference>Escalation_Points.Available_Points_50__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Escalation_Points.Available_Points_100__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varCustomLogic</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varShow50</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varUserOutOfPoints</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Level_Choice_100</name>
            <choiceReferences>Choice100</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>What level of escalation would you like to apply?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!templateHelp}&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>5 AND ( 1 AND 2) OR (3 AND 4)</conditionLogic>
                <conditions>
                    <leftValueReference>Escalation_Points.Available_Points_100__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Escalation_Points.Available_Points_50__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varCustomLogic</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varShow100</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varUserOutOfPoints</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Level_Choice_10_25</name>
            <choiceReferences>Choice10</choiceReferences>
            <choiceReferences>Choice25</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>What level of escalation would you like to apply?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!templateHelp}&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varCustomLogic</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varUserOutOfPoints</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Escalation_Points.Available_Points_10__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Escalation_Points.Available_Points_25__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Level_Choice_50_100</name>
            <choiceReferences>Choice50</choiceReferences>
            <choiceReferences>Choice100</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>What level of escalation would you like to apply?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!templateHelp}&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>1 AND 2 AND 3 AND 4</conditionLogic>
                <conditions>
                    <leftValueReference>Escalation_Points.Available_Points_50__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Escalation_Points.Available_Points_100__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varCustomLogic</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varUserOutOfPoints</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Please_include_comments_about_this_escalation_0_0_0_0</name>
            <dataType>String</dataType>
            <fieldText>Please include a few comments about this escalation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_User_Record.X10_Point_EE__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_User_Record.X25_Point_EE__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_User_Record.X100_Point_EE__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varUserOutOfPoints</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NoEEPointsLeftMessage</name>
            <fieldText>&lt;p&gt;You appear to be out of available Escalation Points.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 AND 2 AND 3 AND 5) OR 4</conditionLogic>
                <conditions>
                    <leftValueReference>Escalation_Points.Available_Points_10__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Escalation_Points.Available_Points_25__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Escalation_Points.Available_Points_50__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varUserOutOfPoints</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Escalation_Points.Available_Points_100__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BlankLine</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CurrentCaseEscalationsMessage</name>
            <fieldText>&lt;p&gt;These are the escalations currently on this case for a total of {!CaseRecord.EE_for_Flow__c} additional points.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varPreviousEscalations</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BlankLine5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PointSummary</name>
            <fieldText>&lt;p&gt;{!templatePointSummary}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Escalation_Points.Oversight__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PointsSummaryOversight</name>
            <fieldText>&lt;p&gt;{!templatePointSummaryOversight}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Escalation_Points.Oversight__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <helpText>&lt;p&gt;This is the help stuff.  What does it do really?&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fail_Whale</name>
        <label>Fail Whale</label>
        <locationX>223</locationX>
        <locationY>571</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Darcie_Error_Email</targetReference>
        </connector>
        <fields>
            <name>FailureMessage</name>
            <fieldText>&lt;p&gt;What happened here!?  You have an error.  Contat Darcie.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&amp;lt;record&amp;gt;&lt;/p&gt;&lt;p&gt;{!$Flow.CurrentRecord}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&amp;lt;message&amp;gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;DECISION OUTCOMES&lt;/p&gt;&lt;p&gt;Can set EE {!Can_set_EE}&lt;/p&gt;&lt;p&gt;Previously Escalated {!Yes_Previously_Escalated}&lt;/p&gt;&lt;p&gt;New Escalation {!New_Escalation}&lt;/p&gt;&lt;p&gt;{!Current_User_Already_Escalated}&lt;/p&gt;&lt;p&gt;If flags set bail  {!If_our_flags_are_set_BAIL}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;VARIABLES&lt;/p&gt;&lt;p&gt;Escalated by Current User {!varEscalatedByCurrentUser}&lt;/p&gt;&lt;p&gt;Escalated by Other User {!varEscalatedByOtherUser}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>In_Between_Screen</name>
        <label>In Between Screen!</label>
        <locationX>1706</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Escalation_Records</targetReference>
        </connector>
        <fields>
            <name>JustClickNext</name>
            <fieldText>&lt;p&gt;Just click NEXT.  Sorry for the extra click, Salesforce is silly sometimes.  &amp;lt;Darcie&amp;gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Manage_Other_s_Escalations_Screen</name>
        <label>Manage Other&apos;s Escalations</label>
        <locationX>1733</locationX>
        <locationY>1742</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DoNothing</name>
            <fieldText>&lt;p&gt;currently does nothing&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>no points fail screen</description>
        <name>No_Points</name>
        <label>No Points?</label>
        <locationX>432</locationX>
        <locationY>489</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Darcie_Error_Email</targetReference>
        </connector>
        <fields>
            <name>errordisplay</name>
            <fieldText>&lt;p&gt;Something went wrong, we checked again and you no longer have that point value available.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Were you escalating on a 2nd tab maybe?  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Possibly you might get this message if you didn&apos;t check off anything in the previous screen.  You can click previous and try again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Either way, check with Darcie.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoEEAccess</name>
        <label>NoEEAccess</label>
        <locationX>361</locationX>
        <locationY>647</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoEEFlag</name>
            <fieldText>&lt;p&gt;Hi there!  You don&apos;t appear to have the ability to set Executive Escalation Points on this case to adjust the Case Weight.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Talk to Darcie if you feel this is in error.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_User_Record</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>templateErrorReport</name>
        <text>&lt;p&gt;VER 2:51PM&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;CHOICES:&lt;/p&gt;&lt;p&gt;EE For Flow Value {!CaseRecord.EE_for_Flow__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;DECISION OUTCOMES&lt;/p&gt;&lt;p&gt;EE Acces:&lt;/p&gt;&lt;p&gt;Can set EE {!Can_set_EE}&lt;/p&gt;&lt;p&gt;No EE for You&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Do we have Previous Escalations:&lt;/p&gt;&lt;p&gt;Previously Escalated {!Yes_Previously_Escalated}&lt;/p&gt;&lt;p&gt;Brand New Escalation {!Brand_New_Escalation}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Who Escalated?&lt;/p&gt;&lt;p&gt;Current User {!Current_User}&lt;/p&gt;&lt;p&gt;BAIL {!If_our_flags_are_set_BAIL}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Which Way are we Going?&lt;/p&gt;&lt;p&gt;New Escalation {!New_Escalation}&lt;/p&gt;&lt;p&gt;Current User already Escalated {!Current_User_Already_Escalated}&lt;/p&gt;&lt;p&gt;Previously Escalated Still out of Points{!Still_Out_of_Points}&lt;/p&gt;&lt;p&gt;Out of Points {!User_Out_of_Points}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;VARIABLES&lt;/p&gt;&lt;p&gt;Escalated by Current User {!varEscalatedByCurrentUser}&lt;/p&gt;&lt;p&gt;Escalated by Other User {!varEscalatedByOtherUser}&lt;/p&gt;&lt;p&gt;Custom Logic {!varCustomLogic}&lt;/p&gt;&lt;p&gt;Previous Escalations {!varPreviousEscalations}&lt;/p&gt;&lt;p&gt;User Out of Points {!varUserOutOfPoints}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;User VARIABLES - POINTS&lt;/p&gt;&lt;p&gt;Manage Other Users {!Get_User_Record.Manage_Other_s_Escalations__c}&lt;/p&gt;&lt;p&gt;Can set EE {!Get_User_Record.Can_set_EE__c}&lt;/p&gt;&lt;p&gt;Avail 10 {!Get_User_Record.X10_Point_EE__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Avail 25 {!Get_User_Record.X25_Point_EE__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Avail 100 {!Get_User_Record.X100_Point_EE__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templateHelp</name>
        <text>&lt;p&gt;Executive Escalation (EE) will be available for use as follows:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Each Leader,  will be able to use two (2) 10 point EE&apos;s and one (1) 25 point EE.&lt;/li&gt;&lt;li&gt;Each Sr Leader, will be able to use three (3) 10 point EE&apos;s, two (2) 25 point EE&apos;s and one (1) 100 point EE&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templatePointSummary</name>
        <text>&lt;p&gt;&amp;lt;Your Point Summary&amp;gt;&lt;/p&gt;&lt;p&gt;Total Points:  10pt - {!Escalation_Points.Total_Points_10__c} / 25pt - &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Escalation_Points.Total_Points_25__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Available Points&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;:  10pt - {!Escalation_Points.Available_Points_10__c} / 25pt - {!Escalation_Points.Available_Points_25__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Used Points&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;:  10pt - {!Escalation_Points.Used_Points_10__c} / 25pt - {!Escalation_Points.Used_Points_25__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templatePointSummaryOversight</name>
        <text>&lt;p&gt;&amp;lt;Your Point Summary&amp;gt;&lt;/p&gt;&lt;p&gt;Total Points:  50pt - {!Escalation_Points.Total_Points_50__c} / 100pt - &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Escalation_Points.Total_Points_100__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Available Points&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;:  50pt - {!Escalation_Points.Available_Points_50__c} / 100pt - {!Escalation_Points.Available_Points_100__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Used Points&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;:  50pt - {!Escalation_Points.Used_Points_50__c} / 100pt - {!Escalation_Points.Used_Points_100__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>incoming CaseID</description>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EscalationInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Executive_Escalation__c</objectType>
    </variables>
    <variables>
        <name>PreviousEscalationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Executive_Escalation__c</objectType>
    </variables>
    <variables>
        <name>SelectedEscalationRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Executive_Escalation__c</objectType>
    </variables>
    <variables>
        <name>UpdatedExecutiveEscalation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Executive_Escalation__c</objectType>
    </variables>
    <variables>
        <name>updatedPointsRecordsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Executive_Escalation_Points__c</objectType>
    </variables>
    <variables>
        <name>UpdatedUserCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserRecordInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varCustomLogic</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varEscalatedByCurrentUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varEscalatedByOtherUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varPointsValueToSet</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPreviousEscalations</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varPrevSetWeight</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varShow10</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varShow100</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varShow10100</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varShow1025</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varShow25</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varShow25100</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varShow50</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserIdToEscalateFor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserOutOfPoints</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
