flows/IssueWeights_NoScreens.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Inital_Update_IMP</name>
        <label>Inital Update IMP</label>
        <locationX>496</locationX>
        <locationY>985</locationY>
        <assignmentItems>
            <assignToReference>varMarqueeFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCalculatedIMPWeight</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp_IOI_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Keep_Rev_the_same</name>
        <label>Keep Rev the same</label>
        <locationX>419</locationX>
        <locationY>1455</locationY>
        <assignmentItems>
            <assignToReference>varCalculatedREVWeight</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Record.REV_for_Flow__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_with_Weights</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_REV_to_0</name>
        <label>Set REV to 0</label>
        <locationX>269</locationX>
        <locationY>1527</locationY>
        <assignmentItems>
            <assignToReference>varCalculatedREVWeight</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_an_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOpportunityValue</name>
        <label>SetOpportunityValue and Initial Rev</label>
        <locationX>373</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Record.Open_Opportunity_Weighted_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpenProjectRevenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Record.Total_Project_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_an_End_User_Account_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Importance_Variable_CARE</name>
        <label>Update Importance Variable CARE</label>
        <locationX>615</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>varCalculatedIMPWeight</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaCalculateImportanceWeightCare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_with_Weights</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opp_IOI_Variables</name>
        <label>Update Opp/IOI Variables</label>
        <locationX>313</locationX>
        <locationY>1177</locationY>
        <assignmentItems>
            <assignToReference>CalculatedOpptyWeight</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaCalculateOpportunityWeight</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalculatedIOIWeight</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaCalculateIOIWeight</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_REV_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Rev</name>
        <label>Update Rev</label>
        <locationX>507</locationX>
        <locationY>1347</locationY>
        <assignmentItems>
            <assignToReference>varCalculatedREVWeight</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaCalculateRevenueWeight</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_with_Weights</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateOpportunityValuewithEndUser</name>
        <label>UpdateOpportunityValuewithEndUser</label>
        <locationX>680</locationX>
        <locationY>929</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>returnMAXOpportunityValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Marquee_Customer</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CareName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Care</stringValue>
        </value>
    </constants>
    <constants>
        <name>CarePlusName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Care+</stringValue>
        </value>
    </constants>
    <constants>
        <name>Imagine100Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Imagine 100</stringValue>
        </value>
    </constants>
    <constants>
        <name>MarqueeName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Marquee</stringValue>
        </value>
    </constants>
    <constants>
        <name>StandardWord</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </constants>
    <constants>
        <name>StandardWordValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Does_the_End_User_Account_Match_the_Account_ID</name>
        <label>Does the End User Account Match the Account ID?</label>
        <locationX>679</locationX>
        <locationY>682</locationY>
        <defaultConnector>
            <targetReference>End_User_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_it_matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Record.End_User_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Case_Record.End_User_Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marquee_Customer</targetReference>
            </connector>
            <label>Yes it matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_REV_Changed</name>
        <label>Has REV Changed?</label>
        <locationX>147</locationX>
        <locationY>1406</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>We_re_Not_Setting_REV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Record.Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_REV_to_0</targetReference>
            </connector>
            <label>We&apos;re Not Setting REV</label>
        </rules>
        <rules>
            <name>Yes_its_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Record.REV_for_Flow__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>FormulaCalculateRevenueWeight</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_Record.Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Rev</targetReference>
            </connector>
            <label>Yes, its changed</label>
        </rules>
        <rules>
            <name>The_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Record.REV_for_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FormulaCalculateRevenueWeight</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Keep_Rev_the_same</targetReference>
            </connector>
            <label>The Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_a_Case_ID</name>
        <label>Is There a Case ID?</label>
        <locationX>167</locationX>
        <locationY>416</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CaseID_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_an_Account_ID</targetReference>
            </connector>
            <label>CaseID Yes</label>
        </rules>
        <rules>
            <name>CaseID_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>CaseID No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_Account_ID</name>
        <label>Is there an Account ID?</label>
        <locationX>163</locationX>
        <locationY>521</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account_ID_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Record</targetReference>
            </connector>
            <label>Account ID Yes</label>
        </rules>
        <rules>
            <name>AccountIDNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>AccountIDNo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_Asset</name>
        <label>Is there an Asset and not a Project Case?</label>
        <locationX>145</locationX>
        <locationY>1688</locationY>
        <defaultConnector>
            <targetReference>Update_Case_with_Weights</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Asset_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Record.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_Record.Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Asset_Contract_Lookup_Flow</targetReference>
            </connector>
            <label>Asset Present</label>
        </rules>
        <rules>
            <name>Project_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Record.Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_with_Weights</targetReference>
            </connector>
            <label>Project Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_End_User_Account_ID</name>
        <label>Is there an End User Account ID</label>
        <locationX>503</locationX>
        <locationY>675</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>End_User_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Case_Record.End_User_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_the_End_User_Account_Match_the_Account_ID</targetReference>
            </connector>
            <label>End User Yes</label>
        </rules>
        <rules>
            <name>End_User_No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Case_Record.End_User_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marquee_Customer</targetReference>
            </connector>
            <label>End User No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marquee_Customer</name>
        <label>Marquee Customer?</label>
        <locationX>299</locationX>
        <locationY>919</locationY>
        <defaultConnector>
            <targetReference>Update_Opp_IOI_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Marquee</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Account_Record.Service_Account_Classification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MarqueeName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Record.Parent_Account_Classification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MarqueeName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>End_User_Account.Service_Account_Classification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MarqueeName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inital_Update_IMP</targetReference>
            </connector>
            <label>Yes Marquee</label>
        </rules>
    </decisions>
    <formulas>
        <name>FormulaCalculateImportanceWeightCare</name>
        <dataType>Number</dataType>
        <expression>IF ({!varMarqueeFlag}, 10,
IF ( AND ({!ContractValue} &gt;= 1, {!ContractValue} &lt;= 250000 ), 1, 
IF ( AND ({!ContractValue} &gt;=250001, {!ContractValue} &lt;= 500000 ), 2,
IF ( AND ({!ContractValue} &gt;= 500001, {!ContractValue} &lt;= 750000 ), 3,
IF ( AND ({!ContractValue} &gt;= 750001, {!ContractValue} &lt;= 1000000 ), 4,
IF ({!ContractValue} &gt; 1000000, 5, 0
))))))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FormulaCalculateIOIWeight</name>
        <dataType>Number</dataType>
        <expression>IF(ISPICKVAL({!Case_Record.Priority}, &quot;1-Critical&quot;), 15, 
IF(ISPICKVAL({!Case_Record.Priority}, &quot;2-High&quot;), 10,
0
))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FormulaCalculateOpportunityWeight</name>
        <dataType>Number</dataType>
        <expression>IF ({!varOpportunityValue} &lt; 500000, 0,

      IF (AND({!varOpportunityValue} &gt;=500000, {!varOpportunityValue} &lt;= 999999),3,

          IF ({!varOpportunityValue} &gt;= 1000000,5,0
)
)
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FormulaCalculateRevenueWeight</name>
        <dataType>Number</dataType>
        <expression>IF ( AND( {!Case_Record.Project__r.Total_Revenue__c} &gt;= 1, {!Case_Record.Project__r.Total_Revenue__c} &lt;= 250000 ), 1, 
IF ( AND( {!Case_Record.Project__r.Total_Revenue__c} &gt;=250001, {!Case_Record.Project__r.Total_Revenue__c} &lt;= 500000 ), 2, 
IF ( AND( {!Case_Record.Project__r.Total_Revenue__c} &gt;= 500001, {!Case_Record.Project__r.Total_Revenue__c} &lt;=750000 ), 3, 
IF ( AND( {!Case_Record.Project__r.Total_Revenue__c} &gt;= 750001, {!Case_Record.Project__r.Total_Revenue__c} &lt;= 1000000 ), 4,
IF ( {!Case_Record.Project__r.Total_Revenue__c} &gt;= 1000001, 5, 0

)))))

+ IF ({!Case_Record.Project__r.Rev_Rec_90_Days_Rev_100K__c}, 10, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>GetUserName</name>
        <dataType>String</dataType>
        <expression>{!$User.Full_Name__c}</expression>
    </formulas>
    <formulas>
        <name>returnMAXOpportunityValues</name>
        <dataType>Currency</dataType>
        <expression>MAX({!Account_Record.Open_Opportunity_Weighted_Value__c}, {!End_User_Account.Open_Opportunity_Weighted_Value__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>IssueWeights_NoScreens {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IssueWeights_NoScreens</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Account_Record</name>
        <label>Account Record</label>
        <locationX>172</locationX>
        <locationY>668</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetOpportunityValue</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordLookups>
    <recordLookups>
        <name>Case_Record</name>
        <label>Case Record</label>
        <locationX>173</locationX>
        <locationY>291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_a_Case_ID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
    </recordLookups>
    <recordLookups>
        <name>End_User_Account</name>
        <label>End User Account</label>
        <locationX>680</locationX>
        <locationY>799</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateOpportunityValuewithEndUser</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Record.End_User_Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_with_Weights</name>
        <label>Update Case with Weights</label>
        <locationX>946</locationX>
        <locationY>1467</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IMP_for_Flow__c</field>
            <value>
                <elementReference>varCalculatedIMPWeight</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IOI_for_Flow__c</field>
            <value>
                <elementReference>CalculatedIOIWeight</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OPP_for_Flow__c</field>
            <value>
                <elementReference>CalculatedOpptyWeight</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>REV_for_Flow__c</field>
            <value>
                <elementReference>varCalculatedREVWeight</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weighting_Last_Updated_By__c</field>
            <value>
                <elementReference>GetUserName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weighting_Last_Updated_Process__c</field>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weighting_Last_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Case_Record</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Run_Asset_Contract_Lookup_Flow</name>
        <label>Run Asset Contract Lookup Flow</label>
        <locationX>344</locationX>
        <locationY>1695</locationY>
        <connector>
            <targetReference>Update_Importance_Variable_CARE</targetReference>
        </connector>
        <flowName>Asset_Contract_Value_Lookup</flowName>
        <inputAssignments>
            <name>AssetID</name>
            <value>
                <elementReference>Case_Record.AssetId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ContractValue</assignToReference>
            <name>ContractValue</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>textFlowVariables</name>
        <text>&lt;p&gt;Variables&lt;/p&gt;&lt;p&gt;CaseId - {!CaseId}&lt;/p&gt;&lt;p&gt;CaseRecord - {!CaseRecord}&lt;/p&gt;&lt;p&gt;AccountRecord - {!AccountRecord}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Decisions&lt;/p&gt;&lt;p&gt;Case ID -&lt;/p&gt;&lt;p&gt;Account ID -&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>UserMessage</name>
        <text>@[{!CaseRecord.OwnerId}] Your case has had its initial weighting set.  You will now have to go and set the IOI value on the case and then click the CREATE/UPDATE JIRA button on the bug to update JIRA with the new weighting.  If you don&apos;t see the button then your bug isn&apos;t integrated and it MUST be converted to an integrated type.

 #[Cases to Update with Weight]</text>
    </textTemplates>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AssetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>CalculatedIOIWeight</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CalculatedOpptyWeight</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CollectContracts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>CollectRelatedProjects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Related_Project_Case__c</objectType>
    </variables>
    <variables>
        <name>ContractCareStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContractValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EndUserAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>LoopContracts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>varCalculatedIMPWeight</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCalculatedREVWeight</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varMarqueeFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varOpenProjectRevenue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOpportunityValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
