flows/Knowledge_Update_Box_Links_App.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Draft_Article</name>
        <label>Create Draft Article</label>
        <locationX>214</locationX>
        <locationY>308</locationY>
        <actionName>createDraftFromOnlineKnowledgeArticle</actionName>
        <actionType>createDraftFromOnlineKnowledgeArticle</actionType>
        <connector>
            <targetReference>New_Article</targetReference>
        </connector>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>EDIT_AS_DRAFT_ARTICLE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>articleVersionId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>unpublish</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Publish</name>
        <label>Publish</label>
        <locationX>326</locationX>
        <locationY>949</locationY>
        <actionName>publishKnowledgeArticles</actionName>
        <actionType>publishKnowledgeArticles</actionType>
        <connector>
            <targetReference>done</targetReference>
        </connector>
        <inputParameters>
            <name>articleVersionIdList</name>
            <value>
                <elementReference>IDList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pubAction</name>
            <value>
                <stringValue>PUBLISH_ARTICLE</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>because Salesforce is dumb</description>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>237</locationX>
        <locationY>857</locationY>
        <assignmentItems>
            <assignToReference>IDList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Article.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>219</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>New_Article.Release_Notes_Download_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewLink.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Article.Documentation_Download_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewLink.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Article.Product_Pillar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductPicklist.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Article.Product_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductPicklist.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Article.Product_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductPicklist.bottomValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Article.Software_Release__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Article.Includes_Documentation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Data_Categories_Assignment</targetReference>
        </connector>
    </assignments>
    <description>quick update screens for box link update, does the publishing for you!</description>
    <interviewLabel>Knowledge - Update Box Links App {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Knowledge - Update Box Links App</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>New_Article</name>
        <label>New Article</label>
        <locationX>217</locationX>
        <locationY>426</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <filters>
            <field>KnowledgeArticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record.KnowledgeArticleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PublishStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Record</name>
        <label>Record</label>
        <locationX>313</locationX>
        <locationY>184</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Knowledge__kav</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Article_to_Publish</name>
        <label>Update Article to Publish</label>
        <locationX>230</locationX>
        <locationY>713</locationY>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
        <inputReference>New_Article</inputReference>
    </recordUpdates>
    <screens>
        <name>done</name>
        <label>done</label>
        <locationX>455</locationX>
        <locationY>855</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen</targetReference>
        </connector>
        <fields>
            <name>doneithink</name>
            <fieldText>&lt;p&gt;Done!  Now copy this link into Sharepoint.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Record.Community_Link__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>313</locationX>
        <locationY>310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Draft_Article</targetReference>
        </connector>
        <fields>
            <name>NewLink</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New URL</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProductPicklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Knowledge__kav</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Product_Pillar__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Product_Family__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Pillar</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Product Family</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>Product_Line__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomLabel</name>
                <value>
                    <stringValue>Product Line</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Record.Product_Pillar__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>Record.Product_Family__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomValue</name>
                <value>
                    <elementReference>Record.Product_Line__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Record</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Call_Data_Categories_Assignment</name>
        <label>Call Data Categories Assignment</label>
        <locationX>50</locationX>
        <locationY>711</locationY>
        <connector>
            <targetReference>Update_Article_to_Publish</targetReference>
        </connector>
        <flowName>Knowledge_Data_Categories</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>New_Article.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ArticleCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>IDList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
