flows/Knowledge_Box_ApocalypseCleanup.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Archive_Article</name>
        <label>Archive Article</label>
        <locationX>1018</locationX>
        <locationY>1682</locationY>
        <actionName>archiveKnowledgeArticles</actionName>
        <actionType>archiveKnowledgeArticles</actionType>
        <inputParameters>
            <name>articleVersionIdList</name>
            <value>
                <elementReference>ArchiveArticleCollection</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Post_to_Manager</name>
        <label>Chatter Post to Manager</label>
        <locationX>798</locationX>
        <locationY>926</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Assign_New_Topic</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>textMessageToManager</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Latest_Article_Version.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>internalUsers</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter_Lost_to_Time</name>
        <label>Post to Chatter - Lost to Time</label>
        <locationX>1018</locationX>
        <locationY>1202</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Add_to_Archive_List</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>LosttoTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Latest_Article_Version.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>internalUsers</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter_User</name>
        <label>Post to Chatter - User</label>
        <locationX>534</locationX>
        <locationY>686</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Assign_New_Topic</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>textMessageToUser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Latest_Article_Version.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>internalUsers</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_to_Archive_List</name>
        <label>Add to Archive List</label>
        <locationX>1018</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>ArchiveArticleCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Latest_Article_Version.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Topic_Assignments_for_Removal</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Get_a_User</name>
        <label>Get a User?</label>
        <locationX>1018</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>Post_to_Chatter_Lost_to_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_got_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Manager_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_Post_to_Manager</targetReference>
            </connector>
            <label>Yes got user</label>
        </rules>
        <rules>
            <name>No_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Manager_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_Chatter_Lost_to_Time</targetReference>
            </connector>
            <label>No User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Active</name>
        <label>Is User Active?</label>
        <locationX>776</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Manager_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Flag_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Creator_User_Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_Chatter_User</targetReference>
            </connector>
            <label>Active Flag True</label>
        </rules>
    </decisions>
    <interviewLabel>Knowledge - Box Apocolypse Cleanup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Knowledge - Box ApocalypseCleanup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assign_New_Topic</name>
        <label>Assign New Topic</label>
        <locationX>535</locationX>
        <locationY>849</locationY>
        <inputAssignments>
            <field>EntityId</field>
            <value>
                <elementReference>Latest_Article_Version.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TopicId</field>
            <value>
                <stringValue>0TO3r000000g8ApGAI</stringValue>
            </value>
        </inputAssignments>
        <object>TopicAssignment</object>
    </recordCreates>
    <recordDeletes>
        <name>Remove_Topic</name>
        <label>Remove Topic</label>
        <locationX>1018</locationX>
        <locationY>1562</locationY>
        <connector>
            <targetReference>Archive_Article</targetReference>
        </connector>
        <inputReference>Topic_Assignments_for_Removal</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Creator_User_Record</name>
        <label>Creator User Record</label>
        <locationX>776</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_User_Active</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Latest_Article_Version.CreatedById</elementReference>
            </value>
        </filters>
        <object>User</object>
    </recordLookups>
    <recordLookups>
        <name>Knowledge</name>
        <label>Knowledge</label>
        <locationX>898</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Latest_Article_Version</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Knowledge__ka</object>
    </recordLookups>
    <recordLookups>
        <name>Latest_Article_Version</name>
        <label>Latest Article Version</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Creator_User_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <sortField>VersionNumber</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Manager_User</name>
        <label>Manager User</label>
        <locationX>1018</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_a_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Creator_User_Record.ManagerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
    </recordLookups>
    <recordLookups>
        <name>Topic_Assignments_for_Removal</name>
        <label>Topic Assignments for Removal</label>
        <locationX>1018</locationX>
        <locationY>1442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remove_Topic</targetReference>
        </connector>
        <filters>
            <field>TopicId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0TO3r000000g7mzGAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>EntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Latest_Article_Version.Id</elementReference>
            </value>
        </filters>
        <object>TopicAssignment</object>
    </recordLookups>
    <startElementReference>Latest_Article_Version</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>LosttoTime</name>
        <text>This article has been archived automatically because it has a box link, the creator is inactive and there is no manager record.</text>
    </textTemplates>
    <textTemplates>
        <name>textMessageToManager</name>
        <text>Hi there @[{!Manager_User.Id}]!  This is an automated message.  This article was created by someone no longer with Imagine and my script says it has a link to Box.  Box will be gone very shortly so it needs some attention.  If this is article is no longer relevant, feel free to press the ARCHIVE button.  Otherwise please update with a new link.  If you need help with this, let Darcie know!
#[#Box Apocalypse]</text>
    </textTemplates>
    <textTemplates>
        <name>textMessageToUser</name>
        <text>Hi there @[{!Creator_User_Record.Id}]!  This is an automated message.  This article was by you and my script says it has a link to Box.  Box will be gone very shortly so it needs some attention.  If this is article is no longer relevant, feel free to press the ARCHIVE button. 
 Otherwise it needs to be updated with a new link.  If you need help with this, let Darcie know!
#[Box Apocalypse]</text>
    </textTemplates>
    <variables>
        <name>ArchiveArticleCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
