flows/Knowledge_Article_After_Save_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Partner_Yes</name>
        <label>Partner=Yes</label>
        <locationX>181</locationX>
        <locationY>726</locationY>
        <assignmentItems>
            <assignToReference>varPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_for_Partner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>did_we_get_some</name>
        <label>did we get some?</label>
        <locationX>46</locationX>
        <locationY>422</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Categories</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_there_Categories</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Data_Category</targetReference>
            </connector>
            <label>No Categories</label>
        </rules>
        <rules>
            <name>Yes_Categories</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_there_Categories</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_for_Partner</targetReference>
            </connector>
            <label>Yes Categories</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_varPartner_True</name>
        <label>Is varPartner True?</label>
        <locationX>485</locationX>
        <locationY>558</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPartner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Data_Category</targetReference>
            </connector>
            <label>yes true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner</name>
        <label>Partner?</label>
        <locationX>205</locationX>
        <locationY>598</locationY>
        <defaultConnector>
            <targetReference>Look_for_Partner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_Partner.DataCategoryName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Yes</targetReference>
            </connector>
            <label>Yes partner</label>
        </rules>
    </decisions>
    <description>hardcoding the partner category to product notification articles</description>
    <interviewLabel>Knowledge Article - After Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Knowledge Article - After Save Flow</label>
    <loops>
        <name>Look_for_Partner</name>
        <label>Look for Partner</label>
        <locationX>50</locationX>
        <locationY>544</locationY>
        <collectionReference>Is_there_Categories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Partner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_varPartner_True</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Update_Data_Category</name>
        <label>Update Data Category</label>
        <locationX>276</locationX>
        <locationY>400</locationY>
        <inputAssignments>
            <field>DataCategoryGroupName</field>
            <value>
                <stringValue>Products</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataCategoryName</field>
            <value>
                <stringValue>Partners</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Knowledge__DataCategorySelection</object>
    </recordCreates>
    <recordLookups>
        <name>Is_there_Categories</name>
        <label>Is there Categories?</label>
        <locationX>51</locationX>
        <locationY>297</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>did_we_get_some</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Knowledge__DataCategorySelection</object>
    </recordLookups>
    <startElementReference>Is_there_Categories</startElementReference>
    <status>Active</status>
    <variables>
        <name>varPartner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
