flows/Knowledge_Convert_Record_Type.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Draft</name>
        <label>Create Draft</label>
        <locationX>806</locationX>
        <locationY>293</locationY>
        <actionName>createDraftFromOnlineKnowledgeArticle</actionName>
        <actionType>createDraftFromOnlineKnowledgeArticle</actionType>
        <connector>
            <targetReference>Latest_Version</targetReference>
        </connector>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>EDIT_AS_DRAFT_ARTICLE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>articleVersionId</name>
            <value>
                <elementReference>Article.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>unpublish</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Publish_Article</name>
        <label>Publish Article</label>
        <locationX>1094</locationX>
        <locationY>852</locationY>
        <actionName>publishKnowledgeArticles</actionName>
        <actionType>publishKnowledgeArticles</actionType>
        <inputParameters>
            <name>articleVersionIdList</name>
            <value>
                <elementReference>varArticleToPublishCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pubAction</name>
            <value>
                <stringValue>PUBLISH_ARTICLE</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Archive_Flag</name>
        <label>Add Archive Flag</label>
        <locationX>745</locationX>
        <locationY>992</locationY>
        <assignmentItems>
            <assignToReference>varWorkingRecord.Archive_Canidate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Article</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Article_Were_Updating_Draft</name>
        <label>Assign Article Were Updating - Draft</label>
        <locationX>799</locationX>
        <locationY>414</locationY>
        <assignmentItems>
            <assignToReference>varArticleToPublishCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Article.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkingRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Article</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Record_Type_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CaptureID</name>
        <label>CaptureID</label>
        <locationX>1501</locationX>
        <locationY>177</locationY>
        <assignmentItems>
            <assignToReference>varThisIsTheOne</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Versions.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Published</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Break_Fix_Article_Type</name>
        <label>Change Break/Fix Article Type</label>
        <locationX>397</locationX>
        <locationY>885</locationY>
        <assignmentItems>
            <assignToReference>varWorkingRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_Type_ID.RecordTypeID15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkingRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formatBreakFixText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Archive_Canidate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_FAQ_Article_Type</name>
        <label>Change FAQ Article Type</label>
        <locationX>441</locationX>
        <locationY>570</locationY>
        <assignmentItems>
            <assignToReference>varWorkingRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_Type_ID.RecordTypeID15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkingRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formatFAQText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Archive_Canidate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_HowTo_Article_Type</name>
        <label>Change HowTo Article Type</label>
        <locationX>307</locationX>
        <locationY>570</locationY>
        <assignmentItems>
            <assignToReference>varWorkingRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_Type_ID.RecordTypeID15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkingRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formatHowToText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkingRecord.Internal_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Article.How_To_Internal_notes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Archive_Canidate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_OpenTV_Article_Type</name>
        <label>Change OpenTV Article Type</label>
        <locationX>184</locationX>
        <locationY>711</locationY>
        <assignmentItems>
            <assignToReference>varWorkingRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_Type_ID.RecordTypeID15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkingRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Article.OpenTV_Solution_Solution_Details__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkingRecord.Internal_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formatOpenTVInternalNotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Article</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Q_A_Article_Type</name>
        <label>Change Q&amp;A Article Type</label>
        <locationX>187</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>varWorkingRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_Type_ID.RecordTypeID15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkingRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formatQAText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkingRecord.Internal_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Article.Q_A_Internal_notes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Archive_Canidate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_RGB_FAQ_Article_Type</name>
        <label>Change RGB FAQ Article Type</label>
        <locationX>305</locationX>
        <locationY>777</locationY>
        <assignmentItems>
            <assignToReference>varWorkingRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_Type_ID.RecordTypeID15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkingRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Article.RGB_FAQ_Details__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkingRecord.Internal_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formatRGBInternalNote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Article</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Solution_Article_Type</name>
        <label>Change Solution Article Type</label>
        <locationX>182</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>varWorkingRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_Type_ID.RecordTypeID15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkingRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formatSolutionText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkingRecord.Internal_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formatSolutionInternalText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Archive_Canidate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Iteration</name>
        <label>Iteration</label>
        <locationX>1226</locationX>
        <locationY>81</locationY>
        <assignmentItems>
            <assignToReference>varIteration</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Iteration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Record_Type_Name</name>
        <label>New Record Type Name</label>
        <locationX>674</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Article</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Archived_Flag</name>
        <label>Set Archived Flag</label>
        <locationX>1386</locationX>
        <locationY>428</locationY>
        <assignmentItems>
            <assignToReference>varIsArchived</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Versions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Published_Flag</name>
        <label>Set Published Flag</label>
        <locationX>1387</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>varTheOneIsPublished</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Versions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Again</name>
        <label>Update Again!</label>
        <locationX>554</locationX>
        <locationY>303</locationY>
        <assignmentItems>
            <assignToReference>varArticleToPublishCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Latest_Version.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkingRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_Version</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Record_Type_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>article was never published, not visible to customer

Version # = 0 is not working.  not sure why!  Removing because its making everything a canidate.</description>
        <name>Is_Archive_Canidate</name>
        <label>Is Archive Canidate?</label>
        <locationX>736</locationX>
        <locationY>846</locationY>
        <defaultConnector>
            <targetReference>Update_Article</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Canidate</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>varWorkingRecord.IsVisibleInCsp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWorkingRecord.IsVisibleInPrm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varWorkingRecord.FirstPublishedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Archive_Flag</targetReference>
            </connector>
            <label>Yes Canidate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Online_Status_Path</name>
        <label>Online Status Path</label>
        <locationX>939</locationX>
        <locationY>340</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bail_if_already_Article</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Article.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Article</stringValue>
                </rightValue>
            </conditions>
            <label>Bail if already Article</label>
        </rules>
        <rules>
            <name>Archived</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsArchived</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Archived</targetReference>
            </connector>
            <label>Archived</label>
        </rules>
        <rules>
            <name>IsPublished</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTheOneIsPublished</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Draft</targetReference>
            </connector>
            <label>Published</label>
        </rules>
        <rules>
            <name>Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTheOneIsPublished</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Article_Were_Updating_Draft</targetReference>
            </connector>
            <label>Draft</label>
        </rules>
    </decisions>
    <decisions>
        <name>Published</name>
        <label>Published?</label>
        <locationX>1724</locationX>
        <locationY>281</locationY>
        <defaultConnector>
            <targetReference>Find_Versions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Published</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Versions.PublishStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Published_Flag</targetReference>
            </connector>
            <label>Yes Published</label>
        </rules>
        <rules>
            <name>Archived_Special_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Versions.PublishStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Archived</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Archived_Flag</targetReference>
            </connector>
            <label>Archived - Special Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Iteration</name>
        <label>What Iteration?</label>
        <locationX>1334</locationX>
        <locationY>178</locationY>
        <defaultConnector>
            <targetReference>Find_Versions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Numero_Uno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIteration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaptureID</targetReference>
            </connector>
            <label>Numero Uno</label>
        </rules>
        <rules>
            <name>All_the_rest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIteration</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Versions</targetReference>
            </connector>
            <label>All the rest</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Record_Type</name>
        <label>Which Record Type?</label>
        <locationX>432</locationX>
        <locationY>413</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FAQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Article.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_FAQ_Article_Type</targetReference>
            </connector>
            <label>FAQ</label>
        </rules>
        <rules>
            <name>How_To</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Article.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>How_To</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_HowTo_Article_Type</targetReference>
            </connector>
            <label>How To</label>
        </rules>
        <rules>
            <name>Solution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Article.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Solution_Article_Type</targetReference>
            </connector>
            <label>Solution</label>
        </rules>
        <rules>
            <name>Open_TV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Article.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OpenTV_Solution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_OpenTV_Article_Type</targetReference>
            </connector>
            <label>Open TV</label>
        </rules>
        <rules>
            <name>Q_A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Article.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q_A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Q_A_Article_Type</targetReference>
            </connector>
            <label>Q_A</label>
        </rules>
        <rules>
            <name>RGB_FAQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Article.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RGB_FAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_RGB_FAQ_Article_Type</targetReference>
            </connector>
            <label>RGB_FAQ</label>
        </rules>
        <rules>
            <name>Break_Fix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Article.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Break_Fix</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Break_Fix_Article_Type</targetReference>
            </connector>
            <label>Break_Fix</label>
        </rules>
    </decisions>
    <description>Probably shoudln&apos;t be used.  Utility for converting record types into the new ones.  Neat stuff though!</description>
    <formulas>
        <description>formats and returns Question, Answer, Link fields from FAQ Type Article</description>
        <name>returnFAQText</name>
        <dataType>String</dataType>
        <expression>{!Article.FAQ_Question__c} &amp; BR() &amp; {!Article.FAQ_Answer__c} &amp; {!Article.FAQ_Link__c}</expression>
    </formulas>
    <interviewLabel>Knowledge - Convert Record Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Knowledge - Convert Record Type</label>
    <loops>
        <name>Find_Versions</name>
        <label>Find Versions</label>
        <locationX>1101</locationX>
        <locationY>173</locationY>
        <collectionReference>Version_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Iteration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Article</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <description>Dangerous but we have a mess here.</description>
        <name>Delete_Archived</name>
        <label>Delete Archived</label>
        <locationX>952</locationX>
        <locationY>518</locationY>
        <inputReference>Article_Parent</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Article</name>
        <label>Article</label>
        <locationX>1103</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Online_Status_Path</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varThisIsTheOne</elementReference>
            </value>
        </filters>
        <object>Knowledge__kav</object>
    </recordLookups>
    <recordLookups>
        <name>Article_Parent</name>
        <label>Article Parent</label>
        <locationX>838</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Version_Collection</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Knowledge__ka</object>
    </recordLookups>
    <recordLookups>
        <name>Latest_Version</name>
        <label>Latest Version</label>
        <locationX>554</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Again</targetReference>
        </connector>
        <filters>
            <field>KnowledgeArticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Article_Parent.Id</elementReference>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Version_Collection</name>
        <label>Version Collection</label>
        <locationX>974</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Versions</targetReference>
        </connector>
        <filters>
            <field>KnowledgeArticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Article_Parent.Id</elementReference>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Article</name>
        <label>Update Article</label>
        <locationX>977</locationX>
        <locationY>852</locationY>
        <connector>
            <targetReference>Publish_Article</targetReference>
        </connector>
        <inputReference>varWorkingRecord</inputReference>
    </recordUpdates>
    <startElementReference>Article_Parent</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Record_Type_ID</name>
        <label>Record Type ID</label>
        <locationX>561</locationX>
        <locationY>411</locationY>
        <connector>
            <targetReference>Which_Record_Type</targetReference>
        </connector>
        <flowName>RecordTypeID_Lookup_Subflow</flowName>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Knowledge__kav</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <elementReference>RecordTypeDeveloperName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>formatBreakFixText</name>
        <text>&lt;p&gt;{!Article.Break_Fix_Describe_the_Symptom_What_is46__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Article.Break_Fix_Solution__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Article.Break_Fix_Link__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>formatFAQText</name>
        <text>&lt;p&gt;{!Article.FAQ_Question__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Article.FAQ_Answer__c} &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Article.FAQ_Link__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>formatHowToText</name>
        <text>&lt;p&gt;{!Article.How_To_Objective__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Environment/Version - {!Article.How_To_Environment__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Article.How_To_Procedure__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Article.How_To_Additional_notes__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>formatOpenTVInternalNotes</name>
        <text>OpenTV Converted Article
Solution # - {!Article.OpenTV_Solution_Solution_Number__c}
Product - {!Article.OpenTV_Solution_Product__c}
Status - {!Article.OpenTV_Solution_Status__c}</text>
    </textTemplates>
    <textTemplates>
        <name>formatQAText</name>
        <text>&lt;p&gt;{!Article.Q_A_Question__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Environment/Version - {!Article.Q_A_Environment__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Article.Q_A_Answer__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Article.Q_A_Additional_notes__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>formatRGBInternalNote</name>
        <text>RGB Converted Article
RGB FAQ Solution ID -  {!Article.RGB_FAQ_SolutionID__c}</text>
    </textTemplates>
    <textTemplates>
        <name>formatSolutionInternalText</name>
        <text>{!Article.Solution_Cause__c}
{!Article.Solution_Internal_notes__c}</text>
    </textTemplates>
    <textTemplates>
        <name>formatSolutionText</name>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Environment/Version - {!Article.Solution_Environment__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Article.Solution_Symptoms__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Article.Solution_Resolution__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Article.How_To_Additional_notes__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ArticleVersions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varArticleToPublishCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIsArchived</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varIteration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTheOneIsPublished</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varThisIsTheOne</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
</Flow>
