flows/Knowledge_Quick_Create_Article.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Publish_Article</name>
        <label>Publish Article</label>
        <locationX>776</locationX>
        <locationY>2414</locationY>
        <actionName>publishKnowledgeArticles</actionName>
        <actionType>publishKnowledgeArticles</actionType>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>articleVersionIdList</name>
            <value>
                <elementReference>ArticleToPublish</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pubAction</name>
            <value>
                <stringValue>PUBLISH_ARTICLE</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Docs_Category_3</name>
        <label>Add Docs Category 3</label>
        <locationX>821</locationX>
        <locationY>1361</locationY>
        <assignmentItems>
            <assignToReference>KnowledgeArticle.Docs_Category_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocsCategory.bottomValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ArticleCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Article</name>
        <label>Assign Case Article</label>
        <locationX>776</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>CaseArticle.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseArticle.KnowledgeArticleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Article_Just_Created.KnowledgeArticleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ArticleToPublish</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Article_Just_Created.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_CaseArticle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fields_Article</name>
        <label>Assign Fields - Article</label>
        <locationX>292</locationX>
        <locationY>1262</locationY>
        <assignmentItems>
            <assignToReference>KnowledgeArticle.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KnowledgeArticle.IsVisibleInCsp</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KnowledgeArticle.IsVisibleInPrm</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ArticleCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fields_Common</name>
        <label>Assign Fields - Common</label>
        <locationX>776</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>KnowledgeArticle.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KnowledgeArticle.UrlName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>returnURLString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KnowledgeArticle.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.RecordTypeID15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KnowledgeArticle.Release_Notes_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KnowledgeArticle.Product_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductCategorization.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KnowledgeArticle.Product_Pillar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductCategorization.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KnowledgeArticle.Product_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductCategorization.bottomValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KnowledgeArticle.Includes_Documentation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KnowledgeArticle.Software_Release__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fields_Documentation</name>
        <label>Assign Fields - Documentation</label>
        <locationX>967</locationX>
        <locationY>1159</locationY>
        <assignmentItems>
            <assignToReference>KnowledgeArticle.Documentation_Release_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Version</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KnowledgeArticle.Documentation_Release_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KnowledgeArticle.Release_Notes_Download_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DownloadLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KnowledgeArticle.Documentation_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KnowledgeArticle.Docs_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocsCategory.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KnowledgeArticle.Docs_Category_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocsCategory.middleValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Category_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fields_Downloads</name>
        <label>Assign Fields - Downloads</label>
        <locationX>556</locationX>
        <locationY>1262</locationY>
        <assignmentItems>
            <assignToReference>KnowledgeArticle.Release_Notes_Release_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Version</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KnowledgeArticle.Release_Notes_Release_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KnowledgeArticle.Release_Notes_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KnowledgeArticle.Release_Notes_Download_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DownloadLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ArticleCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type</name>
        <label>Assign Record Type</label>
        <locationX>776</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Community_Manager_Visibility_Flag</name>
        <label>Set Community Manager Visibility Flag</label>
        <locationX>644</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>varCommunityManager</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quick_Create_Article</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Article</name>
        <choiceText>Article</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Article</stringValue>
        </value>
    </choices>
    <choices>
        <name>DocumentationChoice</name>
        <choiceText>Documentation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Documentation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Downloads</name>
        <choiceText>Downloads</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Release_Notes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Category_3</name>
        <label>Category 3?</label>
        <locationX>955</locationX>
        <locationY>1284</locationY>
        <defaultConnector>
            <targetReference>ArticleCreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Category_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocsCategory.bottomValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Docs_Category_3</targetReference>
            </connector>
            <label>Yes Category 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Permission_Set</name>
        <label>Permission Set?</label>
        <locationX>770</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Quick_Create_Article</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_permissions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Profile_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Community_Manager_Visibility_Flag</targetReference>
            </connector>
            <label>Got permissions</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Type</name>
        <label>What Type</label>
        <locationX>768</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ArticleType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Article</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fields_Article</targetReference>
            </connector>
            <label>Article</label>
        </rules>
        <rules>
            <name>Download</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Release_Notes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fields_Downloads</targetReference>
            </connector>
            <label>Download</label>
        </rules>
        <rules>
            <name>Documentation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Documentation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fields_Documentation</targetReference>
            </connector>
            <label>Documentation</label>
        </rules>
    </decisions>
    <description>Flow screen to use in lighting page.  Quick create article and link to case</description>
    <formulas>
        <name>getType</name>
        <dataType>String</dataType>
        <expression>IF ( {!Type_CM} = &quot;Downloads&quot;, &quot;Release_Notes&quot;, IF ( {!varCommunityManager}, {!Type_CM}, {!Type_All} ) )</expression>
    </formulas>
    <formulas>
        <name>returnURLString</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(URLENCODE({!Title}),&quot;+&quot;,&quot;-&quot;),&quot;%&quot;,&quot;-&quot;),&quot;.&quot;,&quot;-&quot;)
/* SUBSTITUTE(Title,&quot;  &quot;,&quot;-&quot;) */</expression>
    </formulas>
    <interviewLabel>Knowledge - Quick Create Article {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Knowledge - Quick Create Article</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>ArticleCreate</name>
        <label>Article</label>
        <locationX>776</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Article_Just_Created</targetReference>
        </connector>
        <inputReference>KnowledgeArticle</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_CaseArticle</name>
        <label>Create CaseArticle</label>
        <locationX>776</locationX>
        <locationY>2294</locationY>
        <connector>
            <targetReference>Publish_Article</targetReference>
        </connector>
        <inputReference>CaseArticle</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Article_Just_Created</name>
        <label>Article Just Created</label>
        <locationX>776</locationX>
        <locationY>1934</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Run_Knowledge_Data_Categories</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KnowledgeArticle.Id</elementReference>
            </value>
        </filters>
        <object>Knowledge__kav</object>
    </recordLookups>
    <recordLookups>
        <name>Case_Record</name>
        <label>Case Record</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permission_Set</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordLookups>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>776</locationX>
        <locationY>2534</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finish</name>
            <fieldText>&lt;p&gt;LINK BABY YEAH!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Box:  {!DownloadLink}&lt;/p&gt;&lt;p&gt;Community:  {!Article_Just_Created.Community_Link__c}&lt;/p&gt;&lt;p&gt;Salesforce:  {!Article_Just_Created.Internal_Link__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quick_Create_Article</name>
        <label>Quick Create Article</label>
        <locationX>776</locationX>
        <locationY>662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Record_Type</targetReference>
        </connector>
        <fields>
            <name>DONOTUSE</name>
            <fieldText>&lt;p&gt;HI THERE!  If you see this by accident please don&apos;t use it yet.  It is a new feature I&apos;m working on that shouldn&apos;t be visible but as I test it may sneak out.&lt;/p&gt;&lt;p&gt;Hmm fix permission errors&lt;/p&gt;&lt;p&gt;&amp;lt;Darcie&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This screen is only for creating a quick text only article.  Go to KNOWLEDGE &amp;gt; NEW for a full set of features.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Automatically makes public&lt;/li&gt;&lt;li&gt;Assigns categories based on product picklist choices&lt;/li&gt;&lt;li&gt;Can&apos;t go to lowest level of category.  This shouldn&apos;t be needed??  How to fix&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type_CM</name>
            <choiceReferences>Article</choiceReferences>
            <choiceReferences>Downloads</choiceReferences>
            <choiceReferences>DocumentationChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varCommunityManager</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Type_All</name>
            <choiceReferences>Article</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varCommunityManager</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Version</name>
            <dataType>String</dataType>
            <fieldText>Version</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Article</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DownloadLink</name>
            <dataType>String</dataType>
            <fieldText>Download Link</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Article</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ProductCategorization</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Knowledge__kav</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Product_Pillar__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Product_Family__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Product Pillar</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Product Family</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>Product_Line__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomLabel</name>
                <value>
                    <stringValue>Product Line</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DocsCategory</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Knowledge__kav</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Docs_Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Docs_Category_2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>Docs_Category_3__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Docs Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>varDocsCategoryChoice</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Docs Category 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>varDocsCategory2Choice</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomLabel</name>
                <value>
                    <stringValue>Docs Category 3</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomValue</name>
                <value>
                    <elementReference>varDocsCategory3Choice</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DocumentationChoice</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Case_Record</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>776</locationX>
        <locationY>902</locationY>
        <connector>
            <targetReference>Assign_Fields_Common</targetReference>
        </connector>
        <flowName>RecordTypeID_Lookup_Subflow</flowName>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Knowledge__kav</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Knowledge_Data_Categories</name>
        <label>Run Knowledge - Data Categories</label>
        <locationX>776</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Assign_Case_Article</targetReference>
        </connector>
        <flowName>Knowledge_Data_Categories</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>Article_Just_Created.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIncomingCategoryChange</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>because stupid</description>
        <name>ArticleToPublish</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseArticle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseArticle</objectType>
    </variables>
    <variables>
        <name>KnowledgeArticle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCommunityManager</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varDocsCategory2Choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDocsCategory3Choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDocsCategoryChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductFamilyChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductLineChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductPillarChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
