flows/Knowledge_Data_Categories.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_New_Category_Collection</name>
        <label>Add to New Category Collection</label>
        <locationX>908</locationX>
        <locationY>744</locationY>
        <assignmentItems>
            <assignToReference>NewCategoryCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewCategories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Make_sure_we_have_something</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_New_Category_Collection_0</name>
        <label>Add to New Category Collection</label>
        <locationX>857</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>NewCategoryCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewCategories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_Deep_do_we_Go</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Category_Name_var_Detail</name>
        <label>Assign Category Name var - Detail</label>
        <locationX>495</locationX>
        <locationY>548</locationY>
        <assignmentItems>
            <assignToReference>varCategoryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Article.Product_Detail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Products_Category_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Category_Name_var_Family</name>
        <label>Assign Category Name var - Family</label>
        <locationX>756</locationX>
        <locationY>552</locationY>
        <assignmentItems>
            <assignToReference>varCategoryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Article.Product_Family__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Products_Category_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Category_Name_var_Line</name>
        <label>Assign Category Name var - Line</label>
        <locationX>624</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>varCategoryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Article.Product_Line__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Products_Category_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Category_Name_var_Pillar</name>
        <label>Assign Category Name var - Pillar</label>
        <locationX>916</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>varCategoryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Article.Product_Pillar__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Products_Category_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Docs_Record</name>
        <label>Assign Docs Record</label>
        <locationX>997</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>NewCategories.DataCategoryGroupName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Downloads_Manuals</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCategories.DataCategoryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>returnCategoryDeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCategories.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Article.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_New_Category_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DocsCat</name>
        <label>Assign DocsCat</label>
        <locationX>1169</locationX>
        <locationY>218</locationY>
        <assignmentItems>
            <assignToReference>varCategoryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Article.Docs_Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Docs_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DocsCat_2</name>
        <label>Assign DocsCat 2</label>
        <locationX>1273</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>varCategoryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Article.Docs_Category_2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Docs_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DocsCat_3</name>
        <label>Assign DocsCat 3</label>
        <locationX>1312</locationX>
        <locationY>405</locationY>
        <assignmentItems>
            <assignToReference>varCategoryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Article.Docs_Category_3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Docs_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Products_Category_Record</name>
        <label>Assign Products Category Record</label>
        <locationX>664</locationX>
        <locationY>736</locationY>
        <assignmentItems>
            <assignToReference>NewCategories.DataCategoryGroupName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Products</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCategories.DataCategoryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>returnCategoryDeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCategories.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Article.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_New_Category_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_Have_Categories</name>
        <label>Already Have Categories?</label>
        <locationX>178</locationX>
        <locationY>541</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Categories</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Categories</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wipe_the_Old</targetReference>
            </connector>
            <label>Yes Categories</label>
        </rules>
        <rules>
            <name>No_Categories</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Categories</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Record_Type</targetReference>
            </connector>
            <label>No Categories</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Article</name>
        <label>Get Article?</label>
        <locationX>183</locationX>
        <locationY>291</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Article</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Article</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Categories</targetReference>
            </connector>
            <label>Yes Article</label>
        </rules>
        <rules>
            <name>No_Article</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Article</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Article</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Deep_do_we_Go</name>
        <label>How Deep do we Go?</label>
        <locationX>649</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Make_sure_we_have_something</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Detail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Article.Product_Detail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Category_Name_var_Detail</targetReference>
            </connector>
            <label>Product Detail</label>
        </rules>
        <rules>
            <name>Product_Line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Article.Product_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Category_Name_var_Line</targetReference>
            </connector>
            <label>Product Line</label>
        </rules>
        <rules>
            <name>Product_Family</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Article.Product_Family__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Category_Name_var_Family</targetReference>
            </connector>
            <label>Product Family</label>
        </rules>
        <rules>
            <name>Product_Pillar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Article.Product_Pillar__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Category_Name_var_Pillar</targetReference>
            </connector>
            <label>Product Pillar</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Deep_do_we_Go_Docs</name>
        <label>How Deep do we Go - Docs?</label>
        <locationX>944</locationX>
        <locationY>225</locationY>
        <defaultConnector>
            <targetReference>How_Deep_do_we_Go</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Docs_Category_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Article.Docs_Category_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DocsCat_3</targetReference>
            </connector>
            <label>Docs Category 3</label>
        </rules>
        <rules>
            <name>Docs_Category_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Article.Docs_Category_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DocsCat_2</targetReference>
            </connector>
            <label>Docs Category 2</label>
        </rules>
        <rules>
            <name>Docs_Category</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Article.Docs_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DocsCat</targetReference>
            </connector>
            <label>Docs Category</label>
        </rules>
    </decisions>
    <decisions>
        <name>Make_sure_we_have_something</name>
        <label>Make sure we have something</label>
        <locationX>954</locationX>
        <locationY>889</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCategoryCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Data_Categories</targetReference>
            </connector>
            <label>Yup</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Record_Type</name>
        <label>What Record Type?</label>
        <locationX>430</locationX>
        <locationY>291</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Documentation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Article.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Documentation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_Deep_do_we_Go_Docs</targetReference>
            </connector>
            <label>Documentation</label>
        </rules>
        <rules>
            <name>Download</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Article.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Release_Notes</stringValue>
                </rightValue>
            </conditions>
            <label>Download</label>
        </rules>
        <rules>
            <name>Article_RecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Article.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Article</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_Deep_do_we_Go</targetReference>
            </connector>
            <label>Article</label>
        </rules>
    </decisions>
    <description>MOST IMPORTANT! This is tethered to the product drop down lists on the object.  Any Category change must be matched with a change to those picklists.  Beware of special characters.  SUB function is hardcoded in this.</description>
    <formulas>
        <description>Enter the stupid special cases for special characters here.  There&apos;s a formulatic way to create a default developer name but OF COURSE there is no function to replicate that feature.  Simple case, replace spaces with _, anything with special characters is manual.

Actually only &amp; is a problem.  ( ) are removed now.</description>
        <name>returnCategoryDeveloperName</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( 
SUBSTITUTE( 
SUBSTITUTE( 
SUBSTITUTE(
SUBSTITUTE( 
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE( {!varCategoryName},
 &quot;(&quot;, &quot;&quot;),
 &quot;)&quot;, &quot;&quot;),
&quot;,&quot;, &quot;&quot;),
&quot;+&quot;, &quot;&quot;),
&quot;&amp; &quot;, &quot;&quot;),
&quot; - &quot;, &quot;_&quot;),
&quot;-&quot;, &quot;_&quot;),
&quot; &quot;, &quot;_&quot;)</expression>
    </formulas>
    <interviewLabel>Knowledge - Data Categories {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Knowledge - Data Categories</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Data_Categories</name>
        <label>Create Data Categories</label>
        <locationX>1113</locationX>
        <locationY>970</locationY>
        <inputReference>NewCategoryCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>Starting new!  Yeah not sure of a better way to do this quite yet.</description>
        <name>Wipe_the_Old</name>
        <label>Wipe the Old</label>
        <locationX>290</locationX>
        <locationY>663</locationY>
        <connector>
            <targetReference>What_Record_Type</targetReference>
        </connector>
        <inputReference>Categories</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Article</name>
        <label>Article</label>
        <locationX>192</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Article</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Knowledge__kav</object>
    </recordLookups>
    <recordLookups>
        <name>Categories</name>
        <label>Categories</label>
        <locationX>186</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_Have_Categories</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Article.Id</elementReference>
            </value>
        </filters>
        <object>Knowledge__DataCategorySelection</object>
    </recordLookups>
    <startElementReference>Article</startElementReference>
    <status>Active</status>
    <variables>
        <name>NewCategories</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__DataCategorySelection</objectType>
    </variables>
    <variables>
        <name>NewCategoryCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__DataCategorySelection</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCategoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIncomingCategoryChange</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
