flows/Knowledge_Ensure_Attachments_are_Visible.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Update_Collection</name>
        <label>Add to Update Collection</label>
        <locationX>555</locationX>
        <locationY>712</locationY>
        <assignmentItems>
            <assignToReference>LinksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_DocumentLinks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_DocumentLinks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>50</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>varNothing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Link</name>
        <label>Update Link</label>
        <locationX>559</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>Loop_DocumentLinks.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Get_Any_Articles</name>
        <label>Get Any Articles?</label>
        <locationX>496</locationX>
        <locationY>234</locationY>
        <defaultConnector>
            <targetReference>Do_Nothing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Article</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Knowledge_Article</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attached_Files</targetReference>
            </connector>
            <label>Yes Article</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Any_Attachments</name>
        <label>Get Any Attachments?</label>
        <locationX>336</locationX>
        <locationY>425</locationY>
        <defaultConnector>
            <targetReference>Do_Nothing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Attached_Files</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_DocumentLinks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>updates contentdocumentlink to be visible to customers when attached to knowledge article.  Scheduled run with MAS, nothing on article to trigger off of.</description>
    <interviewLabel>Knowledge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Knowledge - Ensure Attachments are Visible</label>
    <loops>
        <name>Loop_DocumentLinks</name>
        <label>Loop DocumentLinks</label>
        <locationX>344</locationX>
        <locationY>581</locationY>
        <collectionReference>Attached_Files</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Content_Document_Links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Attached_Files</name>
        <label>Attached Files</label>
        <locationX>345</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Any_Attachments</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Do_Nothing</targetReference>
        </faultConnector>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
    </recordLookups>
    <recordLookups>
        <name>Knowledge_Article</name>
        <label>Knowledge Article</label>
        <locationX>344</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Any_Articles</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Do_Nothing</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsVisibleInCsp</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsVisibleInPrm</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Knowledge__kav</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Content_Document_Links</name>
        <label>Update Content Document Links</label>
        <locationX>348</locationX>
        <locationY>830</locationY>
        <inputReference>LinksToCreate</inputReference>
    </recordUpdates>
    <startElementReference>Knowledge_Article</startElementReference>
    <status>Draft</status>
    <variables>
        <name>ContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>LinksToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNothing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
