flows/Knowledge_MAS_Article_Transformations.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Draft</name>
        <label>Create Draft</label>
        <locationX>322</locationX>
        <locationY>445</locationY>
        <actionName>createDraftFromOnlineKnowledgeArticle</actionName>
        <actionType>createDraftFromOnlineKnowledgeArticle</actionType>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>EDIT_AS_DRAFT_ARTICLE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>articleVersionId</name>
            <value>
                <elementReference>Article.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>unpublish</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Publish_Article</name>
        <label>Publish Article</label>
        <locationX>513</locationX>
        <locationY>392</locationY>
        <actionName>publishKnowledgeArticles</actionName>
        <actionType>publishKnowledgeArticles</actionType>
        <inputParameters>
            <name>articleVersionIdList</name>
            <value>
                <elementReference>varArticleToPublishCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pubAction</name>
            <value>
                <stringValue>PUBLISH_ARTICLE</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Article_to_Collection</name>
        <label>Add Article to Collection</label>
        <locationX>512</locationX>
        <locationY>196</locationY>
        <assignmentItems>
            <assignToReference>varArticleToPublishCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Article.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Article</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Publish_Status</name>
        <label>Check Publish Status</label>
        <locationX>189</locationX>
        <locationY>336</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>publish_status_online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Article.PublishStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Draft</targetReference>
            </connector>
            <label>publish status online</label>
        </rules>
    </decisions>
    <decisions>
        <name>Troubleshooting_field</name>
        <label>Troubleshooting field?</label>
        <locationX>335</locationX>
        <locationY>196</locationY>
        <defaultConnector>
            <targetReference>Check_Publish_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Article.Troubleshooting__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Article_to_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>use with MAS and Data Loader to adjust articles.  &quot;troubleshooting&quot; flag controls draft vs publish path.  SELECT Id, KnowledgeArticleId, Title, IsLatestVersion, PublishStatus, Product_Family__c, Docs_Category__c FROM Knowledge__kav WHERE RecordTypeId = &apos;0123r000001Ya7SAAS&apos;  AND PublishStatus != &apos;Archived&apos; AND IsDeleted = FALSE ORDER BY CreatedDate DESC NULLS FIRST</description>
    <interviewLabel>Knowledge - MAS Article Transformations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Knowledge - MAS Article Transformations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Article</name>
        <label>Article</label>
        <locationX>174</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Troubleshooting_field</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Knowledge__kav</object>
    </recordLookups>
    <startElementReference>Article</startElementReference>
    <status>Draft</status>
    <variables>
        <name>ArticleCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varArticleCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>varArticleToPublish</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varArticleToPublishCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
