flows/Lead_Before_Save_Automation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Current_Contact_Flag</name>
        <label>Assign Current Contact Flag</label>
        <locationX>50</locationX>
        <locationY>703</locationY>
        <assignmentItems>
            <assignToReference>$Record.Current_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Created_By</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Created_By</name>
        <label>Created By ...</label>
        <locationX>247</locationX>
        <locationY>773</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Saleshive</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>imaginecommunications@saleshive.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>imaginecommunications@saleshive.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Saleshive</label>
        </rules>
        <rules>
            <name>Automated_Process_Web_Chat</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>autoproc@00di0000000iaejea2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>autoproc@00di0000000iaejea2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_0</targetReference>
            </connector>
            <label>Automated Process (Web Chat)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_record</name>
        <label>Get record?</label>
        <locationX>246</locationX>
        <locationY>632</locationY>
        <defaultConnector>
            <targetReference>Created_By</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Contact_Flag</targetReference>
            </connector>
            <label>yes contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>initial status, stamp the correct dates for starter status</description>
        <name>Status</name>
        <label>Status</label>
        <locationX>252</locationX>
        <locationY>330</locationY>
        <defaultConnector>
            <targetReference>Contact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MQL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MQL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_Stamp_MQL</targetReference>
            </connector>
            <label>MQL</label>
        </rules>
        <rules>
            <name>SQL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SGL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_SGL</targetReference>
            </connector>
            <label>SQL</label>
        </rules>
    </decisions>
    <description>New leads only at the moment</description>
    <interviewLabel>Lead - Before Save - Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Before Save - Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>matches on email and active</description>
        <name>Contact_Record</name>
        <label>Contact Record?</label>
        <locationX>263</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Created_By</targetReference>
        </faultConnector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordUpdates>
        <name>Stamp_SGL</name>
        <label>Stamp SGL</label>
        <locationX>519</locationX>
        <locationY>409</locationY>
        <connector>
            <targetReference>Contact_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Last_SGL__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Sales Generated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Most_Recent__c</field>
            <value>
                <stringValue>Sales Generated</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_Stamp_MQL</name>
        <label>Update Date Stamp MQL</label>
        <locationX>522</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>Contact_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Last_MQL__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>489</locationX>
        <locationY>641</locationY>
        <inputAssignments>
            <field>Lead_Source_Most_Recent_Description__c</field>
            <value>
                <elementReference>returnLeadSourceMostRecent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Most_Recent__c</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Original_Description__c</field>
            <value>
                <elementReference>returnLeadSourceMostRecent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Type__c</field>
            <value>
                <stringValue>Saleshive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saleshive__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0</name>
        <label>Update Lead</label>
        <locationX>486</locationX>
        <locationY>777</locationY>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Live Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Most_Recent_Description__c</field>
            <value>
                <stringValue>Web chat on public website.  Check Chat Transcript</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Most_Recent__c</field>
            <value>
                <stringValue>Live Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Original_Description__c</field>
            <value>
                <stringValue>Web chat on public website.  Check Chat Transcript</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Type__c</field>
            <value>
                <stringValue>Live Chat</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>Status</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>returnLeadSourceMostRecent</name>
        <text>Saleshive - {!$Record.LeadSource}</text>
    </textTemplates>
</Flow>
