flows/Line_Item_Summation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Hardware</name>
        <label>Add Hardware</label>
        <locationX>857</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>Hardware_Total_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hardware_Total_Discount_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopLineItem.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Discounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Hardware_0</name>
        <label>Add Hardware</label>
        <locationX>857</locationX>
        <locationY>621</locationY>
        <assignmentItems>
            <assignToReference>Hardware_Total_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AdjustedListTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hardware_Total_Discount_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopLineItem.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Discounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_OEM</name>
        <label>Add OEM</label>
        <locationX>855</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>OEM_Total_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OEM_Total_Discount_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopLineItem.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Discounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_OEM_0</name>
        <label>Add OEM</label>
        <locationX>858</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>OEM_Total_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AdjustedListTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OEM_Total_Discount_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopLineItem.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Discounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Services</name>
        <label>Add Services</label>
        <locationX>852</locationX>
        <locationY>234</locationY>
        <assignmentItems>
            <assignToReference>ServiceTotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceTotalDiscountAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopLineItem.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Discounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Services_1</name>
        <label>Add Services</label>
        <locationX>848</locationX>
        <locationY>109</locationY>
        <assignmentItems>
            <assignToReference>ServiceTotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AdjustedListTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceTotalDiscountAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopLineItem.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Discounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Software</name>
        <label>Add Software</label>
        <locationX>863</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>Software_Total_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Software_Total_Discount_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopLineItem.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Discounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Software_0</name>
        <label>Add Software</label>
        <locationX>860</locationX>
        <locationY>812</locationY>
        <assignmentItems>
            <assignToReference>Software_Total_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AdjustedListTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Software_Total_Discount_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopLineItem.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Discounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Software_1</name>
        <label>Add Software</label>
        <locationX>871</locationX>
        <locationY>1178</locationY>
        <assignmentItems>
            <assignToReference>SupportTotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupportTotalDiscount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopLineItem.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Discounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Support</name>
        <label>Add Support</label>
        <locationX>868</locationX>
        <locationY>1051</locationY>
        <assignmentItems>
            <assignToReference>SupportTotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AdjustedListTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupportTotalDiscount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopLineItem.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Discounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Total</name>
        <label>Add to Total</label>
        <locationX>470</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>TotalExcl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AdjustedListTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalDsct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopLineItem.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exclude_Options_Total</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Total_0</name>
        <label>Add to Total</label>
        <locationX>80</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>TotalExcl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalDsct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopLineItem.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exclude_Options_Total</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Hardware</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Hardware</stringValue>
        </value>
    </constants>
    <constants>
        <name>OEM</name>
        <dataType>String</dataType>
        <value>
            <stringValue>OEM</stringValue>
        </value>
    </constants>
    <constants>
        <name>ServiceWord</name>
        <dataType>String</dataType>
        <value>
            <stringValue>service</stringValue>
        </value>
    </constants>
    <constants>
        <name>Software</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Software</stringValue>
        </value>
    </constants>
    <constants>
        <name>SupportWord</name>
        <dataType>String</dataType>
        <value>
            <stringValue>support</stringValue>
        </value>
    </constants>
    <constants>
        <name>X0</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Are_there_Line_Items</name>
        <label>Are there Line Items</label>
        <locationX>526</locationX>
        <locationY>444</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>There_Are_Line_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Discounts</targetReference>
            </connector>
            <label>There Are Line Items</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Quote</name>
        <label>Is there a Quote</label>
        <locationX>317</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_there_is_a_quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Line_Items</targetReference>
            </connector>
            <label>Yes, there is a quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Optional_Status</name>
        <label>Optional Status</label>
        <locationX>275</locationX>
        <locationY>784</locationY>
        <defaultConnector>
            <targetReference>Exclude_Options_Total</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Optional_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopLineItem.Solution_Optional__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopLineItem.ListPrice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>X0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Total</targetReference>
            </connector>
            <label>Optional Zero</label>
        </rules>
        <rules>
            <name>Optional_NOT_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopLineItem.Solution_Optional__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopLineItem.ListPrice</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>X0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Total_0</targetReference>
            </connector>
            <label>Optional NOT Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type1</name>
        <label>Type</label>
        <locationX>1182</locationX>
        <locationY>557</locationY>
        <defaultConnector>
            <targetReference>Add_Discounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Support_without_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopLineItem.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SupportWord</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopLineItem.ListPrice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>X0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Support</targetReference>
            </connector>
            <label>Support without List</label>
        </rules>
        <rules>
            <name>Service_without_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopLineItem.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ServiceWord</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopLineItem.ListPrice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>X0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Services_1</targetReference>
            </connector>
            <label>Service without List</label>
        </rules>
        <rules>
            <name>Software_without_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopLineItem.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Software</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopLineItem.ListPrice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>X0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Software_0</targetReference>
            </connector>
            <label>Software without List</label>
        </rules>
        <rules>
            <name>Hardware_Without_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopLineItem.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Hardware</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopLineItem.ListPrice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>X0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Hardware_0</targetReference>
            </connector>
            <label>Hardware Without List</label>
        </rules>
        <rules>
            <name>OEM_Without_List</name>
            <conditionLogic>(1 or 3 or 4) and 2</conditionLogic>
            <conditions>
                <leftValueReference>LoopLineItem.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OEM</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopLineItem.ListPrice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>X0</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopLineItem.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopLineItem.Product_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_OEM_0</targetReference>
            </connector>
            <label>OEM Without List</label>
        </rules>
        <rules>
            <name>Software1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopLineItem.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Software</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Software</targetReference>
            </connector>
            <label>Software</label>
        </rules>
        <rules>
            <name>Hardware1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopLineItem.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Hardware</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Hardware</targetReference>
            </connector>
            <label>Hardware</label>
        </rules>
        <rules>
            <name>OEM1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopLineItem.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OEM</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopLineItem.Product_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopLineItem.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_OEM</targetReference>
            </connector>
            <label>OEM</label>
        </rules>
        <rules>
            <name>Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopLineItem.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ServiceWord</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Services</targetReference>
            </connector>
            <label>Service</label>
        </rules>
        <rules>
            <name>Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopLineItem.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SupportWord</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Software_1</targetReference>
            </connector>
            <label>Support</label>
        </rules>
    </decisions>
    <description>For rolling up fields to Quote</description>
    <formulas>
        <name>AdjustedListTotal</name>
        <dataType>Number</dataType>
        <expression>{!LoopLineItem.UnitPrice}*{!LoopLineItem.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Hardware_Weighted</name>
        <dataType>Number</dataType>
        <expression>(({!Hardware_Total_Amount}-{!Hardware_Total_Discount_Amount})/{!Hardware_Total_Amount})*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ListTotal</name>
        <dataType>Number</dataType>
        <expression>{!LoopLineItem.ListPrice}*{!LoopLineItem.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>OEM_Weighted</name>
        <dataType>Number</dataType>
        <expression>(({!OEM_Total_Amount}-{!OEM_Total_Discount_Amount})/{!OEM_Total_Amount})*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ServiceWeighted</name>
        <dataType>Number</dataType>
        <expression>(({!ServiceTotalAmount}-{!ServiceTotalDiscountAmount})/{!ServiceTotalAmount})*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Software_weighted</name>
        <dataType>Number</dataType>
        <expression>(({!Software_Total_Amount}-{!Software_Total_Discount_Amount})/{!Software_Total_Amount})*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SupportAdjusted</name>
        <dataType>Number</dataType>
        <expression>(({!SupportTotalAmount}-{!SupportTotalDiscount})/{!SupportTotalAmount})*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalDisctEx</name>
        <dataType>Number</dataType>
        <expression>(({!TotalExcl}-{!TotalDsct})/{!TotalExcl})*100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Line Item Summation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Line Item Summation</label>
    <loops>
        <name>Add_Discounts</name>
        <label>Add Discounts</label>
        <locationX>525</locationX>
        <locationY>557</locationY>
        <assignNextValueToReference>LoopLineItem</assignNextValueToReference>
        <collectionReference>LineItems</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Type1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Exclude_Options_Total</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Exclude_Options_Total</name>
        <label>Exclude Options Total</label>
        <locationX>273</locationX>
        <locationY>555</locationY>
        <assignNextValueToReference>LoopLineItem</assignNextValueToReference>
        <collectionReference>LineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Optional_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Line_Items</name>
        <label>Get Line Items</label>
        <locationX>317</locationX>
        <locationY>445</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_Line_Items</targetReference>
        </connector>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>LineItems</outputReference>
        <queriedFields>Discount</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>QuoteId</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>Product_Type__c</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Solution_Optional__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>141</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Quote</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputAssignments>
            <assignToReference>QuoteRecord.Hardware_Average_Discount__c</assignToReference>
            <field>Hardware_Average_Discount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>QuoteRecord.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>QuoteRecord.OEM_Average_Discount__c</assignToReference>
            <field>OEM_Average_Discount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>QuoteRecord.Software_Average_Discount__c</assignToReference>
            <field>Software_Average_Discount__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>74</locationX>
        <locationY>555</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Hardware_Average_Discount__c</field>
            <value>
                <elementReference>Hardware_Weighted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OEM_Average_Discount__c</field>
            <value>
                <elementReference>OEM_Weighted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Rate_Max_Discount__c</field>
            <value>
                <elementReference>ServiceWeighted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Software_Average_Discount__c</field>
            <value>
                <elementReference>Software_weighted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Max_Discount__c</field>
            <value>
                <elementReference>SupportAdjusted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Discount_exc_Options__c</field>
            <value>
                <elementReference>TotalDisctEx</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <startElementReference>Get_Quote</startElementReference>
    <status>Active</status>
    <variables>
        <name>AllDiscounts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Hardware_Total_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Hardware_Total_Discount_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>LoopLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>OEM_Total_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OEM_Total_Discount_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0Q00Z0000023sVK</stringValue>
        </value>
    </variables>
    <variables>
        <name>QuoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>ServiceTotalAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ServiceTotalDiscountAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Software_Total_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Software_Total_Discount_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupportTotalAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SupportTotalDiscount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalDsct</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalExcl</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
