flows/Login_Capture_Engineer_User.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Darcie_an_Email</name>
        <label>Send Darcie an Email</label>
        <locationX>184</locationX>
        <locationY>444</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>darcie.laur@imaginecommunications.com,mark.cowles@imaginecommunications.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Engineer Using Shared Login</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>is_there_info</name>
        <label>is there info?</label>
        <locationX>354</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>Send_Darcie_an_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_is_blank_no_info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Name.firstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nothing</targetReference>
            </connector>
            <label>Email is blank no info</label>
        </rules>
    </decisions>
    <description>login flow.  MFA is coming, need to find out who&apos;s using this account.</description>
    <interviewLabel>Login - Capture Engineer User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Login - Capture Engineer User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>User_Record</name>
        <label>User Record</label>
        <locationX>176</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MessageText</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
    </recordLookups>
    <screens>
        <name>MessageText</name>
        <label>MessageText</label>
        <locationX>178</locationX>
        <locationY>315</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>is_there_info</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;Hi there!  This is Darcie one last time.  If you&apos;re still using this it will be shut off next week!  Use your new full Salesforce login through Okta.  If you don&apos;t have one use this form to let me know we&apos;ve forgotten someone.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>User_Record</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Nothing</name>
        <label>Nothing!</label>
        <locationX>395</locationX>
        <locationY>520</locationY>
        <flowName>Do_Nothing</flowName>
    </subflows>
    <textTemplates>
        <name>textEmailBody</name>
        <text>Engineer logging in:
Name:  {!Name.firstName} {!Name.lastName}
Email:  {!Email.value}</text>
    </textTemplates>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
