flows/MAS_Deactive_Community_User_and_Remove_Contact.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>462</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>Contact.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>spam@inactive.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Spam Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>227</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>User.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
    </assignments>
    <description>to manage spam attacks!  Based on report MAS - Users and Contacts to Remove.  https://imaginecommunications.lightning.force.com/lightning/r/Report/00O3r00000764BzEAI/view</description>
    <interviewLabel>MAS - Deactive Community User and Remove Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MAS - Deactive Community User and Remove Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>344</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User.Contact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <name>User</name>
        <label>User</label>
        <locationX>104</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>User</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Record</name>
        <label>Update Contact Record</label>
        <locationX>581</locationX>
        <locationY>225</locationY>
        <connector>
            <targetReference>Pause_for_Mixed_DML_Message</targetReference>
        </connector>
        <inputReference>Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>716</locationX>
        <locationY>67</locationY>
        <inputReference>User</inputReference>
    </recordUpdates>
    <startElementReference>User</startElementReference>
    <status>Active</status>
    <variables>
        <name>CasestoDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Pause_for_Mixed_DML_Message</name>
        <label>Pause for Mixed DML Message</label>
        <locationX>715</locationX>
        <locationY>221</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause_for_5</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_User_Record</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pause for 5</label>
        </waitEvents>
    </waits>
</Flow>
