flows/MultiSelect_Parser.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>add brackets to the temp string and assign it back to itself.</description>
        <name>Add_Brackets</name>
        <label>Add Brackets</label>
        <locationX>317</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>tempString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>build_AddBrackets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_extra_semicolon</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Left_Value</name>
        <label>Add Left Value</label>
        <locationX>381</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>output_ParsedMultiSelect</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Grab_Left_Value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Last_Parsed_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Can possibly do this on other assigment but not sure and playing it safe &lt;DL&gt;</description>
        <name>Add_semicolon</name>
        <label>Add semicolon</label>
        <locationX>38</locationX>
        <locationY>625</locationY>
        <assignmentItems>
            <assignToReference>tempString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Value_from_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Value_from_Collection</name>
        <label>Add Value from Collection</label>
        <locationX>159</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>tempString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Brackets</name>
        <label>Remove Brackets</label>
        <locationX>209</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>Multi_Select_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Multi_Select_Value_No_Brackets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Left_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_extra_semicolon</name>
        <label>Remove extra semicolon</label>
        <locationX>440</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>output_StringForMultiSelect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>buildFinalString</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Remove_Last_Parsed_Value</name>
        <label>Remove Last Parsed Value</label>
        <locationX>583</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>Multi_Select_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remaining_Multi_Select_Values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remaining_Values_to_be_Parsed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Build_or_Split</name>
        <label>Build or Split?</label>
        <locationX>43</locationX>
        <locationY>179</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Build</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BUILD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Collection</targetReference>
            </connector>
            <label>BUILD</label>
        </rules>
        <rules>
            <name>SPLIT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPLIT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Brackets</targetReference>
            </connector>
            <label>SPLIT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remaining_Values_to_be_Parsed</name>
        <label>Remaining Values to be Parsed?</label>
        <locationX>462</locationX>
        <locationY>263</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Multi_Select_Value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Left_Value</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>build_AddBrackets</name>
        <dataType>String</dataType>
        <expression>&quot;[&quot; &amp; {!tempString} &amp; &quot;]&quot;</expression>
    </formulas>
    <formulas>
        <description>removing the extra semicolon</description>
        <name>buildFinalString</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE ( {!tempString}, &quot;[;&quot;, &quot;[&quot; )</expression>
    </formulas>
    <formulas>
        <description>Grabs the Left Value in the Multi-Select Picklist</description>
        <name>Grab_Left_Value</name>
        <dataType>String</dataType>
        <expression>(LEFT({!Multi_Select_Value},FIND(&quot;;&quot;,{!Multi_Select_Value})-1))</expression>
    </formulas>
    <formulas>
        <name>Multi_Select_Value_No_Brackets</name>
        <dataType>String</dataType>
        <expression>TRIM( 
          SUBSTITUTE(
                                 SUBSTITUTE(
                                                         {!input_MultiSelectString}, 
                                                         &quot;[&quot;,&quot;&quot;),
                                  &quot;]&quot;,&quot;&quot;)
) + &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>Remaining_Multi_Select_Values</name>
        <dataType>String</dataType>
        <expression>TRIM((RIGHT({!Multi_Select_Value},LEN({!Multi_Select_Value})-FIND(&quot;;&quot;,{!Multi_Select_Value}))))</expression>
    </formulas>
    <interviewLabel>MultiSelect Parser {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MultiSelect Parser</label>
    <loops>
        <name>Loop_through_Collection</name>
        <label>Loop through Collection</label>
        <locationX>47</locationX>
        <locationY>470</locationY>
        <assignNextValueToReference>inLoop</assignNextValueToReference>
        <collectionReference>input_CollectionVariable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_semicolon</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Brackets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>Build_or_Split</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>Multi</name>
        <text>[Books and Books; Powell&apos;s Books; Dolphins; Really?; yes!; awesomeness dudeeeeeeeeeee]</text>
    </textTemplates>
    <variables>
        <name>inLoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>incoming collection</description>
        <name>input_CollectionVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_MultiSelectString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Multi_Select_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>output_ParsedMultiSelect</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>output_StringForMultiSelect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>tempString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Choose BUILD or SPLIT.  Build returns a string after being passed a collection variable.  Split returns a collection variable after being passed a string (or multi-select picklist).  Reminder that a properly formed string can be assigned to a mult-select picklist using assigment.</description>
        <name>varType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
