flows/Opportunity_Customer_Commitments_Notification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Alert_email</name>
        <label>Send Alert email</label>
        <locationX>321</locationX>
        <locationY>40</locationY>
        <actionName>Customer_Commitments__c.Oppty_Closed_Commitment_Needs_Update</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_Through_Commitments</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopCommitments.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Find_Any</name>
        <label>Find Any?</label>
        <locationX>193</locationX>
        <locationY>219</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionCommitments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Commitments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity Customer Commitments Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Customer Commitments Notification</label>
    <loops>
        <name>Loop_Through_Commitments</name>
        <label>Loop Through Commitments</label>
        <locationX>197</locationX>
        <locationY>120</locationY>
        <assignNextValueToReference>LoopCommitments</assignNextValueToReference>
        <collectionReference>CollectionCommitments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Alert_email</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Look_up_Opportunity</name>
        <label>Look up Opportunity</label>
        <locationX>49</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Commitments</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpptyID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OpptyRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Commitments</name>
        <label>Lookup Commitments</label>
        <locationX>47</locationX>
        <locationY>116</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Any</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpptyID</elementReference>
            </value>
        </filters>
        <object>Customer_Commitments__c</object>
        <outputReference>CollectionCommitments</outputReference>
        <queriedFields>Jira_Status__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Look_up_Opportunity</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>CollectionCommitments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Customer_Commitments__c</objectType>
    </variables>
    <variables>
        <name>LoopCommitments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Customer_Commitments__c</objectType>
    </variables>
    <variables>
        <name>OpptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpptyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
