flows/Order_Case_Status_Automation_Override.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_New_Case_Status</name>
        <label>Assign New Case Status</label>
        <locationX>380</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatusAndDetail.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Override_Case_Status_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Status_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatusAndDetail.middleValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_with_New_Status</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>CaseStatusPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Order/Case Status Automation Override {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order/Case Status Automation Override</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>218</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Welcome</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Override_Case_Status_Automation__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_with_New_Status</name>
        <label>Update Case with New Status</label>
        <locationX>527</locationX>
        <locationY>53</locationY>
        <inputReference>CaseRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Welcome</name>
        <label>Welcome</label>
        <locationX>254</locationX>
        <locationY>52</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_New_Case_Status</targetReference>
        </connector>
        <fields>
            <name>Paragraph</name>
            <fieldText>Welcome to the override screen for Case Status Automation.  If you are seeing this and are not a system administrator let Darcie know!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_a_Case_Status</name>
            <choiceReferences>CaseStatusPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose a Case Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StatusAndDetail</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Status_Detail__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Status Detail</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Case</startElementReference>
    <status>Draft</status>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
