flows/Project_Opportunity_Automation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Commit_to_Update_List</name>
        <label>Add Commit to Update List</label>
        <locationX>410</locationX>
        <locationY>744</locationY>
        <assignmentItems>
            <assignToReference>varCommitToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Pull_Commit_and_add_Project</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pull_Commit_and_add_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Project</name>
        <label>Add Project</label>
        <locationX>408</locationX>
        <locationY>604</locationY>
        <assignmentItems>
            <assignToReference>Pull_Commit_and_add_Project.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Commit_to_Update_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_the_Opportunity_Get_Added_or_Changed</name>
        <label>Did the Opportunity Get Added or Changed?</label>
        <locationX>50</locationX>
        <locationY>309</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.MPM4_BASE__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity</targetReference>
            </connector>
            <label>Added</label>
        </rules>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.MPM4_BASE__Opportunity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.MPM4_BASE__Opportunity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <description>field updates related to the opportunity.  right now focused on commitments.  change at some point to &quot;only when specific changes made&quot;, open right now to fix outstanding missing commits on projects</description>
    <interviewLabel>Project - Automation - Created/Edited After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project - Opportunity Automation</label>
    <loops>
        <name>Pull_Commit_and_add_Project</name>
        <label>Pull Commit and add Project</label>
        <locationX>266</locationX>
        <locationY>600</locationY>
        <collectionReference>Commitments_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Project</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Commits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Commitments_Collection</name>
        <label>Commitments Collection</label>
        <locationX>262</locationX>
        <locationY>436</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pull_Commit_and_add_Project</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <object>Customer_Commitments__c</object>
    </recordLookups>
    <recordLookups>
        <name>Opportunity</name>
        <label>Opportunity</label>
        <locationX>263</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Commitments_Collection</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MPM4_BASE__Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Commits</name>
        <label>Update Commits</label>
        <locationX>133</locationX>
        <locationY>609</locationY>
        <inputReference>varCommitToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Did_the_Opportunity_Get_Added_or_Changed</startElementReference>
    <status>Active</status>
    <variables>
        <name>varCommitToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Commitments__c</objectType>
    </variables>
    <variables>
        <name>varProjectToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MPM4_BASE__Milestone1_Project__c</objectType>
    </variables>
</Flow>
