flows/Projects_PM_to_Care_Handoff.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_New_Collection</name>
        <label>Add to New Collection</label>
        <locationX>681</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>CasesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_New_Collection_0</name>
        <label>Add to New Collection</label>
        <locationX>247</locationX>
        <locationY>1158</locationY>
        <assignmentItems>
            <assignToReference>CasesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CaseOne</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CaseOne</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Cases</name>
        <label>Count Cases</label>
        <locationX>308</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>varCaseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Case_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WhatAreWeDoing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Fields</name>
        <label>Update Fields</label>
        <locationX>687</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.Transitioned_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Cases.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactMultiple.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Cases.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnerMultiple.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Cases.CommunityVisibilityAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Cases.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Cases.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_ID.RecordTypeID15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Cases.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetMultiple.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Cases.Transitioned_from_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_New_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Fields_One</name>
        <label>Update Fields</label>
        <locationX>141</locationX>
        <locationY>1006</locationY>
        <assignmentItems>
            <assignToReference>CaseOne.Transitioned_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseOne.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact1Only.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseOne.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner1Only.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseOne.CommunityVisibilityAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseOne.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseOne.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_ID.RecordTypeID15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseOne.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetOne.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseOne.Transitioned_from_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_New_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Project_Field</name>
        <label>Update Project Field</label>
        <locationX>505</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>Project_Record.Transitioned_to_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Which_Path</name>
        <label>Which Path?</label>
        <locationX>306</locationX>
        <locationY>700</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Confirmation_Checkbox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_confirm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorReConfirmScreen</targetReference>
            </connector>
            <label>No Confirmation Checkbox</label>
        </rules>
        <rules>
            <name>One_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OneUpdate</targetReference>
            </connector>
            <label>One Case</label>
        </rules>
        <rules>
            <name>Multiple_Cases_One_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Will_each_case_be_assigned_the_same_Owner_Contact_Asset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OneUpdate</targetReference>
            </connector>
            <label>Multiple Cases - One Resource</label>
        </rules>
        <rules>
            <name>Multiple_Cases_Multiple_Resources</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Will_each_case_be_assigned_the_same_Owner_Contact_Asset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Cases</targetReference>
            </connector>
            <label>Multiple Cases - Multiple Resources</label>
        </rules>
    </decisions>
    <description>launched from the transition to care button on project page</description>
    <interviewLabel>Projects - PM to Care Handoff {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Projects - PM to Care Handoff</label>
    <loops>
        <name>CaseOne</name>
        <label>CaseOne</label>
        <locationX>300</locationX>
        <locationY>1011</locationY>
        <collectionReference>Case_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Fields_One</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Cases</name>
        <label>Loop Cases</label>
        <locationX>473</locationX>
        <locationY>705</locationY>
        <collectionReference>Case_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MultipleUpdate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Case_Records</name>
        <label>Case Records</label>
        <locationX>310</locationX>
        <locationY>333</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_Only_Case</targetReference>
        </connector>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Project_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Transitioned_Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
    </recordLookups>
    <recordLookups>
        <description>getting this because I need to be able to set a default on the &quot;one case&quot; path for the screen</description>
        <name>First_Only_Case</name>
        <label>First/Only Case</label>
        <locationX>426</locationX>
        <locationY>381</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Cases</targetReference>
        </connector>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordLookups>
    <recordLookups>
        <name>Project_Record</name>
        <label>Project Record</label>
        <locationX>311</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Records</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>MPM4_BASE__Milestone1_Project__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cases</name>
        <label>Update Cases</label>
        <locationX>504</locationX>
        <locationY>903</locationY>
        <connector>
            <targetReference>Update_Project_Field</targetReference>
        </connector>
        <inputReference>CasesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>505</locationX>
        <locationY>1141</locationY>
        <inputReference>Project_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>ErrorReConfirmScreen</name>
        <label>ErrorReConfirmScreen</label>
        <locationX>50</locationX>
        <locationY>737</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ReConfirm</name>
            <fieldText>&lt;p&gt;Hey!  You didn&apos;t confirm that you had informed Care Support of the incoming changes.  They really need the heads up.&lt;/p&gt;&lt;p&gt; &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please press PREVIOUS to return to the last screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MultipleUpdate</name>
        <label>MultipleUpdate</label>
        <locationX>581</locationX>
        <locationY>597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Fields</targetReference>
        </connector>
        <fields>
            <name>CaseDetails</name>
            <fieldText>&lt;p&gt;Case Number:  {!Loop_Cases.CaseNumber}&lt;/p&gt;&lt;p&gt;Subject:  {!Loop_Cases.Subject}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OwnerMultiple</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Case Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Loop_Cases.OwnerId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContactMultiple</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Loop_Cases.ContactId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AssetMultiple</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AssetId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Case Asset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Loop_Cases.AssetId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OneUpdate</name>
        <label>OneUpdate</label>
        <locationX>306</locationX>
        <locationY>862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CaseOne</targetReference>
        </connector>
        <fields>
            <name>Owner1Only</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Case Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>First_Only_Case.OwnerId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact1Only</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>First_Only_Case.ContactId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AssetOne</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AssetId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Case Asset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>First_Only_Case.AssetId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CaseTable</name>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Case_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Status_Detail__c:true, Contact_lookup:true, Asset_lookup:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>CaseNumber,Status,ContactId,AssetId,Subject</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Type:standard:work_type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>CaseNumber:115, Status:95, ContactId:275, AssetId:135, Subject:315</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>CaseNumber:false, Status:true, Status_Detail__c:true, ContactId:false, AssetId:false, Subject:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WhatAreWeDoing</name>
        <label>WhatAreWeDoing</label>
        <locationX>320</locationX>
        <locationY>577</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Record_Type_ID</targetReference>
        </connector>
        <fields>
            <name>Welcome</name>
            <fieldText>&lt;p&gt;Hi there!  You are are about to transition this project to Customer Care Ownership.  This can NOT be undone!  Are you sure you&apos;re ready?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>YesOrNo</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Yes or No?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>WhatAreWeDoing_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>YesOrNo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>NoChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WhatAreWeDoing_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varCaseCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>YesOrNo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>YesChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WhatAreWeDoing_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>WhatAreWeDoing_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varCaseCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>YesOrNo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>YesChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>I_confirm</name>
            <dataType>Boolean</dataType>
            <fieldText>I confirm that I have communicated with the Customer Care Team and they are aware of the status of these cases</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>YesOrNo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>YesChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Project_Record</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Get_Record_Type_ID</name>
        <label>Get Record Type ID</label>
        <locationX>220</locationX>
        <locationY>577</locationY>
        <connector>
            <targetReference>Which_Path</targetReference>
        </connector>
        <flowName>RecordTypeID_Lookup_Subflow</flowName>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CasesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
