flows/Project_Survey_Responses.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Responses_Consulting</name>
        <label>Assign Responses Consulting</label>
        <locationX>764</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>ResponseRecord.Overall_Quality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Overall_quality_of_the_consulting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Length_of_training__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Length_of_consulting_was_appropriate_for_the_required_tasks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Professionalism_and_courtesy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Professionalism_and_courtesy_of_the_consultant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Knowledge_and_expertise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Knowledge_and_expertise_of_the_consultant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Ability_to_present_material_clearly__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consultant_ability_to_communicate_clearly</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Additional_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_any_additional_comments_to_clarify_your_response_Consulting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Prepared_for_the_assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_consultant_was_properly_prpared_for_the_assignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Responsive_and_thorough__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_consultant_was_responsive_and_thorough</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Comfortable_approaching__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>I_felt_comfortable_approaching_the_consultant_with_questions_or_concerns</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Readily_available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_consultant_was_readily_available</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Multiple_consultants_worked_well__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When_multiple_Imagine_Communications_consultants_were_involved_they_worked</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Likely_to_recommend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Think_about_your_Imagine_Communications_consulting_experience</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Questions_or_Concerns__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_any_questions_or_concerns_that_are_still_unanswered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Final_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_any_other_comments_questions_or_conerns_consulting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Completed_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Response_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Responses_Training</name>
        <label>Assign Responses Training</label>
        <locationX>585</locationX>
        <locationY>451</locationY>
        <assignmentItems>
            <assignToReference>ResponseRecord.Overall_Quality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Overall_quality_of_the_training</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Length_of_training__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Length_of_training_for_the_topics_presented</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Professionalism_and_courtesy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Professionalism_and_courtesy_of_the_trainer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Knowledge_and_expertise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Knowledge_and_expertise_of_the_trainer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Ability_to_present_material_clearly__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trainer_ability_to_present_material_clearly</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Additional_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_any_additional_comments_to_clarify_your_response</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Material_was_presented_in_a_logical_flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_material_was_presented_in_a_logical_flowo_for_my_learning_experience</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Met_my_learning_objectives__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_class_met_my_learning_objectives</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Presented_at_level_for_my_comprehension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Class_content_was_presented_at_a_level_for_my_comprehension</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Balance_was_approrpiate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_balance_between_the_lecture_and_the_workshops_was_appropriate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Review_was_effective__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_review_questions_quizzes_were_an_effective_tool_for_helping_me_learn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Likely_to_recommend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Think_about_your_Imagine_Communications_training_experience</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Questions_or_Concerns__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_any_questions_regarding_any_of_the_topics_reviewed_in_this_session</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Final_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_any_other_comments_questions_or_concerns</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseRecord.Completed_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Response_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Agree</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>Disagree</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>Neutral</name>
        <choiceText>Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Applicable</name>
        <choiceText>Not Applicable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Applicable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Strongly_agree</name>
        <choiceText>Strongly agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>Strongly_disagree</name>
        <choiceText>Strongly disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>X0_Not_likely_at_all</name>
        <choiceText>0 - Not likely at all</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>X10_Extremely_likely</name>
        <choiceText>10 - Extremely likely</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X1_Poor</name>
        <choiceText>1-Poor</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X1NPS</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X2</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X4</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X5_Excellent</name>
        <choiceText>5 - Excellent</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X5NPS</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X6</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X7</name>
        <choiceText>7</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X8</name>
        <choiceText>8</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X9</name>
        <choiceText>9</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>Which_Survey_Type_did_we_get</name>
        <label>Which Survey Type did we get</label>
        <locationX>684</locationX>
        <locationY>55</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Training_Survey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Training_Survey_Questions_1</targetReference>
            </connector>
            <label>Training</label>
        </rules>
        <rules>
            <name>Consulting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulting_Survey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consulting_Survey_Questions_1</targetReference>
            </connector>
            <label>Consulting</label>
        </rules>
    </decisions>
    <interviewLabel>Project Survey Responses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Survey Responses</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_Response_ID</name>
        <label>Find Response ID</label>
        <locationX>390</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Survey_Type</targetReference>
        </connector>
        <filters>
            <field>Identifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResponseID</elementReference>
            </value>
        </filters>
        <object>Project_Survey_Response__c</object>
        <outputReference>ResponseRecord</outputReference>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Which_Survey_Type</name>
        <label>Which Survey Type</label>
        <locationX>538</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Survey_Type_did_we_get</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResponseRecord.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordType</outputReference>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Response_Record</name>
        <label>Update Response Record</label>
        <locationX>693</locationX>
        <locationY>561</locationY>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <inputReference>ResponseRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Consulting_Questions_2</name>
        <label>Consulting Questions 2</label>
        <locationX>770</locationX>
        <locationY>256</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Consulting_Questions_3</targetReference>
        </connector>
        <fields>
            <name>The_consultant_was_properly_prpared_for_the_assignment</name>
            <choiceReferences>Strongly_agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Neutral</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>Strongly_disagree</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The consultant was properly prepared for the assignment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank19</name>
            <fieldText>{!BlankSpace}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>The_consultant_was_responsive_and_thorough</name>
            <choiceReferences>Strongly_agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Neutral</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>Strongly_disagree</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The consultant was responsive and thorough</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank20</name>
            <fieldText>{!BlankSpace}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_felt_comfortable_approaching_the_consultant_with_questions_or_concerns</name>
            <choiceReferences>Strongly_agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Neutral</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>Strongly_disagree</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I felt comfortable approaching the consultant with questions or concerns</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank21</name>
            <fieldText>{!BlankSpace}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>The_consultant_was_readily_available</name>
            <choiceReferences>Strongly_agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Neutral</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>Strongly_disagree</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The consultant was readily available</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank22</name>
            <fieldText>{!BlankSpace}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>When_multiple_Imagine_Communications_consultants_were_involved_they_worked</name>
            <choiceReferences>Not_Applicable</choiceReferences>
            <choiceReferences>Strongly_agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Neutral</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>Strongly_disagree</choiceReferences>
            <dataType>String</dataType>
            <fieldText>When multiple Imagine Communications consultants were involved, they worked will together</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank23</name>
            <fieldText>{!BlankSpace}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Think_about_your_Imagine_Communications_consulting_experience</name>
            <choiceReferences>X0_Not_likely_at_all</choiceReferences>
            <choiceReferences>X1NPS</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5NPS</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X8</choiceReferences>
            <choiceReferences>X9</choiceReferences>
            <choiceReferences>X10_Extremely_likely</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Think about your Imagine Communications consulting experience.  How likely would you be to recommend Imagine Communications to others?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Consulting_Questions_3</name>
        <label>Consulting Questions 3</label>
        <locationX>766</locationX>
        <locationY>352</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Responses_Consulting</targetReference>
        </connector>
        <fields>
            <name>Do_you_have_any_questions_or_concerns_that_are_still_unanswered</name>
            <fieldText>Do you have any questions or concerns that are still unanswered?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blank24</name>
            <fieldText>{!BlankSpace}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_have_any_other_comments_questions_or_conerns_consulting</name>
            <fieldText>Do you have any other comments, questions or conerns?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Consulting_Survey_Questions_1</name>
        <label>Consulting Survey Questions 1</label>
        <locationX>775</locationX>
        <locationY>150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Consulting_Questions_2</targetReference>
        </connector>
        <fields>
            <name>ThankYouBeginningConsulting</name>
            <fieldText>Thank you for taking the time to give us your feedback about your recent experience.  We use the information to improve our services.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank7</name>
            <fieldText>{!BlankSpace}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Overall_quality_of_the_consulting</name>
            <choiceReferences>X1_Poor</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5_Excellent</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Overall quality of the consulting</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>blank8</name>
            <fieldText>{!BlankSpace}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Length_of_consulting_was_appropriate_for_the_required_tasks</name>
            <choiceReferences>X1_Poor</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5_Excellent</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Length of consulting was appropriate for the required tasks</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>blank9</name>
            <fieldText>{!BlankSpace}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Professionalism_and_courtesy_of_the_consultant</name>
            <choiceReferences>X1_Poor</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5_Excellent</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Professionalism and courtesy of the consultant</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>blank10</name>
            <fieldText>{!BlankSpace}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Knowledge_and_expertise_of_the_consultant</name>
            <choiceReferences>X1_Poor</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5_Excellent</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Knowledge and expertise of the consultant</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>blank11</name>
            <fieldText>{!BlankSpace}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Consultant_ability_to_communicate_clearly</name>
            <choiceReferences>X1_Poor</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5_Excellent</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Consultant ability to communicate clearly</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>blank12</name>
            <fieldText>{!BlankSpace}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_have_any_additional_comments_to_clarify_your_response_Consulting</name>
            <fieldText>Do you have any additional comments to clarify your response?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End</name>
        <label>End</label>
        <locationX>691</locationX>
        <locationY>655</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>thankyouFinal</name>
            <fieldText>Thank you again for your time.  We appreciate it!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Training_Questions_2</name>
        <label>Training Questions 2</label>
        <locationX>580</locationX>
        <locationY>256</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Training_Questions_3</targetReference>
        </connector>
        <fields>
            <name>The_material_was_presented_in_a_logical_flowo_for_my_learning_experience</name>
            <choiceReferences>Strongly_agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Neutral</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>Strongly_disagree</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The material was presented in a logical flowo for my learning experience</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank13</name>
            <fieldText>{!BlankSpace}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>The_class_met_my_learning_objectives</name>
            <choiceReferences>Strongly_agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Neutral</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>Strongly_disagree</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The class met my learning objectives</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank14</name>
            <fieldText>{!BlankSpace}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Class_content_was_presented_at_a_level_for_my_comprehension</name>
            <choiceReferences>Strongly_agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Neutral</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>Strongly_disagree</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Class content was presented at a level for my comprehension</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank15</name>
            <fieldText>{!BlankSpace}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>The_balance_between_the_lecture_and_the_workshops_was_appropriate</name>
            <choiceReferences>Strongly_agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Neutral</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>Strongly_disagree</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The balance between the lecture and the workshops was appropriate</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank16</name>
            <fieldText>{!BlankSpace}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>The_review_questions_quizzes_were_an_effective_tool_for_helping_me_learn</name>
            <choiceReferences>Strongly_agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Neutral</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>Strongly_disagree</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The review questions/quizzes were an effective tool for helping me learn</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank17</name>
            <fieldText>{!BlankSpace}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Think_about_your_Imagine_Communications_training_experience</name>
            <choiceReferences>X0_Not_likely_at_all</choiceReferences>
            <choiceReferences>X1NPS</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5NPS</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X8</choiceReferences>
            <choiceReferences>X9</choiceReferences>
            <choiceReferences>X10_Extremely_likely</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Think about your Imagine Communications training experience.  How likely would you be to recommend Imagine Communications to others?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Training_Questions_3</name>
        <label>Training Questions 3</label>
        <locationX>578</locationX>
        <locationY>353</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Responses_Training</targetReference>
        </connector>
        <fields>
            <name>Do_you_have_any_questions_regarding_any_of_the_topics_reviewed_in_this_session</name>
            <fieldText>Do you have any questions regarding any of the topics reviewed in this session?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blank18</name>
            <fieldText>{!BlankSpace}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_have_any_other_comments_questions_or_concerns</name>
            <fieldText>Do you have any other comments, questions or concerns?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Training_Survey_Questions_1</name>
        <label>Training Survey Questions 1</label>
        <locationX>581</locationX>
        <locationY>151</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Training_Questions_2</targetReference>
        </connector>
        <fields>
            <name>ThankYouStart</name>
            <fieldText>Thank you for taking the time to give us your feedback about your recent experience.  We use the information to improve our services.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank1</name>
            <fieldText>{!BlankSpace}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Overall_quality_of_the_training</name>
            <choiceReferences>X1_Poor</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5_Excellent</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Overall quality of the training</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>blank2</name>
            <fieldText>{!BlankSpace}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Length_of_training_for_the_topics_presented</name>
            <choiceReferences>X1_Poor</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5_Excellent</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Length of training for the topics presented</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Blank3</name>
            <fieldText>{!BlankSpace}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Professionalism_and_courtesy_of_the_trainer</name>
            <choiceReferences>X1_Poor</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5_Excellent</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Professionalism and courtesy of the trainer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>blank4</name>
            <fieldText>{!BlankSpace}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Knowledge_and_expertise_of_the_trainer</name>
            <choiceReferences>X1_Poor</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5_Excellent</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Knowledge and expertise of the trainer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Blank5</name>
            <fieldText>{!BlankSpace}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Trainer_ability_to_present_material_clearly</name>
            <choiceReferences>X1_Poor</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5_Excellent</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Trainer ability to present material clearly</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>blank6</name>
            <fieldText>{!BlankSpace}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_have_any_additional_comments_to_clarify_your_response</name>
            <fieldText>Do you have any additional comments to clarify your response?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Find_Response_ID</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>BlankSpace</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <variables>
        <name>RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>ResponseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResponseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Survey_Response__c</objectType>
    </variables>
</Flow>
