flows/Project_Survey_Response.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_to_website</name>
        <label>Send to website</label>
        <locationX>438</locationX>
        <locationY>920</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <stringValue>http://www.imaginecommunications.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Consulting_Responses</name>
        <label>Assign Consulting Responses</label>
        <locationX>330</locationX>
        <locationY>593</locationY>
        <assignmentItems>
            <assignToReference>Response.Overall_Quality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsultingQuality.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Length_of_training__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsultingLength.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Professionalism_and_courtesy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsultingPrefessionalism.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Knowledge_and_expertise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsultingKnowledge.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Ability_to_present_material_clearly__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsultingPresentation.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Additional_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_any_additional_comments_to_clarify_your_response_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Prepared_for_the_assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_consultant_was_properly_prepared_for_the_assignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Responsive_and_thorough__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_consultant_was_responsive_and_thorough</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Comfortable_approaching__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>I_felt_comfortable_approaching_the_consultant_with_questions_or_conerns</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Readily_available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_consultant_was_readily_available</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Multiple_consultants_worked_well__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When_multiple_Imagine_Communications_consultants_were_involved_they_worked_well</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Likely_to_recommend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrainingNPS_0.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Questions_or_Concerns__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_any_questions_or_concerns_that_are_still_unanswered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Final_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_any_other_comments_questions_or_concerns_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Response_Record_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Response_Record_Fields</name>
        <label>Assign Response Record Fields</label>
        <locationX>245</locationX>
        <locationY>790</locationY>
        <assignmentItems>
            <assignToReference>Response.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Record.Survey_TypeId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Event_description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Record.Survey_Desc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Completed_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.MPM_Project_Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resource.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Training_Reponses</name>
        <label>Assign Training Reponses</label>
        <locationX>163</locationX>
        <locationY>591</locationY>
        <assignmentItems>
            <assignToReference>Response.Overall_Quality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrainingQuality.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Length_of_training__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrainingLenght.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Professionalism_and_courtesy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrainingPrefessionalism.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Knowledge_and_expertise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrainingKnowledge.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Ability_to_present_material_clearly__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrainingPresentation.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Additional_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_any_additional_comments_to_clarify_your_response</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Material_was_presented_in_a_logical_flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_material_was_presented_in_a_logical_flow_for_my_learning_experience</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Met_my_learning_objectives__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_class_met_my_learning_objecctives</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Presented_at_level_for_my_comprehension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Class_content_was_presented_at_a_level_for_my_comprehension</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Balance_was_approrpiate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_balance_between_the_lecture_and_the_workships_was_appropriate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Review_was_effective__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>The_review_questions_quizzes_were_an_effective_tool_for_helping_me_learn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Likely_to_recommend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrainingNPS.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Questions_or_Concerns__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_any_questions_regarding_any_of_the_topics_reviewed_in_this_session</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.Final_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_any_other_comments_questions_or_concerns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Response_Record_Fields</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Agree</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>Disagree</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>Neutral</name>
        <choiceText>Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>Strongly_Agree</name>
        <choiceText>Strongly Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>Strongly_Disagree</name>
        <choiceText>Strongly Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strongly Disagree</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Training_or_Consulting</name>
        <label>Training or Consulting?</label>
        <locationX>367</locationX>
        <locationY>367</locationY>
        <defaultConnector>
            <targetReference>Fault</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project_Record.Survey_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Training_Survey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Training_Survey</targetReference>
            </connector>
            <label>Training</label>
        </rules>
        <rules>
            <name>Consulting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project_Record.Survey_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulting_Survey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consulting_Survey</targetReference>
            </connector>
            <label>Consulting</label>
        </rules>
    </decisions>
    <interviewLabel>Project - Survey Response {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project - Survey Response</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Response</name>
        <label>Create Response</label>
        <locationX>229</locationX>
        <locationY>919</locationY>
        <connector>
            <targetReference>Goodbye</targetReference>
        </connector>
        <inputReference>Response</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Project_Record</name>
        <label>Project Record</label>
        <locationX>172</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Training_or_Consulting</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Resource.Project__c</elementReference>
            </value>
        </filters>
        <object>MPM4_BASE__Milestone1_Project__c</object>
    </recordLookups>
    <recordLookups>
        <name>Resource</name>
        <label>Resource</label>
        <locationX>169</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ref</elementReference>
            </value>
        </filters>
        <object>MPM_Project_Resource__c</object>
    </recordLookups>
    <screens>
        <name>Consulting_Survey</name>
        <label>Consulting Survey</label>
        <locationX>323</locationX>
        <locationY>488</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Consulting_Responses</targetReference>
        </connector>
        <fields>
            <name>TrainingThankYouStart_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Thank you for taking the time to give us your feedback about your recent experience.  We use the information to improve our services.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;1 - Poor       5-Excellent&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConsultingQuality</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Overall Quality of the consulting </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConsultingLength</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Length of consulting was appropriate for the required tasks</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConsultingPrefessionalism</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Professionalism and courtesy of the consultant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConsultingKnowledge</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Knowledge and expertise of the consultant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConsultingPresentation</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Consultiant&apos;s ability to present material clearly</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Do_you_have_any_additional_comments_to_clarify_your_response_0</name>
            <fieldText>Do you have any additional comments to clarify your response?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TrainingInBetweenText_0</name>
            <fieldText>&lt;p&gt;{!BlankSpace}&lt;/p&gt;&lt;p&gt;Please rate how strongly you feel about the following items:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>The_consultant_was_properly_prepared_for_the_assignment</name>
            <choiceReferences>Strongly_Agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Neutral</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>Strongly_Disagree</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The consultant was properly prepared for the assignment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>The_consultant_was_responsive_and_thorough</name>
            <choiceReferences>Strongly_Agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Neutral</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>Strongly_Disagree</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The consultant was responsive and thorough</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>I_felt_comfortable_approaching_the_consultant_with_questions_or_conerns</name>
            <choiceReferences>Strongly_Agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Neutral</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>Strongly_Disagree</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I felt comfortable approaching the consultant with questions or conerns</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>The_consultant_was_readily_available</name>
            <choiceReferences>Strongly_Agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Neutral</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>Strongly_Disagree</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The consultant was readily available</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>When_multiple_Imagine_Communications_consultants_were_involved_they_worked_well</name>
            <choiceReferences>Strongly_Agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Neutral</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>Strongly_Disagree</choiceReferences>
            <dataType>String</dataType>
            <fieldText>When multiple Imagine Communications consultants were involved, they worked well together</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TrainingNPS_0</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Think about your Imagine Communications traing expreience.  how likely would you be to recommend Imagine Communications to others?  (0-Not likely at all  10-Extremely Likely)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TrainingFinalText_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_have_any_questions_or_concerns_that_are_still_unanswered</name>
            <fieldText>Do you have any questions or concerns that are still unanswered?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Do_you_have_any_other_comments_questions_or_concerns_0</name>
            <fieldText>Do you have any other comments, questions or concerns?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>604</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultText</name>
            <fieldText>&lt;p&gt;It appears there is a problem with the link!  Sorry about that.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Fault Msg:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Resource Record:&lt;/p&gt;&lt;p&gt;{!Resource.Id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Project Record:&lt;/p&gt;&lt;p&gt;{!Project_Record.Id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Ref:&lt;/p&gt;&lt;p&gt;{!ref}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Goodbye</name>
        <label>Goodbye!</label>
        <locationX>351</locationX>
        <locationY>918</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_to_website</targetReference>
        </connector>
        <fields>
            <name>ThankYouFinal</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Thank you again for your time. We appreciate it!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Training_Survey</name>
        <label>Training Survey</label>
        <locationX>167</locationX>
        <locationY>478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Training_Reponses</targetReference>
        </connector>
        <fields>
            <name>TrainingThankYouStart</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Thank you for taking the time to give us your feedback about your recent experience.  We use the information to improve our services.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;1 - Poor       5-Excellent&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TrainingQuality</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Overall Quality of the Training </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TrainingLenght</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Length of training for the topics presented</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TrainingPrefessionalism</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Professionalism and courtesy of the trainer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TrainingKnowledge</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Knowledge and expertise of the trainer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TrainingPresentation</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Trainer&apos;s ability to present material clearly</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Do_you_have_any_additional_comments_to_clarify_your_response</name>
            <fieldText>Do you have any additional comments to clarify your response?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TrainingInBetweenText</name>
            <fieldText>&lt;p&gt;{!BlankSpace}&lt;/p&gt;&lt;p&gt;Please rate how strongly you feel about the following items:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>The_material_was_presented_in_a_logical_flow_for_my_learning_experience</name>
            <choiceReferences>Strongly_Agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Neutral</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>Strongly_Disagree</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The material was presented in a logical flow for my learning experience</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>The_class_met_my_learning_objecctives</name>
            <choiceReferences>Strongly_Agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Neutral</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>Strongly_Disagree</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The class met my learning objecctives</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Class_content_was_presented_at_a_level_for_my_comprehension</name>
            <choiceReferences>Strongly_Agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Neutral</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>Strongly_Disagree</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Class content was presented at a level for my comprehension</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>The_balance_between_the_lecture_and_the_workships_was_appropriate</name>
            <choiceReferences>Strongly_Agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Neutral</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>Strongly_Disagree</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The balance between the lecture and the workshops was appropriate</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>The_review_questions_quizzes_were_an_effective_tool_for_helping_me_learn</name>
            <choiceReferences>Strongly_Agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Neutral</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>Strongly_Disagree</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The review questions/quizzes were an effective tool for helping me learn</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TrainingNPS</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Think about your Imagine Communications traing expreience.  how likely would you be to recommend Imagine Communications to others?  (0-Not likely at all  10-Extremely Likely)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TrainingFinalText</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_have_any_questions_regarding_any_of_the_topics_reviewed_in_this_session</name>
            <fieldText>Do you have any questions regarding any of the topics reviewed in this session?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Do_you_have_any_other_comments_questions_or_concerns</name>
            <fieldText>Do you have any other comments, questions or concerns?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Resource</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>BlankSpace</name>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ref</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Response</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Survey_Response__c</objectType>
    </variables>
</Flow>
