flows/Project_Create_Task.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>160</locationX>
        <locationY>689</locationY>
        <assignmentItems>
            <assignToReference>NewTaskRecord.Oracle_Project_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OracleProjectTaskId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTaskRecord.MPM4_BASE__Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resource.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTaskRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Task_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTaskRecord.MPM4_BASE__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTaskRecord.MPM4_BASE__Project_Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Milestone_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTaskRecord.MPM4_BASE__ProjectId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Get_Project</name>
        <label>Get Project?</label>
        <locationX>495</locationX>
        <locationY>427</locationY>
        <defaultConnector>
            <targetReference>Create_Task_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Oracle_Project_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOracleProjectTask</targetReference>
            </connector>
            <label>Yup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Task</name>
        <label>Get Task?</label>
        <locationX>334</locationX>
        <locationY>612</locationY>
        <defaultConnector>
            <targetReference>Create_Task_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YupTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Oracle_Project_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_Screen</targetReference>
            </connector>
            <label>YupTask</label>
        </rules>
    </decisions>
    <formulas>
        <name>OracleProjectFormula1</name>
        <dataType>Boolean</dataType>
        <expression>{!Milestone_Record.Override_Oracle_Project__r.RollUp_Count_Oracle_Project_Task__c} == 1</expression>
    </formulas>
    <formulas>
        <name>OracleProjectTaskId</name>
        <dataType>String</dataType>
        <expression>IF({!OracleProjectFormula1}=True,{!GetOracleProjectTask.Id},{!TaskTable.outputSelectedRow.Id})</expression>
    </formulas>
    <interviewLabel>Project - Create Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project - Create Task -01 -Ver01</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>179</locationX>
        <locationY>812</locationY>
        <connector>
            <targetReference>ThanksItWorked</targetReference>
        </connector>
        <inputReference>NewTaskRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetOracleProjectTask</name>
        <label>GetOracleProjectTask</label>
        <locationX>748</locationX>
        <locationY>413</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Oracle_Project_Tasks</targetReference>
        </connector>
        <filters>
            <field>Oracle_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oracle_Project_Record.Id</elementReference>
            </value>
        </filters>
        <object>Oracle_Project_Task__c</object>
    </recordLookups>
    <recordLookups>
        <name>Milestone_Record</name>
        <label>Milestone Record</label>
        <locationX>181</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>MPM4_BASE__Milestone1_Milestone__c</object>
    </recordLookups>
    <recordLookups>
        <name>Oracle_Project_Record</name>
        <label>Oracle Project Record</label>
        <locationX>322</locationX>
        <locationY>328</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Milestone_Record.Oracle_Project_Id__c</elementReference>
            </value>
        </filters>
        <object>Oracle_Project__c</object>
    </recordLookups>
    <recordLookups>
        <name>Oracle_Project_Tasks</name>
        <label>Oracle Project Tasks</label>
        <locationX>631</locationX>
        <locationY>641</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
        <filters>
            <field>Oracle_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oracle_Project_Record.Id</elementReference>
            </value>
        </filters>
        <object>Oracle_Project_Task__c</object>
    </recordLookups>
    <recordLookups>
        <name>Project_Record</name>
        <label>Project Record</label>
        <locationX>180</locationX>
        <locationY>331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Oracle_Project_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Milestone_Record.MPM4_BASE__Project__c</elementReference>
            </value>
        </filters>
        <object>MPM4_BASE__Milestone1_Project__c</object>
    </recordLookups>
    <screens>
        <name>Create_Task_Screen</name>
        <label>Create Task Screen</label>
        <locationX>173</locationX>
        <locationY>520</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <fields>
            <name>Project_Task_Name</name>
            <dataType>String</dataType>
            <fieldText>Project Task Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Resource</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>MPM4_BASE__Milestone1_Task__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>MPM4_BASE__Resource__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Resource</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TaskTable</name>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Oracle_Project_Task__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Oracle_Project_Tasks</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Oracle_Project__c,Comment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:319, Oracle_Project__c:319, Comment__c:319</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>Yup</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>YupTask</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>OracleProjectFormula1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Task_Description</name>
            <fieldText>Task Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ThanksItWorked</name>
        <label>ThanksItWorked</label>
        <locationX>177</locationX>
        <locationY>941</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thanks</name>
            <fieldText>&lt;p&gt;Hey.. thanks!  that worked!  Click finish to create another or hover over the Tasks related list to see your new task.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Milestone_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>NewTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MPM4_BASE__Milestone1_Task__c</objectType>
    </variables>
    <variables>
        <name>OracleProjectTask1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
