flows/RecordTypeID_Lookup_Subflow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>assigns to output variables</description>
        <name>Assign_Record_Type</name>
        <label>Assign Record Type</label>
        <locationX>296</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeID18</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TempVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTypeID15</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordTypeID15</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>150</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>FaultMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Use to return the ID of the record type name you need.  Very handy!  Saves from using hard coded IDs.  Very bad!</description>
    <formulas>
        <name>GetRecordTypeID15</name>
        <dataType>String</dataType>
        <expression>LEFT({!TempVar}, 15)</expression>
    </formulas>
    <interviewLabel>RecordTypeID Lookup Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RecordTypeID Lookup Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>finds the record type id based on object and developer name</description>
        <name>Lookup_Record_Type</name>
        <label>Lookup Record Type</label>
        <locationX>149</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObjectName</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TempVar</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Lookup_Record_Type</startElementReference>
    <status>Active</status>
    <variables>
        <name>FaultMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID15</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID18</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TempVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
