flows/Send_Survey.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Survey_Request</name>
        <label>Send Survey Request</label>
        <locationX>1472</locationX>
        <locationY>582</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Resources_Loop</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ProjectSurveyRequestEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Resources_Loop.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>support@imaginecommunications.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ProjectSurveyEmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>all under survey_XXX because salesforce is dumb</description>
        <name>Assign_Values_to_Project_Fields</name>
        <label>Assign Values to Project Fields</label>
        <locationX>1066</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>Project.Survey_TypeId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Survey_TrainerId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Trainer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Survey_Desc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Event_description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Survey_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_survey_type_are_you_sending</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Survey_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_Sent_List</name>
        <label>Email Sent List</label>
        <locationX>1342</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>CollectedEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Resources_Loop.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Survey_Request</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Consulting</name>
        <choiceText>Consulting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consulting_Survey</stringValue>
        </value>
    </choices>
    <choices>
        <name>Training</name>
        <choiceText>Training</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Training_Survey</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Do_we_have_resources</name>
        <label>Do we have resources</label>
        <locationX>381</locationX>
        <locationY>363</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project_Resources</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Survey_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project_Resources</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoResources</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_or_Contact</name>
        <label>User or Contact?</label>
        <locationX>972</locationX>
        <locationY>157</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>User</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserID_is_Null</name>
        <label>UserID is Null</label>
        <locationX>811</locationX>
        <locationY>358</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Have_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Trainer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Record_Type</targetReference>
            </connector>
            <label>Have User</label>
        </rules>
        <rules>
            <name>No_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Trainer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Couldn_t_Find_User</targetReference>
            </connector>
            <label>No User</label>
        </rules>
    </decisions>
    <interviewLabel>Send Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project - Send Survey</label>
    <loops>
        <name>Resources_Loop</name>
        <label>Resources Loop</label>
        <locationX>1341</locationX>
        <locationY>365</locationY>
        <collectionReference>Project_Resources</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_Sent_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sent_Confirmation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_Record_Type</name>
        <label>Find Record Type</label>
        <locationX>963</locationX>
        <locationY>361</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_to_Project_Fields</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>What_survey_type_are_you_sending</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Project</name>
        <label>Project</label>
        <locationX>386</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Resources</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectID</elementReference>
            </value>
        </filters>
        <object>MPM4_BASE__Milestone1_Project__c</object>
    </recordLookups>
    <recordLookups>
        <name>Project_Resources</name>
        <label>Project Resources</label>
        <locationX>397</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_we_have_resources</targetReference>
        </connector>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Project.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Send_Survey__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>MPM_Project_Resource__c</object>
    </recordLookups>
    <recordLookups>
        <name>User_Trainer</name>
        <label>User - Trainer</label>
        <locationX>665</locationX>
        <locationY>363</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserID_is_Null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Couldn_t_Find_User</targetReference>
        </faultConnector>
        <filters>
            <field>Full_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Trainer_Consultant</elementReference>
            </value>
        </filters>
        <object>User</object>
    </recordLookups>
    <recordUpdates>
        <description>We&apos;ll need these on the reponse</description>
        <name>Update_Project_Fields</name>
        <label>Update Project Fields</label>
        <locationX>1197</locationX>
        <locationY>362</locationY>
        <connector>
            <targetReference>Resources_Loop</targetReference>
        </connector>
        <inputReference>Project</inputReference>
    </recordUpdates>
    <screens>
        <name>Choose_Survey_Type</name>
        <label>Choose Survey Type</label>
        <locationX>533</locationX>
        <locationY>364</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_Trainer</targetReference>
        </connector>
        <fields>
            <name>What_survey_type_are_you_sending</name>
            <choiceReferences>Training</choiceReferences>
            <choiceReferences>Consulting</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What survey type are you sending?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Event_description</name>
            <dataType>String</dataType>
            <fieldText>Event description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;255 characters only please!&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Event_description}) &lt; 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Trainer_Consultant</name>
            <dataType>String</dataType>
            <fieldText>Trainer/Consultant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Couldn_t_Find_User</name>
        <label>Couldn&apos;t Find User</label>
        <locationX>717</locationX>
        <locationY>554</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TextNoUser</name>
            <fieldText>A user in Salesforce with the name {!Trainer_Consultant} couldn&apos;t be found.  Check the spelling and make sure they are a Salesforce user.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoResources</name>
        <label>NoResources</label>
        <locationX>390</locationX>
        <locationY>564</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoResourceMessage</name>
            <fieldText>Unable to find any project resources to send a survey to.  Make sure you have customer contacts as associated project resources and that the Send Survey checkbox is checked for them.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sent_Confirmation</name>
        <label>Sent Confirmation</label>
        <locationX>1585</locationX>
        <locationY>384</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextSentConfirmation</name>
            <fieldText>Your survey request has been sent to the following recipients:

{!CollectedEmailAddresses}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Project</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ProjectSurveyEmailSubject</name>
        <text>Imagine Communications {!Event_description}-{!Trainer_Consultant} Follow-up</text>
    </textTemplates>
    <textTemplates>
        <name>ProjectSurveyRequestEmail</name>
        <text>Thank you for your time and attention during the recent Professional Services engagement.  As your software provider we are always striving for improvement.  I have included a link for a survey to capture your feedback.  Your responses will allow us to make changes or improvements as we work together in the future.  Please take advantage of the additional comments section to provide detailed feedback.

https://imaginecommunications.force.com/customersurvey/s/flow/Project_Survey_Response?ref={!Resources_Loop.Name}</text>
    </textTemplates>
    <variables>
        <name>CollectedEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>ResponseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SurveyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
