flows/Service.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Business_Unit</name>
        <label>Business Unit</label>
        <locationX>176</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Business_Unit_from_Product.Business_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DailyCurrencyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Currency_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Contract_BU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Line_Name</name>
        <label>Line Name</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>LineName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Line_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OracleCurrency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Oracle_Currency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Business_Unit_from_Product</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Service {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Contract BU update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Business_Unit_from_Product</name>
        <label>Get Business Unit from Product</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Currency_Id</targetReference>
        </connector>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LineName</elementReference>
            </value>
        </filters>
        <object>Product2</object>
    </recordLookups>
    <recordLookups>
        <description>Get Currency Id</description>
        <name>Get_Currency_Id</name>
        <label>Get Currency Id</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Business_Unit</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OracleCurrency</elementReference>
            </value>
        </filters>
        <object>Daily_Currency_Conversion__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Contract_BU</name>
        <label>Update Service Contract BU</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>BusinessUnit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Daily_Currency_Conversion__c</field>
            <value>
                <elementReference>DailyCurrencyId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>Line_Name</startElementReference>
    <status>Active</status>
    <variables>
        <name>BusinessUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DailyCurrencyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LineName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OracleCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
