flows/TEMP_Enable_Sanctioned_Portal_Users.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Contact_Update_List</name>
        <label>Add to Contact Update List</label>
        <locationX>484</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ContactRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Update_List</name>
        <label>Add to Update List</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>UsersToUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>User_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Re_Activate_User</name>
        <label>Re-Activate User</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>User_Record.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Sanctioned_Flag</name>
        <label>Remove Sanctioned Flag</label>
        <locationX>484</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Loop_Contacts.Sanctioned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Contact_Update_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Get_Users</name>
        <label>Get Users?</label>
        <locationX>484</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Loop_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Re_Activate_User</targetReference>
            </connector>
            <label>User Yes</label>
        </rules>
        <rules>
            <name>User_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Contacts</targetReference>
            </connector>
            <label>User No</label>
        </rules>
    </decisions>
    <description>The opposite of disabling.  checks for sanctioned flag on contact record and re-enables the portal account.</description>
    <interviewLabel>TEMP - Enabled Sanctioned Portal Users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEMP - Enable Sanctioned Portal Users</label>
    <loops>
        <name>Loop_Contacts</name>
        <label>Loop Contacts</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Contact_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Remove_Sanctioned_Flag</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contact_Records</name>
        <label>Contact Records</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
        <filters>
            <field>Sanctioned__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <name>User_Record</name>
        <label>User Record</label>
        <locationX>484</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Users</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Loop_Contacts</targetReference>
        </faultConnector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Contacts.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>176</locationX>
        <locationY>1310</locationY>
        <connector>
            <targetReference>Pause_for_Mixed_DML</targetReference>
        </connector>
        <inputReference>ContactRecordsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>176</locationX>
        <locationY>1646</locationY>
        <inputReference>UsersToUpdateCollection</inputReference>
    </recordUpdates>
    <startElementReference>Contact_Records</startElementReference>
    <status>Draft</status>
    <variables>
        <name>ContactRecordsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UsersToUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <waits>
        <name>Pause_for_Mixed_DML</name>
        <label>Pause for Mixed DML</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Update_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause_Now</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_User</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pause Now!</label>
        </waitEvents>
    </waits>
</Flow>
