flows/TEMP_Update_Tegna.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_New_collection</name>
        <label>Add to New collection</label>
        <locationX>292</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>AccountsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>change_aka</name>
        <label>change aka</label>
        <locationX>290</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>Loop.AKA_for_Reports__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tegna</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_New_collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>TEMP - Update Tegna {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEMP - Update Tegna</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>177</locationX>
        <locationY>309</locationY>
        <collectionReference>Account_Record_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>change_aka</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Account_Record_Collection</name>
        <label>Account Record Collection</label>
        <locationX>173</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filters>
            <field>AKA_for_Reports__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tenga</stringValue>
            </value>
        </filters>
        <object>Account</object>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>181</locationX>
        <locationY>518</locationY>
        <inputReference>AccountsToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Account_Record_Collection</startElementReference>
    <status>Draft</status>
    <variables>
        <name>AccountsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
