flows/TEMP_Case_Testing_before_Save_flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Care_Values</name>
        <label>Assign Care Values</label>
        <locationX>1187</locationX>
        <locationY>825</locationY>
        <assignmentItems>
            <assignToReference>case.Has_Entitlement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Entitlement_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Care</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CareEntitlement.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CarePlus_Values</name>
        <label>Assign Care+ Values</label>
        <locationX>1113</locationX>
        <locationY>712</locationY>
        <assignmentItems>
            <assignToReference>case.Has_Entitlement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Entitlement_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Care+</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CarePlus_Entitlement.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contract_and_Business_Hours</name>
        <label>Assign Contract</label>
        <locationX>766</locationX>
        <locationY>874</locationY>
        <assignmentItems>
            <assignToReference>case.Service_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varThisIsOurContractLine.ServiceContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Has_Entitlement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Entitlement_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCareLevel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_Hours_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Standard_Values</name>
        <label>Assign Standard Values</label>
        <locationX>1272</locationX>
        <locationY>987</locationY>
        <assignmentItems>
            <assignToReference>case.Has_Entitlement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Entitlement_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Standard_Entitlement.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Care_Level</name>
        <label>Capture Care Level</label>
        <locationX>754</locationX>
        <locationY>1096</locationY>
        <assignmentItems>
            <assignToReference>varCareLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contract_Lines.Service_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varThisIsOurContractLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contract_Lines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Debug__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCareLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varThisIsOurContractLineID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contract_Lines.ServiceContractId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contract_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>clear entitlement, contract but lets leave business hours alone if they exist.</description>
        <name>Clear_asset_related_values</name>
        <label>Clear asset related values</label>
        <locationX>827</locationX>
        <locationY>669</locationY>
        <assignmentItems>
            <assignToReference>case.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Service_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Debug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NoAsset</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Resolution_Milestone_Target_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Restore_Milestone_Target_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Resolution_Milestone_Target_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Has_Entitlement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Entitlement_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Debug_Contract</name>
        <label>Debug Contract</label>
        <locationX>322</locationX>
        <locationY>1095</locationY>
        <assignmentItems>
            <assignToReference>case.Debug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract loop</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contract_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stamp_Debug_0</name>
        <label>Stamp Debug</label>
        <locationX>685</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>case.Debug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Asset Route</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_asset_related_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stamp_Debug_0_0</name>
        <label>Stamp Debug</label>
        <locationX>319</locationX>
        <locationY>702</locationY>
        <assignmentItems>
            <assignToReference>case.Debug__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Changed Asset Route</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_Service_Contract_Lines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Better_than_it_was</name>
        <label>Better than it was?</label>
        <locationX>536</locationX>
        <locationY>1204</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_previous_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCareLevel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Care_Level</targetReference>
            </connector>
            <label>No previous value</label>
        </rules>
        <rules>
            <name>Previous_is_already_Care</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCareLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care+</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Contract_Lines</targetReference>
            </connector>
            <label>Previous is already Care+ Move On</label>
        </rules>
        <rules>
            <name>Care_is_always_best</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Contract_Lines.Service_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care+</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Care_Level</targetReference>
            </connector>
            <label>Care+ is always best</label>
        </rules>
        <rules>
            <name>Care_is_better_than_standard</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Contract_Lines.Service_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCareLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCareLevel</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Care+</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Care_Level</targetReference>
            </connector>
            <label>Care is better than standard</label>
        </rules>
        <rules>
            <name>Standard_we_can_do_better</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Contract_Lines.Service_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Contract_Lines</targetReference>
            </connector>
            <label>Standard we can do better</label>
        </rules>
    </decisions>
    <decisions>
        <name>Business_Hours_Check</name>
        <label>Business Hours Check</label>
        <locationX>902</locationX>
        <locationY>1013</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Business_Hours_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>case.BusinessHoursId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Entitlement_Level</targetReference>
            </connector>
            <label>Business Hours Yes</label>
        </rules>
        <rules>
            <name>Business_Hours_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>case.BusinessHoursId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Entitlement_Level</targetReference>
            </connector>
            <label>Business Hours No</label>
        </rules>
    </decisions>
    <decisions>
        <description>&lt;beware of NULL cases..   how to check!&gt;</description>
        <name>Do_we_have_an_Asset</name>
        <label>Do we have an Asset?</label>
        <locationX>483</locationX>
        <locationY>578</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>case.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Debug_0</targetReference>
            </connector>
            <label>No Asset</label>
        </rules>
        <rules>
            <name>Changed_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>case.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Debug_0_0</targetReference>
            </connector>
            <label>Is an asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_a_Contract_Line</name>
        <label>Get a Contract Line?</label>
        <locationX>579</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Clear_asset_related_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_we_have_Lines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active_Service_Contract_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Debug_Contract</targetReference>
            </connector>
            <label>Yes we have Lines</label>
        </rules>
    </decisions>
    <decisions>
        <name>PRoject_Case</name>
        <label>PRoject Case?</label>
        <locationX>489</locationX>
        <locationY>469</locationY>
        <defaultConnector>
            <targetReference>Do_we_have_an_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_CaseIsIt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>case.Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Debug_0</targetReference>
            </connector>
            <label>Project Case?</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Entitlement_Level</name>
        <label>What Entitlement Level?</label>
        <locationX>916</locationX>
        <locationY>875</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CarePlus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCareLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care+</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CarePlus_Entitlement</targetReference>
            </connector>
            <label>Care+</label>
        </rules>
        <rules>
            <name>Care</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCareLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CareEntitlement</targetReference>
            </connector>
            <label>Care</label>
        </rules>
        <rules>
            <name>Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCareLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Standard_Entitlement</targetReference>
            </connector>
            <label>Standard</label>
        </rules>
    </decisions>
    <description>Trying to figure this out</description>
    <interviewLabel>TEMP - Case - Testing before Save flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEMP - Case - Testing before Save flow</label>
    <loops>
        <name>Loop_Contract_Lines</name>
        <label>Loop Contract Lines</label>
        <locationX>461</locationX>
        <locationY>995</locationY>
        <collectionReference>Active_Service_Contract_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Better_than_it_was</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Contract_and_Business_Hours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Active_Service_Contract_Lines</name>
        <label>Active Service Contract Lines</label>
        <locationX>448</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_a_Contract_Line</targetReference>
        </connector>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>case.AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>ContractLineItem</object>
    </recordLookups>
    <recordLookups>
        <name>CareEntitlement</name>
        <label>Care Entitlement</label>
        <locationX>1081</locationX>
        <locationY>828</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Care_Values</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Care Service Entitlement</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
    </recordLookups>
    <recordLookups>
        <name>CarePlus_Entitlement</name>
        <label>Care+ Entitlement</label>
        <locationX>964</locationX>
        <locationY>685</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_CarePlus_Values</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Care+ Service Entitlement</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
    </recordLookups>
    <recordLookups>
        <name>case</name>
        <label>case</label>
        <locationX>304</locationX>
        <locationY>572</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PRoject_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordLookups>
    <recordLookups>
        <name>Standard_Entitlement</name>
        <label>Standard Entitlement</label>
        <locationX>1184</locationX>
        <locationY>987</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Standard_Values</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Service Entitlement</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1361</locationX>
        <locationY>821</locationY>
        <inputReference>case</inputReference>
    </recordUpdates>
    <startElementReference>case</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCareLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varThisIsOurContractLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <description>because sometimes flow is dumb</description>
        <name>varThisIsOurContractLineID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
