flows/TEMP_One_time_asset_contract_update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Contract_Line_from_Entitlement</name>
        <label>Assign Contract Line from Entitlement</label>
        <locationX>970</locationX>
        <locationY>415</locationY>
        <assignmentItems>
            <assignToReference>Asset_Record.Contract_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement_Record.ContractLineItemId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_found_Line</name>
        <label>Assign the found Line</label>
        <locationX>976</locationX>
        <locationY>807</locationY>
        <assignmentItems>
            <assignToReference>Asset_Record.Contract_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTheChosenContractLine.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Record.Contract_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTheChosenContractLine.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Record.Service_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTheChosenContractLine.Service_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Record.Contract_Line_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTheChosenContractLine.ServiceContract.Oracle_Contract_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Record.TEMP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Care_Level</name>
        <label>Capture Care Level</label>
        <locationX>853</locationX>
        <locationY>1052</locationY>
        <assignmentItems>
            <assignToReference>varCareLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Active_Service_Contract_Lines.Service_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTheChosenContractLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Active_Service_Contract_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Active_Service_Contract_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Expired_Lines_0</name>
        <label>Expired Lines</label>
        <locationX>430</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>Asset_Record.Service_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Record.Contract_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Expired_Lines_Collection.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Record.Contract_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Expired_Lines_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Record.TEMP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inactive_lines</name>
        <label>Inactive lines`</label>
        <locationX>430</locationX>
        <locationY>835</locationY>
        <assignmentItems>
            <assignToReference>Asset_Record.Service_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Record.Contract_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inactive_Contract_Lines.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Record.Contract_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inactive_Contract_Lines.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Record.TEMP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_lines</name>
        <label>No lines</label>
        <locationX>275</locationX>
        <locationY>1284</locationY>
        <assignmentItems>
            <assignToReference>Asset_Record.Service_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Contract Line</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_Record.TEMP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Better_Than_it_Was</name>
        <label>Better Than it Was?</label>
        <locationX>644</locationX>
        <locationY>1048</locationY>
        <defaultConnector>
            <targetReference>Capture_Care_Level</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_previous_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCareLevel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Care_Level</targetReference>
            </connector>
            <label>No previous value</label>
        </rules>
        <rules>
            <name>Previous_is_already_Care_Move_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCareLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care+</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Active_Service_Contract_Lines</targetReference>
            </connector>
            <label>Previous is already Care+ Move On</label>
        </rules>
        <rules>
            <name>Care_is_always_best</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Active_Service_Contract_Lines.Service_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care+</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Care_Level</targetReference>
            </connector>
            <label>Care+ is always best</label>
        </rules>
        <rules>
            <name>Care_is_better_than_standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Active_Service_Contract_Lines.Service_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCareLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCareLevel</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Care+</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Care_Level</targetReference>
            </connector>
            <label>Care is better than standard</label>
        </rules>
        <rules>
            <name>Standard_we_can_do_better</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Active_Service_Contract_Lines.Service_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Active_Service_Contract_Lines</targetReference>
            </connector>
            <label>Standard we can do better</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error_Check_Get_Lines</name>
        <label>Error Check - Get Lines?</label>
        <locationX>373</locationX>
        <locationY>532</locationY>
        <defaultConnector>
            <targetReference>Inactive_Contract_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_but_its_really_just_an_error_check_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contract_Lines_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Active_Service_Contract_Lines</targetReference>
            </connector>
            <label>Yes - but its really just an error check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error_Check_Get_Lines_0</name>
        <label>Error Check - Get Lines?</label>
        <locationX>270</locationX>
        <locationY>833</locationY>
        <defaultConnector>
            <targetReference>Contract_Expired_Lines_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NullCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inactive_Contract_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Expired_Lines_Collection</targetReference>
            </connector>
            <label>NullCheck</label>
        </rules>
        <rules>
            <name>Yes_inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inactive_Contract_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inactive_lines</targetReference>
            </connector>
            <label>Yes inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error_Check_Get_Lines_0_0</name>
        <label>Error Check - Get Lines?</label>
        <locationX>268</locationX>
        <locationY>1122</locationY>
        <defaultConnector>
            <targetReference>No_lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_but_its_really_just_an_error_check_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contract_Expired_Lines_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expired_Lines_0</targetReference>
            </connector>
            <label>Yes expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Entitlement</name>
        <label>Get Entitlement?</label>
        <locationX>818</locationX>
        <locationY>412</locationY>
        <defaultConnector>
            <targetReference>Contract_Lines_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Entitlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contract_Line_from_Entitlement</targetReference>
            </connector>
            <label>Yes Entitlement</label>
        </rules>
    </decisions>
    <description>Used with MAS to backfill data to contract line field on asset.  Ongoing support with contract line - after save automation flow</description>
    <interviewLabel>TEMP - One time asset/contract update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEMP - One time asset/contract update</label>
    <loops>
        <name>Loop_Active_Service_Contract_Lines</name>
        <label>Loop Active Service Contract Lines</label>
        <locationX>619</locationX>
        <locationY>815</locationY>
        <collectionReference>Contract_Lines_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Better_Than_it_Was</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_the_found_Line</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Asset_Record</name>
        <label>Asset Record</label>
        <locationX>628</locationX>
        <locationY>280</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Entitlement_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
    </recordLookups>
    <recordLookups>
        <name>Contract_Expired_Lines_Collection</name>
        <label>Contract Expired Lines Collection</label>
        <locationX>50</locationX>
        <locationY>938</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Error_Check_Get_Lines_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Check_Get_Lines_0_0</targetReference>
        </faultConnector>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset_Record.Id</elementReference>
            </value>
        </filters>
        <object>ContractLineItem</object>
    </recordLookups>
    <recordLookups>
        <name>Contract_Lines_Collection</name>
        <label>Contract Lines Collection</label>
        <locationX>628</locationX>
        <locationY>519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Error_Check_Get_Lines</targetReference>
        </connector>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>ContractLineItem</object>
    </recordLookups>
    <recordLookups>
        <name>Entitlement_Record</name>
        <label>Entitlement Record</label>
        <locationX>628</locationX>
        <locationY>403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Entitlement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Entitlement</targetReference>
        </faultConnector>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset_Record.Id</elementReference>
            </value>
        </filters>
        <object>Entitlement</object>
    </recordLookups>
    <recordLookups>
        <name>Inactive_Contract_Lines</name>
        <label>Inactive Contract Lines</label>
        <locationX>282</locationX>
        <locationY>644</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Error_Check_Get_Lines_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Check_Get_Lines_0</targetReference>
        </faultConnector>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset_Record.Id</elementReference>
            </value>
        </filters>
        <object>ContractLineItem</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>578</locationX>
        <locationY>1548</locationY>
        <inputReference>Asset_Record</inputReference>
    </recordUpdates>
    <startElementReference>Asset_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCareLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountContractLines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varTheChosenContractLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
</Flow>
