flows/TEMP_Update_email_attachment_visibiltiy.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_to_Clean_Variable</name>
        <label>Assign to Clean Variable</label>
        <locationX>158</locationX>
        <locationY>595</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_visibiltiy</name>
        <label>Change visibiltiy</label>
        <locationX>175</locationX>
        <locationY>466</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Clean_Variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>How_is_visiblity_set</name>
        <label>How is visiblity set?</label>
        <locationX>172</locationX>
        <locationY>340</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InternalUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContentDocumentLink.Visibility</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AllUsers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_visibiltiy</targetReference>
            </connector>
            <label>InternalUser?</label>
        </rules>
    </decisions>
    <description>one time run to fix history.  used with MAS</description>
    <interviewLabel>TEMP - Update email attachment visibiltiy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEMP - Update email attachment visibiltiy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ContentDocumentLink</name>
        <label>ContentDocumentLink</label>
        <locationX>177</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>How_is_visiblity_set</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>172</locationX>
        <locationY>748</locationY>
        <inputReference>ContentDocumentLinkToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>ContentDocumentLink</startElementReference>
    <status>Active</status>
    <variables>
        <name>ContentDocumentLinkToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
