flows/Trial_Opp_Copy.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update</name>
        <label>Update</label>
        <locationX>225</locationX>
        <locationY>138</locationY>
        <assignmentItems>
            <assignToReference>OppObject.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppObject.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012i0000000xkOr</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppObject.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01 - Prospect – Qualified Lead</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppObject.Direct_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Make_Opp</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>OppName</name>
        <dataType>String</dataType>
        <expression>{!OppObject.Name}+&quot; Trial&quot;</expression>
    </formulas>
    <interviewLabel>Trial Opp Copy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trial Opp Copy</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Make_Opp</name>
        <label>Make Opp</label>
        <locationX>377</locationX>
        <locationY>138</locationY>
        <connector>
            <targetReference>Display_Link</targetReference>
        </connector>
        <inputReference>OppObject</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>64</locationX>
        <locationY>137</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OppObject</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>CampaignId</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>NextStep</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Line_of_Business__c</queriedFields>
        <queriedFields>Country_of_Install__c</queriedFields>
        <queriedFields>Product_Group__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Display_Link</name>
        <label>Display Link</label>
        <locationX>530</locationX>
        <locationY>139</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>URLText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;/{!OppObject.Id}&quot; TARGET=&quot;_blank&quot;&gt;{!OppObject.Name}&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Also, the new Opportunity is in first related Opportunity list.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Opportunity</startElementReference>
    <status>Active</status>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0063100000fQRy5AAG</stringValue>
        </value>
    </variables>
    <variables>
        <name>OppObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
