flows/User_Manager_Re_Parents.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Manager_Add_to_Update_List</name>
        <label>Assign Manager Add to Update List</label>
        <locationX>648</locationX>
        <locationY>771</locationY>
        <assignmentItems>
            <assignToReference>Loop_Each_and_Assign_Manager.ManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewManager.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PeonsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Each_and_Assign_Manager</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Each_and_Assign_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Done_variable</name>
        <label>Set Done variable</label>
        <locationX>498</locationX>
        <locationY>1101</locationY>
        <assignmentItems>
            <assignToReference>varDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manager_Management_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Get_Peons</name>
        <label>Get Peons?</label>
        <locationX>489</locationX>
        <locationY>429</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Peons</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Peon_Users</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manager_Management</targetReference>
            </connector>
            <label>Yes Peons</label>
        </rules>
        <rules>
            <name>No_Peons</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Peon_Users</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoPeonsError</targetReference>
            </connector>
            <label>No Peons</label>
        </rules>
    </decisions>
    <description>use on old manager to set new manager</description>
    <interviewLabel>User - Manager Re-Parents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User - Manager Re-Parents</label>
    <loops>
        <name>Loop_Each_and_Assign_Manager</name>
        <label>Loop Each and Assign Manager</label>
        <locationX>495</locationX>
        <locationY>767</locationY>
        <collectionReference>PeonTable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Manager_Add_to_Update_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Peons</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Peon_Users</name>
        <label>Peon Users</label>
        <locationX>498</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Peons</targetReference>
        </connector>
        <filters>
            <field>ManagerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
    </recordLookups>
    <recordLookups>
        <name>User_Record</name>
        <label>User Record</label>
        <locationX>497</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Peon_Users</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>User</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Peons</name>
        <label>Update Peons</label>
        <locationX>496</locationX>
        <locationY>978</locationY>
        <connector>
            <targetReference>Set_Done_variable</targetReference>
        </connector>
        <inputReference>PeonsToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Manager_Management</name>
        <label>Manager Management</label>
        <locationX>492</locationX>
        <locationY>610</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Each_and_Assign_Manager</targetReference>
        </connector>
        <fields>
            <name>NewManager</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ManagerId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PeonTable</name>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Peon_Users</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>IsActive,Name,ManagerId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>IsActive:103, Name:251, ManagerId:552</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Select the Users to Re-Manager</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <helpText>&lt;p&gt;The purpose of this is when there is a change in managers to easily get the people set up with their new manager without going from user record to user record.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Manager_Management_0</name>
        <label>Manager Management</label>
        <locationX>501</locationX>
        <locationY>1224</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DoneText_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Good Job!  All done!  You can exit out of this screen now.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>&lt;p&gt;The purpose of this is when there is a change in managers to easily get the people set up with their new manager without going from user record to user record.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoPeonsError</name>
        <label>Manager Management Error</label>
        <locationX>641</locationX>
        <locationY>612</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;This user doesn&apos;t have any direct reports they are listed as the manager for.  Sorry this utility failed you!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>User_Record</startElementReference>
    <status>Draft</status>
    <variables>
        <name>PeonsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
