flows/Weekly_Status_Create_New.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Program_Weekly_Status</name>
        <label>New Program Weekly Status</label>
        <locationX>1161</locationX>
        <locationY>216</locationY>
        <actionName>MPM4_BASE__Milestone1_Program__c.New_Weekly_Status</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>Comments__c</name>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Highlights_Last_Week__c</name>
            <value>
                <elementReference>Highlights_Last_Week</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Plans_This_Week__c</name>
            <value>
                <elementReference>Plans_This_Week</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Report_Date__c</name>
            <value>
                <elementReference>Report_Date</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Project_Weekly_Status</name>
        <label>New Project Weekly Status</label>
        <locationX>1168</locationX>
        <locationY>345</locationY>
        <actionName>MPM4_BASE__Milestone1_Project__c.New_Weekly_Status</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>Comments__c</name>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Highlights_Last_Week__c</name>
            <value>
                <elementReference>Highlights_Last_Week</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Plans_This_Week__c</name>
            <value>
                <elementReference>Plans_This_Week</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Report_Date__c</name>
            <value>
                <elementReference>Report_Date</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Program_Values</name>
        <label>Assign Program Values</label>
        <locationX>926</locationX>
        <locationY>245</locationY>
        <assignmentItems>
            <assignToReference>WeeklyStatusRecord.Report_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Report_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WeeklyStatusRecord.Highlights_Last_Week__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Highlights_Last_Week</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WeeklyStatusRecord.Plans_This_Week__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plans_This_Week</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WeeklyStatusRecord.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WeeklyStatusRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WeeklyStatusRecord.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProgramId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WeeklyStatusRecord.Reason_For_Red_Amber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MergeReasonForRed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WeeklyStatusRecord.Path_to_Green__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MergePathToGreen12</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Values</name>
        <label>Assign Project Values</label>
        <locationX>929</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>WeeklyStatusRecord.Report_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Report_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WeeklyStatusRecord.Highlights_Last_Week__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Highlights_Last_Week</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WeeklyStatusRecord.Plans_This_Week__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plans_This_Week</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WeeklyStatusRecord.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WeeklyStatusRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WeeklyStatusRecord.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProjectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WeeklyStatusRecord.Reason_For_Red_Amber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MergeReasonForRed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WeeklyStatusRecord.Path_to_Green__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MergePathToGreen12</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Project_or_Program</name>
        <label>Project or Program?</label>
        <locationX>592</locationX>
        <locationY>251</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_Record_Type_Id</targetReference>
            </connector>
            <label>Project</label>
        </rules>
        <rules>
            <name>Program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProgramId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Program_Record_Type_Id</targetReference>
            </connector>
            <label>Program</label>
        </rules>
    </decisions>
    <description>Added fields Reason For Red/Amber and Path to Green</description>
    <formulas>
        <name>MergePathToGreen12</name>
        <dataType>String</dataType>
        <expression>IF({!Path_to_Green1}==Null,{!Path_To_Green2},{!Path_to_Green1})</expression>
    </formulas>
    <formulas>
        <name>MergeReasonForRed</name>
        <dataType>String</dataType>
        <expression>IF({!Reason_For_Red_Amber1}==Null,{!Reason_For_Red_Amber2},{!Reason_For_Red_Amber1})</expression>
    </formulas>
    <formulas>
        <name>requir</name>
        <dataType>Boolean</dataType>
        <expression>(OR(ISPICKVAL( {!WeeklyStatusRecord.Project__r.Scope__c} , &apos;Red&apos;),
ISPICKVAL( {!WeeklyStatusRecord.Project__r.Schedule__c} , &apos;Red&apos;),
ISPICKVAL({!WeeklyStatusRecord.Project__r.Risk__c}, &apos;Red&apos;),
ISPICKVAL( {!WeeklyStatusRecord.Project__r.Budget__c} , &apos;Red&apos;),
ISPICKVAL( {!WeeklyStatusRecord.Project__r.Revenue_Recognition_Heatlh__c} , &apos;Red&apos;),
ISPICKVAL( {!WeeklyStatusRecord.Project__r.Scope__c} , &apos;Yellow&apos;),
ISPICKVAL( {!WeeklyStatusRecord.Project__r.Schedule__c} , &apos;Yellow&apos;),
ISPICKVAL( {!WeeklyStatusRecord.Project__r.Budget__c} , &apos;Yellow&apos;),
ISPICKVAL( {!WeeklyStatusRecord.Project__r.Revenue_Recognition_Heatlh__c} , &apos;Yellow&apos;),
ISPICKVAL( {!WeeklyStatusRecord.Project__r.Risk__c} , &apos;Yellow&apos;)))
&amp;&amp;
(ISBLANK( {!WeeklyStatusRecord.Path_to_Green__c}))</expression>
    </formulas>
    <formulas>
        <name>requiredfiled</name>
        <dataType>Boolean</dataType>
        <expression>(ISBLANK({!WeeklyStatusRecord.Reason_For_Red_Amber__c} ))</expression>
    </formulas>
    <formulas>
        <name>RequiredFormula</name>
        <dataType>Boolean</dataType>
        <expression>
(OR(ISPICKVAL( {!WeeklyStatusRecord.Project__r.Scope__c} , &apos;Red&apos;),
ISPICKVAL( {!WeeklyStatusRecord.Project__r.Schedule__c} , &apos;Red&apos;),
ISPICKVAL({!WeeklyStatusRecord.Project__r.Risk__c}, &apos;Red&apos;),
ISPICKVAL( {!WeeklyStatusRecord.Project__r.Budget__c} , &apos;Red&apos;),
ISPICKVAL( {!WeeklyStatusRecord.Project__r.Revenue_Recognition_Heatlh__c} , &apos;Red&apos;),
ISPICKVAL( {!WeeklyStatusRecord.Project__r.Scope__c} , &apos;Yellow&apos;),
ISPICKVAL( {!WeeklyStatusRecord.Project__r.Schedule__c} , &apos;Yellow&apos;),
ISPICKVAL( {!WeeklyStatusRecord.Project__r.Budget__c} , &apos;Yellow&apos;),
ISPICKVAL( {!WeeklyStatusRecord.Project__r.Revenue_Recognition_Heatlh__c} , &apos;Yellow&apos;),
ISPICKVAL( {!WeeklyStatusRecord.Project__r.Risk__c} , &apos;Yellow&apos;)))</expression>
    </formulas>
    <formulas>
        <name>RiteshFormula</name>
        <dataType>Boolean</dataType>
        <expression>
(OR(ISPICKVAL( {!WeeklyStatusRecord.Project__r.Scope__c} , &apos;Red&apos;),
ISPICKVAL( {!WeeklyStatusRecord.Project__r.Schedule__c} , &apos;Red&apos;),
ISPICKVAL({!WeeklyStatusRecord.Project__r.Risk__c}, &apos;Red&apos;),
ISPICKVAL( {!WeeklyStatusRecord.Project__r.Budget__c} , &apos;Red&apos;),
ISPICKVAL( {!WeeklyStatusRecord.Project__r.Revenue_Recognition_Heatlh__c} , &apos;Red&apos;),
ISPICKVAL( {!WeeklyStatusRecord.Project__r.Scope__c} , &apos;Yellow&apos;),
ISPICKVAL( {!WeeklyStatusRecord.Project__r.Schedule__c} , &apos;Yellow&apos;),
ISPICKVAL( {!WeeklyStatusRecord.Project__r.Budget__c} , &apos;Yellow&apos;),
ISPICKVAL( {!WeeklyStatusRecord.Project__r.Revenue_Recognition_Heatlh__c} , &apos;Yellow&apos;),
ISPICKVAL( {!WeeklyStatusRecord.Project__r.Risk__c} , &apos;Yellow&apos;)))</expression>
    </formulas>
    <formulas>
        <name>showToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Weekly {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Weekly Status - Create New 26</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Record</name>
        <label>Create Record</label>
        <locationX>1037</locationX>
        <locationY>321</locationY>
        <inputReference>WeeklyStatusRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetProjectDetails</name>
        <label>GetProjectDetails</label>
        <locationX>472</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Weekly_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectId</elementReference>
            </value>
        </filters>
        <object>MPM4_BASE__Milestone1_Project__c</object>
    </recordLookups>
    <screens>
        <name>New_Weekly_Status</name>
        <label>New Weekly Status</label>
        <locationX>479</locationX>
        <locationY>310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Project_or_Program</targetReference>
        </connector>
        <fields>
            <name>TEMP</name>
            <fieldText>&lt;p&gt;{!varProgramId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Report_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>showToday</elementReference>
            </defaultValue>
            <fieldText>Report Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Highlights_Last_Week</name>
            <fieldText>Highlights This Week</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Plans_This_Week</name>
            <fieldText>Focus for Next Week</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reason_For_Red_Amber1</name>
            <fieldText>Reason For Red/Amber</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>GetProjectDetails.Scope__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yellow</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Schedule__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yellow</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Risk__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yellow</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Revenue_Recognition_Heatlh__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yellow</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Budget__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yellow</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Scope__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Red</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Risk__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Red</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Schedule__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Red</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Revenue_Recognition_Heatlh__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Red</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Budget__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Red</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reason_For_Red_Amber2</name>
            <fieldText>Reason For Red/Amber</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetProjectDetails.Risk__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Green</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Schedule__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Green</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Scope__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Green</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Revenue_Recognition_Heatlh__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Green</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Budget__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Green</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Path_to_Green1</name>
            <fieldText>Path to Green</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10</conditionLogic>
                <conditions>
                    <leftValueReference>GetProjectDetails.Scope__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yellow</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Risk__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yellow</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Schedule__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yellow</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Budget__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yellow</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Revenue_Recognition_Heatlh__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yellow</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Risk__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Red</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Scope__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Red</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Schedule__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Red</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Revenue_Recognition_Heatlh__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Red</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Budget__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Red</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Path_To_Green2</name>
            <fieldText>Path To Green</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetProjectDetails.Scope__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Green</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Schedule__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Green</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Risk__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Green</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Revenue_Recognition_Heatlh__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Green</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetProjectDetails.Budget__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Green</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>GetProjectDetails</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Get_Program_Record_Type_Id</name>
        <label>Get Program Record Type Id</label>
        <locationX>814</locationX>
        <locationY>248</locationY>
        <connector>
            <targetReference>Assign_Program_Values</targetReference>
        </connector>
        <flowName>RecordTypeID_Lookup_Subflow</flowName>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>MPM4_Milestone1_Log__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <stringValue>Program_Log</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <name>RecordTypeID15</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Project_Record_Type_Id</name>
        <label>Get Project Record Type Id</label>
        <locationX>809</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Assign_Project_Values</targetReference>
        </connector>
        <flowName>RecordTypeID_Lookup_Subflow</flowName>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>MPM4_Milestone1_Log__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <stringValue>Project_Log</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <name>RecordTypeID15</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>MergePathtoGreen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>re</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>requiredfiled</elementReference>
        </value>
    </variables>
    <variables>
        <name>reqfor</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>usevariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>RequiredFormula</elementReference>
        </value>
    </variables>
    <variables>
        <name>varProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WeeklyStatusRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MPM4_Milestone1_Log__c</objectType>
    </variables>
</Flow>
